Repository rook/rook, pull requests merged in 2018-12, with the labels that each got.

#2001 Set service account on ceph-mgr pod
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  Documentation/k8s-pre-reqs.md
  Documentation/openshift.md
  Documentation/rbac.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/scc.yaml
  pkg/apis/ceph.rook.io/v1beta1/types.go
  pkg/apis/rook.io/v1alpha2/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/upgrade_test.go
Labels: ceph

#2314 ceph: Update deployments on rook img update
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/k8sutil/test/deployment.go
Labels: ceph, operator

#2341 doc: rename monitoring doc for Ceph
  Documentation/ceph-dashboard.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/development-flow.md
  cluster/examples/kubernetes/ceph/monitoring/prometheus-service.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus.yaml
  cluster/examples/kubernetes/ceph/monitoring/service-monitor.yaml
Labels: docs

#2214 Ceph CRDs: Add additionalPrinterColumns to enhance command line output
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#2318 Cockroachdb + Minio: Use PersistentVolumeClaimTemplates storage
  Documentation/cockroachdb-cluster-crd.md
  Documentation/minio-object-store-crd.md
  cluster/examples/kubernetes/cockroachdb/cluster.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/minio/object-store.yaml
  pkg/apis/cockroachdb.rook.io/v1alpha1/types.go
  pkg/apis/cockroachdb.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/cockroachdb/controller.go
  pkg/operator/cockroachdb/controller_test.go
  pkg/operator/minio/controller.go
  pkg/operator/minio/controller_test.go
  tests/framework/installer/cockroachdb_manifests.go
Labels: cockroachdb, minio

#2349 Fix issues with mons and mgr when using hostnetwork
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/file/spec.go
  pkg/operator/ceph/object/spec.go
Labels: operator

#2354 Restructure docs for storage provider view
  Documentation/README.md
  Documentation/advanced-configuration.md
  Documentation/cassandra-cluster-crd.md
  Documentation/ceph-block.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-dashboard.md
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-filesystem.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-object-store-crd.md
  Documentation/ceph-object-store-user-crd.md
  Documentation/ceph-object.md
  Documentation/ceph-pool-crd.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-storage.md
  Documentation/ceph-teardown.md
  Documentation/ceph-toolbox.md
  Documentation/ceph-tools.md
  Documentation/ceph-upgrade.md
  Documentation/cockroachdb-cluster-crd.md
  Documentation/common-issues.md
  Documentation/container-linux.md
  Documentation/crds.md
  Documentation/development-environment.md
  Documentation/development-flow.md
  Documentation/direct-tools.md
  Documentation/disaster-recovery.md
  Documentation/edgefs-cluster-crd.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-iscsi-crd.md
  Documentation/edgefs-nfs-crd.md
  Documentation/edgefs-s3-crd.md
  Documentation/edgefs-s3x-crd.md
  Documentation/edgefs-storage.md
  Documentation/helm-operator.md
  Documentation/helm.md
  Documentation/minio-object-store-crd.md
  Documentation/nfs-crd.md
  Documentation/openshift.md
  Documentation/quickstart-toc.md
  Documentation/storage.md
  PendingReleaseNotes.md
  design/ceph-nfs-ganesha.md
  design/decouple-ceph-version.md
  design/object-store.md
  design/upgrade.md
Labels: docs

#2385 Introduced new configurational option "sync"
  Documentation/edgefs-cluster-crd.md
  cluster/examples/kubernetes/edgefs/cluster.yaml
  pkg/operator/edgefs/cluster/target/config/config.go
  pkg/operator/edgefs/cluster/target/configmap.go
  pkg/operator/edgefs/cluster/target/layout.go
  pkg/operator/edgefs/cluster/target/pod.go
  pkg/operator/edgefs/cluster/target/pod_test.go
  pkg/operator/edgefs/cluster/target/target.go
Labels: EdgeFS, docs, operator

#2393 Fix name of ec data pool StorageClass parameter
  pkg/daemon/ceph/agent/flexvolume/controller.go
  pkg/daemon/ceph/agent/flexvolume/controller_test.go
  pkg/operator/ceph/provisioner/provisioner.go
  pkg/operator/ceph/provisioner/provisioner_test.go
Labels: block, ceph

#2386 Backport: EdgeFS documentation needs more love
  Documentation/README.md
  Documentation/edgefs-cluster-crd.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-quickstart.md
  Documentation/edgefs-storage.md
  README.md
Labels: EdgeFS, docs

#2278 Cassandra Operator: Scale Down Design
  design/cassandra/media/scale_down.png
  design/cassandra/scale_down.md
Labels: design

#2407 Fix code block indention in openshift doc
  Documentation/cassandra-cluster-crd.md
  Documentation/openshift.md
Labels: docs

#2410 Backport: Wrong condition in devices discovery
  pkg/operator/edgefs/cluster/target/config/config.go
  pkg/operator/edgefs/cluster/target/configmap.go
  pkg/operator/edgefs/cluster/target/target.go
Labels: EdgeFS, operator
