Repository rook/rook, pull requests merged in 2018-07, with the labels that each got.

#1834 helm: Added `nodeSelector` to rook-ceph operator chart
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: ceph, helm

#1766 osd: skip wait loop when initial PGs is 0
  pkg/operator/ceph/cluster/osd/remove.go
Labels: ceph

#1875 omit empty osd objectstore
  pkg/daemon/ceph/mon/config.go
Labels: ceph

#1899 Fix typo in Cluster Example
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: docs

#1898 Apply placement to OSD Pod Spec
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/pod.go
Labels: ceph, operator

#1909 operator: Set min_size to dataChunkCount for ec pools
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/daemon/ceph/rgw/objectstore.go
Labels: block, ceph

#1929 Fix codegen script replace
  build/codegen/codegen.sh
Labels: build

#1912 make: Allow building select images
  INSTALL.md
  Makefile
  build/makelib/common.mk
  build/release/Makefile
  images/Makefile
  images/ceph-toolbox/Makefile
  images/ceph/Makefile
  images/cockroachdb/Makefile
  images/cross/Makefile
  images/image.mk
Labels: build

#1927 Backport "osd: Truncate too long name for prepare job" #1908
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/pod.go
  pkg/operator/ceph/cluster/osd/pod_test.go
  pkg/operator/k8sutil/k8sutil.go
  pkg/operator/k8sutil/k8sutil_test.go
Labels: ceph, operator

#1928 Added fstype: xfs as default in the examples
  Documentation/block.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/storageclass.yaml
Labels: ceph, docs

#1934 Updated Gopkg.lock by running `make vendor`
  Gopkg.lock
Labels: build

#1940 Backport PR #1909 "operator: Set min_size to dataChunkCount for ec pools"
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/daemon/ceph/rgw/objectstore.go
Labels: backport, ceph

#1926 operator/osd: Use UpdateStrategy Recreate
  pkg/operator/ceph/cluster/osd/pod.go
Labels: ceph, operator

#1954 operator/osd: Use UpdateStrategy Recreate
  pkg/operator/ceph/cluster/osd/pod.go
Labels: backport, operator

#1962 Fix storage config Ceph Cluster CRD doc links
  Documentation/ceph-cluster-crd.md
Labels: docs, needs-backport
