Repository rook/rook, pull requests merged in 2018-06, with the labels that each got.

#1774 Clarify that path must exist for filesystem mount to succeed
  Documentation/filesystem.md
  cluster/examples/kubernetes/ceph/kube-registry.yaml
Labels: ceph, docs, filesystem

#1763 Document discover DaemonSet toleration key
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/discover/discover.go
Labels: helm, operator

#1778 doc: Add missing version compare sign
  Documentation/flexvolume.md
Labels: docs

#1787 Add Slack inviter link to quickstart
  Documentation/quickstart.md
Labels: docs

#1777 CockroachDB operator implementation
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-object-store-crd.md
  Documentation/ceph-pool-crd.md
  Documentation/cockroachdb-cluster-crd.md
  Documentation/cockroachdb.md
  Documentation/crds.md
  Documentation/teardown.md
  Jenkinsfile
  PendingReleaseNotes.md
  build/codegen/codegen.sh
  build/release/Makefile
  build/release/README.md
  cluster/examples/kubernetes/cockroachdb/cluster.yaml
  cluster/examples/kubernetes/cockroachdb/loadgen-kv.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cmd/rook/cockroachdb/cockroachdb.go
  cmd/rook/cockroachdb/operator.go
  cmd/rook/main.go
  design/cluster-update.md
  images/Makefile
  images/cockroachdb/Dockerfile
  images/cockroachdb/Makefile
  pkg/apis/cockroachdb.rook.io/register.go
  pkg/apis/cockroachdb.rook.io/v1alpha1/doc.go
  pkg/apis/cockroachdb.rook.io/v1alpha1/register.go
  pkg/apis/cockroachdb.rook.io/v1alpha1/types.go
  pkg/apis/cockroachdb.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/cluster.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/cockroachdb_client.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/fake/fake_cluster.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/fake/fake_cockroachdb_client.go
  pkg/client/clientset/versioned/typed/cockroachdb/v1alpha1/generated_expansion.go
  pkg/operator/cockroachdb/controller.go
  pkg/operator/cockroachdb/controller_test.go
  pkg/operator/cockroachdb/operator.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/pod_test.go
  tests/framework/clients/filesystem.go
  tests/framework/clients/object.go
  tests/framework/installer/cockroachdb.go
  tests/framework/installer/install_helper.go
  tests/framework/installer/provisioners.go
  tests/framework/utils/k8s_helper.go
  tests/integration/base_deploy_test.go
  tests/integration/block_createBlock_k8s_test.go
  tests/integration/cockroachdb_test.go
  tests/longhaul/base_block_test.go
  tests/pipeline/Jenkinsfile.k8sSetup
  tests/scripts/makeTestImages.sh
  tests/scripts/minikube.sh
Labels: cockroachdb

#1781 Cleanup/Remove unnecessary whitespaces/new lines in scripts and documentation
  Documentation/ceph-dashboard.md
  Documentation/ceph-pool-crd.md
  Documentation/disaster-recovery.md
  MAINTAINERS_RULES.md
  PendingReleaseNotes.md
  build/codegen/codegen.sh
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/examples/kubernetes/README.md
  design/data-model.md
  design/dedicated-osd-pod.md
  design/filesystem.md
  design/object-store.md
  design/security-model.md
  tests/README.md
  tests/scripts/dind-cluster-rbd
  tests/scripts/helm.sh
  tests/scripts/kubeadm-dind.sh
  tests/scripts/kubeadm-install.sh
  tests/scripts/kubeadm.sh
  tests/scripts/makeTestImages.sh
  tests/scripts/minikube.sh
Labels: docs

#1831 Don't set default for IP flags
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/mon.go
  pkg/clusterd/network.go
  pkg/daemon/ceph/mon/daemon.go
Labels: ceph, daemon
