Repository rook/rook, pull requests merged in 2018-08, with the labels that each got.

#1958 Improve flexvolume docs with better structure
  Documentation/flexvolume.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: docs, flexvolume, needs-backport, operator

#1975 Backport: #1958 "Improve flexvolume docs with better structure"
  Documentation/flexvolume.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: backport

#1992 Update clusterName to clusterNamespace in example
  cluster/examples/kubernetes/ceph/kube-registry.yaml
  tests/integration/base_file_test.go
Labels: docs

#1987 Fix build/run when running on macos
  images/cross/run.sh
Labels: build

#1976 Docs: clarify pool replication samples
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-pool-crd.md
Labels: docs, needs-backport

#1994 update roadmap for v0.9+
  ROADMAP.md
Labels: docs

#1990 Return error when no valid nodes available to run osd
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/status_test.go
Labels: ceph, operator

#1983 Continue with tests while namespace and crds are being deleted
  tests/framework/installer/cockroachdb.go
  tests/framework/installer/install_helper.go
  tests/framework/utils/k8s_helper.go
  tests/integration/base_file_test.go
  tests/integration/block_createBlock_k8s_test.go
  tests/integration/zblock_mount_unmount_test.go
Labels: test

#1784 helm: support adding annotations on pod
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: helm, operator

#1947 Enhancement of Ceph volume manager kmod detection
  pkg/daemon/ceph/agent/agent.go
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager.go
  pkg/util/sys/kmod.go
Labels: ceph

#1980 PR template: Add godoc comments to checklist
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: docs

#2015 Update the common-issue documentation
  Documentation/common-issues.md
Labels: docs

#2024 Update dynamic-provision-filesystem.md
  design/dynamic-provision-filesystem.md
Labels: design, docs

#1959 Add dataPool parameter to StorageClass
  Documentation/block.md
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-pool-crd.md
  Documentation/common-issues.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/ec-storageclass.yaml
  cluster/examples/kubernetes/ceph/storageclass.yaml
  pkg/daemon/ceph/agent/flexvolume/controller.go
  pkg/daemon/ceph/agent/flexvolume/controller_test.go
  pkg/daemon/ceph/client/image.go
  pkg/daemon/ceph/client/image_test.go
  pkg/operator/ceph/provisioner/provisioner.go
  pkg/operator/ceph/provisioner/provisioner_test.go
Labels: ceph, needs-backport, operator

#1783 Add NFS to Rook
  Documentation/minio-object-store-crd.md
  Documentation/nfs-crd.md
  Documentation/nfs.md
  Jenkinsfile
  PendingReleaseNotes.md
  README.md
  build/codegen/codegen.sh
  build/makelib/common.mk
  cluster/examples/kubernetes/nfs/busybox-rc.yaml
  cluster/examples/kubernetes/nfs/nfs-ceph.yaml
  cluster/examples/kubernetes/nfs/nfs.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/nfs/pv.yaml
  cluster/examples/kubernetes/nfs/pvc.yaml
  cluster/examples/kubernetes/nfs/web-rc.yaml
  cluster/examples/kubernetes/nfs/web-service.yaml
  cmd/rook/main.go
  cmd/rook/nfs/nfs.go
  cmd/rook/nfs/operator.go
  design/nfs.md
  images/Makefile
  images/nfs/Dockerfile
  images/nfs/Makefile
  images/nfs/start.sh
  pkg/apis/nfs.rook.io/register.go
  pkg/apis/nfs.rook.io/v1alpha1/doc.go
  pkg/apis/nfs.rook.io/v1alpha1/register.go
  pkg/apis/nfs.rook.io/v1alpha1/types.go
  pkg/apis/nfs.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/fake/fake_nfs_client.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/fake/fake_nfsserver.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/nfs_client.go
  pkg/client/clientset/versioned/typed/nfs/v1alpha1/nfsserver.go
  pkg/operator/nfs/controller.go
  pkg/operator/nfs/controller_test.go
  pkg/operator/nfs/operator.go
  tests/framework/clients/read_write.go
  tests/framework/installer/cockroachdb.go
  tests/framework/installer/install_helper.go
  tests/framework/installer/nfs.go
  tests/framework/installer/nfs_install_data.go
  tests/integration/cockroachdb_test.go
  tests/integration/nfs_test.go
  tests/pipeline/Jenkinsfile.k8sSetup
  tests/scripts/kubeadm-install.sh
  tests/scripts/makeTestImages.sh
  tests/scripts/minikube.sh
Labels: nfs, operator

#2071 Roundup the size of the RBD volume image
  pkg/daemon/ceph/client/image.go
  pkg/daemon/ceph/client/image_test.go
Labels: ceph
