Repository rook/rook, pull requests merged in 2018-11, with the labels that each got.

#2083 Added source code layout to development-flow doc
  Documentation/development-flow.md
Labels: docs

#1915 Add urlPrefix setting for ceph dashboard
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-dashboard.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/apis/ceph.rook.io/v1beta1/types.go
  pkg/daemon/ceph/client/mgr.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
Labels: ceph

#2076 Define a CRD for object store users
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-object-store-user-crd.md
  Documentation/object.md
  Gopkg.lock
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/object-user.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/apis/ceph.rook.io/v1beta1/register.go
  pkg/apis/ceph.rook.io/v1beta1/types.go
  pkg/apis/ceph.rook.io/v1beta1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1beta1/ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1beta1/fake/fake_ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1beta1/fake/fake_objectstoreuser.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1beta1/generated_expansion.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1beta1/objectstoreuser.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/operator_test.go
  tests/framework/clients/object_user.go
  tests/framework/clients/test_client.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v0.8.go
  tests/integration/base_object_test.go
Labels: objectstore

#2304 Update flexvolume docs for rancher rke
  Documentation/flexvolume.md
Labels: docs
