Repository rook/rook, pull requests merged in 2018-09, with the labels that each got.

#2014 Design doc for decoupling the Ceph version
  ROADMAP.md
  design/decouple-ceph-version.md
Labels: design

#2094 Ceph: refactor daemon includes to <dmn>daemon for grokkability
  cmd/rook/ceph/mds.go
  cmd/rook/ceph/mgr.go
  cmd/rook/ceph/mon.go
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/rgw.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/file/mds.go
  pkg/operator/ceph/object/rgw.go
  tests/integration/base_object_test.go
Labels: ceph, daemon

#2096 Refactor mon naming for use by other daemons
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/cluster/mon/util_test.go
  pkg/operator/k8sutil/name.go
  pkg/operator/k8sutil/name_test.go
Labels: ceph, operator

#2097 Enable CI system logs in artifacts
  Jenkinsfile
Labels: build

#2085 Fix rook nfs docker image build failure on AArch64
  images/nfs/Dockerfile
Labels: build, nfs

#2104 [Documentation] Updated NFS prerequisite
  Documentation/nfs.md
Labels: docs, nfs

#2090 golang 1.11 support
  build/makelib/golang.mk
  images/cross/Dockerfile
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/provisioner/controller/controller.go
  pkg/operator/ceph/provisioner/controller/controller_test.go
  pkg/operator/ceph/provisioner/provisioner_test.go
  pkg/operator/cockroachdb/controller.go
  pkg/util/proc/monitoredproc.go
Labels: build

#1995 Support storageclass reclaimpolicy
  Documentation/block.md
  PendingReleaseNotes.md
  pkg/operator/ceph/provisioner/controller/controller.go
  pkg/operator/ceph/provisioner/controller/controller_test.go
  pkg/operator/ceph/provisioner/provisioner_test.go
  tests/framework/clients/block.go
  tests/framework/clients/pool.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v0.8.go
  tests/framework/utils/k8s_helper.go
  tests/integration/base_block_test.go
  tests/integration/block_create_test.go
  tests/integration/zblock_mount_unmount_test.go
  tests/longhaul/base_block_test.go
Labels: kubernetes, operator

#2127 Make integration tests more resilient to crd deletion failure
  tests/framework/installer/ceph_installer.go
  tests/framework/utils/k8s_helper.go
Labels: test

#2095 Ceph mon: initialize mon config in init container
  PendingReleaseNotes.md
  cmd/rook/ceph/mon.go
  pkg/daemon/ceph/config/pod.go
  pkg/daemon/ceph/config/pod_test.go
  pkg/daemon/ceph/mon/config.go
  pkg/daemon/ceph/mon/daemon.go
  pkg/daemon/ceph/mon/endpoint.go
  pkg/daemon/ceph/mon/endpoint_test.go
  pkg/daemon/ceph/mon/init.go
  pkg/daemon/ceph/mon/init_test.go
  pkg/operator/ceph/cluster/mon/env.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/mon/util.go
Labels: ceph, daemon, enhancement

#1900 Design doc for making Ceph pool creation/deletion optional
  design/external-management.md
Labels: ceph, design

#2113 Log the output of blkid to see if device should be formatted
  cmd/rookflex/cmd/mount.go
Labels: reliability, test

#2139 build: fix the check for dep ensure
  build/makelib/golang.mk
Labels: build

#2114 Ceph mgr: initialize mgr config in init container
  PendingReleaseNotes.md
  cmd/rook/ceph/mgr.go
  cmd/rook/ceph/mon.go
  pkg/daemon/ceph/config/info.go
  pkg/daemon/ceph/config/pod.go
  pkg/daemon/ceph/mgr/init.go
  pkg/daemon/ceph/mon/init.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/spec/spec_test.go
  pkg/operator/ceph/test/container.go
  pkg/operator/test/client.go
  pkg/operator/test/info.go
  pkg/operator/test/spec.go
  pkg/operator/test/spec_test.go
  pkg/operator/test/volumes.go
  pkg/operator/test/volumes_test.go
Labels: ceph, daemon, enhancement, operator

#2152 Backport: Added missing RBAC in quickstart Cluster definition
  Documentation/ceph-quickstart.md
  Documentation/openshift.md
  Documentation/rbac.md
  cluster/examples/kubernetes/ceph/scc.yaml
  design/resource-constraints.md
Labels: backport

#2120 ceph: expose node,pod,ns names to ceph daemons
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/pod.go
  pkg/operator/ceph/cluster/osd/pod_test.go
  pkg/operator/ceph/file/mds.go
  pkg/operator/ceph/file/mds_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/k8sutil/pod.go
Labels: ceph

#1800 Add Ceph NFS-Ganesha CRD design doc
  design/ceph-nfs-ganesha.md
Labels: ceph, design

#2059 add ceph csi driver proposal
  design/ceph-csi-driver.md
Labels: ceph

#2167 docs: fix typo
  Documentation/cockroachdb-cluster-crd.md
Labels: docs
