Repository rook/rook, pull requests merged in 2019-04, with the labels that each got.

#2930 ceph: add support octopus version detection
  pkg/operator/ceph/version/version.go
Labels: ceph

#2676 Deleting CephObjectStoreUser does not delete secret
  pkg/operator/ceph/object/user/controller.go
  tests/framework/clients/object_user.go
  tests/integration/base_object_test.go
Labels: ceph, objectstore

#2910 ceph: fix for masked upgrade failures and getting integrations running again
  pkg/daemon/ceph/client/auth.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/config/keyring/store.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/k8sutil/daemonset.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/k8sutil.go
  pkg/operator/k8sutil/name.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/replicaset.go
  pkg/operator/k8sutil/service.go
  pkg/operator/k8sutil/statefulset.go
  pkg/operator/test/deployment.go
  tests/integration/upgrade_test.go
Labels: bug, ceph, mon

#2940 Add nautilus to the list of supported Ceph versions
  PendingReleaseNotes.md
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
  tests/framework/installer/ceph_installer.go
Labels: ceph

#2952 support for configurable trlog settings
  Documentation/edgefs-cluster-crd.md
  cluster/examples/kubernetes/edgefs/cluster.yaml
  pkg/apis/edgefs.rook.io/v1alpha1/devices.go
  pkg/apis/edgefs.rook.io/v1alpha1/types.go
  pkg/apis/edgefs.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/edgefs/cluster/cluster.go
  pkg/operator/edgefs/cluster/configmap.go
Labels: EdgeFS

#2964 remove manual namespace creation from doc
  Documentation/ceph-csi-drivers.md
Labels: docs, operator

#2864 prevent multiple orchestrations at the same time
  pkg/operator/ceph/cluster/cluster.go
Labels: bug, ceph, operator

#2936 ceph: remove osd host nodes only when certain
  Documentation/ceph-cluster-crd.md
  Gopkg.lock
  PendingReleaseNotes.md
  pkg/apis/rook.io/v1alpha2/storage.go
  pkg/apis/rook.io/v1alpha2/storage_test.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
  pkg/operator/k8sutil/taints.go
  pkg/operator/test/client.go
  pkg/operator/test/deployment.go
  tests/integration/upgrade_test.go
Labels: bug, ceph, operator, osd

#2962 ceph: add link to ceph docs on encryption details
  Documentation/ceph-cluster-crd.md
Labels: ceph, docs

#2842 ceph filesytem: use `fs fail` to bring down filesystem
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
Labels: ceph, filesystem

#2971 ceph: add 'rook-version' label to controllers
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/k8sutil/daemonset.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/job.go
  pkg/operator/k8sutil/k8sutil.go
Labels: ceph, docs, feature, upgrade

#2976 rookflex: Use `clusterName` if available for backwards compatibility
  pkg/daemon/ceph/agent/flexvolume/controller.go
  pkg/operator/ceph/provisioner/provisioner.go
Labels: flexvolume

#2942 set correct flexvolume dir for openshift4
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
Labels: docs, flexvolume

#2921 Log to file
  Documentation/common-issues.md
  PendingReleaseNotes.md
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/device.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/datapath.go
  pkg/operator/ceph/config/datapath_test.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/spec/spec_test.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: ceph

#2893 ceph/osd: mount /run/udev for lvs speedup
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#2991 ceph mds: update keyring before deployment update
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/k8sutil/deployment.go
Labels: bug, ceph, upgrade

#2946 ceph udev monitor / hotpluggin
  PendingReleaseNotes.md
  pkg/daemon/discover/discover.go
  pkg/daemon/discover/discover_test.go
  pkg/operator/ceph/cluster/controller.go
Labels: ceph, feature

#2986 Ceph: Set noout on cluster when storage nodes are in maintenance
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/osd.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status.go
Labels: ceph, reliability

#3015 Helm chart: Improve operator performance and add CephNFS CRD
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
  tests/framework/installer/cassandra_installer.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/cockroachdb_installer.go
  tests/framework/installer/edgefs_installer.go
  tests/framework/installer/nfs_installer.go
  tests/framework/utils/k8s_helper.go
  tests/integration/base_object_test.go
Labels: helm

#2996 Prometheus Rule for Ceph
  Documentation/ceph-monitoring.md
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-rules.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus.yaml
Labels: ceph, docs, monitoring

#3009 ceph mon: remove code to delete legacy replicasets
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/operator/ceph/cluster/mon/mon.go
  tests/integration/upgrade_test.go
Labels: ceph, mon, operator

#3003 This prevents a liquid template error during jekyll build
  Documentation/edgefs-csi.md
Labels: docs

#2333 Publish the build independent from the integration test results
  Jenkinsfile
Labels: build

#2978 Add `ceph-version` labels to Ceph application controllers
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/spec/label.go
Labels: ceph, feature, operator, upgrade

#2403 docs: update ROOK_MON_HEALTHCHECK_INTERVAL
  Documentation/ceph-cluster-crd.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml.tmpl
  design/mon-health.md
  pkg/operator/ceph/cluster/mon/health.go
Labels: ceph, design, mon

#2974 csi with openshift support
  Documentation/ceph-examples.md
  cluster/examples/kubernetes/ceph/operator-openshift-with-csi.yaml
Labels: ceph, csi

#2900 Fix mgr settings
  pkg/daemon/ceph/client/mgr.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
Labels: ceph

#3045 Fix current Minio issues
  PendingReleaseNotes.md
  images/minio/Dockerfile
  pkg/operator/minio/controller.go
Labels: minio

#2920 Add k8s 1.14 to the integration test matrix
  Jenkinsfile
  tests/scripts/helm.sh
  tests/scripts/minikube.sh
Labels: test

#2758 enhance(NFS): adds dynamic provisoning for nfs
  Documentation/nfs.md
  Gopkg.lock
  Gopkg.toml
  cluster/examples/kubernetes/nfs/nfs-ceph.yaml
  cluster/examples/kubernetes/nfs/nfs.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/nfs/pv.yaml
  cluster/examples/kubernetes/nfs/pvc.yaml
  cluster/examples/kubernetes/nfs/sc.yaml
  cmd/rook/nfs/nfs.go
  cmd/rook/nfs/provisioner.go
  cmd/rook/nfs/server.go
  images/nfs/Dockerfile
  images/nfs/Makefile
  images/nfs/start.sh
  pkg/apis/nfs.rook.io/v1alpha1/types.go
  pkg/operator/nfs/controller.go
  pkg/operator/nfs/controller_test.go
  pkg/operator/nfs/provisioner.go
  pkg/operator/nfs/server.go
  tests/framework/installer/nfs_installer.go
  tests/framework/installer/nfs_manifests.go
  tests/integration/nfs_test.go
Labels: feature, nfs

#2965 Ceph docs: update for v1.0 release
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-psp.md
  Documentation/ceph-tools.md
  Documentation/ceph-upgrade.md
  Documentation/common-issues.md
  Documentation/k8s-pre-reqs.md
  Documentation/psp.md
  cluster/examples/kubernetes/ceph/upgrade-from-v0.8-create.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v0.8-replace.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v0.9-create.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v0.9-delete.yaml
Labels: ceph, docs, upgrade

#2777 Support metadataDevice for ceph-volume based osd
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/volume.go
Labels: ceph, osd

#2773 ceph: dashboard/prom should bind to anyaddr
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: ceph
