Repository rook/rook, pull requests merged in 2019-09, with the labels that each got.

#3732 Ceph: update upgrade docs for v1.1 release
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-delete.yaml
Labels: ceph -, docs, upgrade

#3417 ceph: Add dynamic flexvolume expansion
  Documentation/ceph-block.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/flex/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass.yaml
  cmd/rookflex/cmd/expander.go
  pkg/daemon/ceph/agent/flexvolume/controller.go
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager.go
  pkg/daemon/ceph/agent/flexvolume/manager/fake.go
  pkg/daemon/ceph/agent/flexvolume/server.go
  pkg/daemon/ceph/agent/flexvolume/types.go
  pkg/daemon/ceph/client/image.go
  pkg/daemon/ceph/client/image_test.go
  tests/framework/clients/block.go
  tests/framework/clients/pool.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_block_create_test.go
  tests/integration/ceph_zblock_mount_unmount_test.go
  tests/longhaul/block_with_fencing_test.go
Labels: ceph -

#3767 Ceph: remove configOverrides from CRD
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-configuration.md
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/config/monstore_test.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, configuration, crd

#3784 Add the rbac to the helm chart for bucket provisioning
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
Labels: ceph -

#3791 fix(osd prepare): osd prepare job getting into panic state
  pkg/daemon/ceph/osd/volume.go
Labels: bug, ceph -

#3775 Ceph osd: lower OSD pod minimum mem to 2Gb
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/osd/osd.go
Labels: bug, ceph -, ceph-osd

#3787 configure cephfs and rbd servers
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
Labels: ceph -

#3780 Use v1.2.0 ceph-csi version
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: csi

#3788 updating additionalPrinterColumns for CephFS
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -

#3769 Ceph: Ability to enable pg_autoscaler mgr module via CRD
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-configuration.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, ceph-mgr, configuration, crd

#3781 Fix topologyAware on PVC-based OSDs
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/crush_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  tests/framework/installer/ceph_manifests.go
Labels: bug, ceph -

#3745 ceph docs: identify required ceph configs
  Documentation/ceph-upgrade.md
Labels: bug, ceph -, configuration, docs

#3799 edgefs image version update in examples and docs
  Documentation/edgefs-cluster-crd.md
  Documentation/edgefs-upgrade.md
  cluster/examples/kubernetes/edgefs/cluster.yaml
Labels: EdgeFS

#3800 NFS: Fix operator.yaml line endings
  cluster/examples/kubernetes/nfs/operator.yaml
Labels: docs, nfs

#3789 Fixed HighMonLeaderChanges Alert
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph -

#3786 Fix: only schedule node drain canaries on nodes with osds
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/nodedrain/add.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
Labels: bug, ceph -

#3811 Ceph: use combined output from ceph-volume
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: bug, ceph -, ceph-osd

#3825 ceph upgrade doc: document CSI image changes
  Documentation/ceph-upgrade.md
Labels: ceph -, docs

#3790 ignore updates on nbd device
  pkg/daemon/discover/discover.go
Labels: bug, discover

#3626 Set "ssl_server_port" dashboard setting if it is present in ceph dashboard config
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
Labels: ceph-dashboard

#3840 Ceph upgrades: object RGW allNodes deprecation
  Documentation/ceph-upgrade.md
Labels: ceph -, docs, objectstore

#3837 NFS: Added an example to consume the nfs export created by nfs operator.
  Documentation/nfs.md
Labels: docs, nfs

#3569 docs/ceph: add list of unusable directories paths
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -, docs

#3879 fix(fencing): changes mdb controller to use namespace for checking ceph status
  pkg/operator/ceph/disruption/machinedisruption/reconcile.go
Labels: needs-backport

#3862 Ceph: Enable SSL for dashboard by default
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: ceph -, ceph-dashboard, needs-backport

#3876 Ensure the ceph-csi secret exists on upgrade
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/config_test.go
Labels: ceph -

#3887 Backport: docs/ceph: add list of unusable directories paths
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/controller.go
Labels: backport, ceph -, operator

#3889 ceph: bump to v14.2.4
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/longhaul/base_block_test.go
Labels: ceph -, needs-backport

#3891 Backport: pg autoscaler and osd bluefs fixes
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/config/defaults.go
Labels: backport, ceph -

#3870 ceph: fix upgrade commands
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph -, needs-backport, upgrade

#3892 Backport: Ensure the ceph-csi secret exists on upgrade
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/config_test.go
Labels: ceph -

#3890 backport: correct liveness container socket file
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
Labels: backport, ceph -, csi

#3724 operator: ceph disable flexdriver
  Documentation/ceph-block.md
  Documentation/ceph-common-issues.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_deploy_test.go
Labels: ceph -, csi, flexvolume, needs-backport

#3822 Ceph: Use HTTP port if SSL is disabled
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
Labels: ceph -, ceph-dashboard, needs-backport

#3898 Backport: ceph: fix upgrade commands
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport, ceph -

#3884 Include CSI image in helm chart values
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
Labels: ceph -, csi

#3900 Backport: operator: ceph disable flexdriver
  Documentation/ceph-block.md
  Documentation/ceph-common-issues.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_deploy_test.go
Labels: backport, ceph -

#3903 Backport ceph: bump to v14.2.4
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/longhaul/base_block_test.go
Labels: backport, ceph -

#3909 Backport #3822: Ceph: Use HTTP port if SSL is disabled
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
Labels: backport, ceph -

#3910 Backport: Include CSI image in helm chart values
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
Labels: backport, ceph -

#3908 Backport #3862: Ceph: Enable SSL for dashboard by default
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: backport, ceph -

#3901 ceph: add a new CR property to force upgrades
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/k8sutil/test/deployment.go
Labels: ceph -, needs-backport, upgrade

#3902 update cephcsi upgrade document
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
Labels: ceph -

#3907 ceph: enable ceph-volume debug logs
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd, needs-backport

#3920 backport: ceph: add a new CR property to force upgrades
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/k8sutil/test/deployment.go
Labels: backport

#3922 backport: ceph: enable ceph-volume debug logs
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport

#3925 Backport: update csi upgrade document
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
Labels: backport, ceph -

#3915 Allow running minimal test matrix for ceph tests
  INSTALL.md
  Jenkinsfile
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_block_create_test.go
  tests/integration/ceph_csi_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/integration/ceph_zblock_mount_unmount_test.go
Labels: ceph -

#3755 [osd on pvc] deactivate device from lvm after OSD Prepare and OSD daemon pod ends
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd

#3924 Ceph: OSD pods should always use hostname for node selector
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/k8sutil/node.go
Labels: needs-backport

#3934 Backport: LVM and other fixes for the v1.1.1 release
  Documentation/ceph-upgrade.md
  INSTALL.md
  Jenkinsfile
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/minio/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  cluster/olm/ceph/generate-rook-csv.sh
  cmd/rook/ceph/operator.go
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/disruption/nodedrain/add.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  pkg/operator/ceph/disruption/nodedrain/reconcile_test.go
  pkg/operator/k8sutil/node.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_block_create_test.go
  tests/integration/ceph_csi_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/integration/ceph_zblock_mount_unmount_test.go
Labels: backport, ceph -

#3904 Fix CRD Validation: disruptionManagement and mgr modules
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: bug, crd

#3928 Generate OLM clusterserviceversion v1.1.1
  cluster/olm/ceph/assemble/metadata-common.yaml
  cluster/olm/ceph/assemble/rook-ceph.package.yaml
Labels: backport, ceph -, olm

#3503 minio: update documentation in regards to #3478
  Documentation/minio-object-store-crd.md
Labels: minio

#3949 rook-ceph olm: add missing nfs crd example
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
Labels: ceph -, olm

#3945 Disable Flexdriver in helm chart and operator-openshift
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
Labels: ceph -

#3944 correct namespace for csi resources in upgrade doc
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
Labels: csi

#3946 CephCluster CRD: Added additional network attributes to validation
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, crd

#3960 Backport: Disable Flexdriver in helm chart and operator-openshift
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
Labels: backport, ceph -

#3931 Fix umount issue when rbd-nodeplugin restarts
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
Labels: bug, ceph -, csi

#3919 Ceph: Remove finalizer even if flex is disabled
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
Labels: ceph -, needs-backport

#3963 Correct SYSTEM spelling
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
Labels: ceph -, csi

#3970 Set default FS to "ext4" on RBD device
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
Labels: ceph -, csi

#3968 Backport: Ceph: Remove finalizer even if flex is disabled
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
Labels: backport

#3971 Backport: Set default FS to "ext4" on RBD device
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
Labels: backport, csi

#3959 Update service if already present
  pkg/operator/ceph/csi/spec.go
  pkg/operator/k8sutil/statefulset.go
Labels: ceph -, csi

#3969 ceph: osd reset 'run dir' to default location
  PendingReleaseNotes.md
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/device.go
Labels: ceph -, ceph-osd, needs-backport

#3955 ceph: various osd fixes and improvements with lvm and ceph-volume
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd, needs-backport

#3894 ceph: fix encrypted osd startup
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph -, ceph-osd, needs-backport

#3978 Clarify docs around the custom ceph.conf settings configmap
  Documentation/ceph-advanced-configuration.md
Labels: needs-backport

#3981 backport: Update service if already present
  pkg/operator/ceph/csi/spec.go
  pkg/operator/k8sutil/statefulset.go
Labels: backport-release-1.1, ceph -

#3614 Added validation for cephBlockPool,cephfs and cephnfs
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, operator

#3982 backport: use v1.2.1 cephcsi release
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph -, csi

#3977 Allow setting affinity on the ceph version job
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/cluster.go
Labels: backport-release-1.1, ceph -

#3980 Backport: various fixes
  PendingReleaseNotes.md
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport

#3972 Check Pools is in use before deleting it
  pkg/daemon/ceph/client/filesystem_test.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
Labels: ceph -

#3967 Add check for csi volumes before cluster delete
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/csi/spec.go
Labels: ceph -

#3995 EdgeFS: support for rtkvs disk engine and Samsung KVSSD
  Documentation/edgefs-cluster-crd.md
  cluster/examples/kubernetes/edgefs/cluster_kvssd.yaml
  pkg/apis/edgefs.rook.io/v1/cluster.go
  pkg/apis/edgefs.rook.io/v1/devices.go
  pkg/apis/edgefs.rook.io/v1/types.go
  pkg/operator/edgefs/cluster/cluster_deployment_config.go
  pkg/operator/edgefs/cluster/configmap.go
  pkg/operator/edgefs/cluster/target/config/config.go
  pkg/operator/edgefs/cluster/target/layout.go
  pkg/operator/edgefs/cluster/target/pod.go
  pkg/operator/edgefs/cluster/utils.go
Labels: EdgeFS, operator

#3957 Add Toleration and NodeAffinity to CSI provisioners
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/apis/rook.io/v1alpha2/placement_test.go
  pkg/operator/ceph/agent/agent.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/discover/discover.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
  pkg/operator/k8sutil/tolerations.go
Labels: backport-release-1.1, ceph -, csi

#3943 docs: updated Ceph mon disaster recovery guide
  Documentation/disaster-recovery.md
  PendingReleaseNotes.md
Labels: ceph -, docs

#4005 CSI: Make metrics and liveness port configurable
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-svc.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-svc.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/csi/util_test.go
Labels: ceph -, csi

#3994 Ceph: fix rook-config-overrides for OSDs
  cmd/rook/ceph/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.1, ceph -, ceph-osd

#4016 ceph: set ssl to true in cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
Labels: backport-release-1.1
