Repository rook/rook, pull requests merged in 2019-05, with the labels that each got.

#3089 Query the latest list of nodes for osd orchestration
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph

#3063 ceph-op: Remove taint check in "is node scheduable" func
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/k8sutil/node.go
Labels: ceph

#3102 Update documentation and examples to v1.0.0
  Documentation/README.md
  Documentation/cassandra-operator-upgrade.md
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-csi-drivers.md
  Documentation/ceph-toolbox.md
  Documentation/development-environment.md
  Documentation/development-flow.md
  Documentation/flexvolume.md
  Documentation/helm-operator.md
  Documentation/k8s-pre-reqs.md
  Documentation/nfs.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/operator-openshift-with-csi.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator-with-csi.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/minio/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
Labels: docs

#3150 Update ceph-filesystem.md
  Documentation/ceph-filesystem.md
Labels: docs

#3170 docs: added missing delete for new manifest structure
  Documentation/ceph-teardown.md
Labels: docs

#3173 Backport #3170
  Documentation/ceph-teardown.md
Labels: backport, docs

#3017 deployment: OLM integration
  .gitignore
  Makefile
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/olm/ceph/README.md
  cluster/olm/ceph/assemble/metadata-common.yaml
  cluster/olm/ceph/assemble/metadata-k8s.yaml
  cluster/olm/ceph/assemble/metadata-openshift.yaml
  cluster/olm/ceph/assemble/rook-ceph.package.yaml
  cluster/olm/ceph/generate-rook-csv.sh
Labels: ceph

#2880 doc: add link to vagrant+libvirt setup
  Documentation/development-environment.md
Labels: docs

#3198 Doc: ceph upgrade: move sed step before toolbox
  Documentation/ceph-upgrade.md
Labels: backport, ceph, docs

#3161 ceph nfs: fix the host path for pod volume
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/spec.go
Labels: bug, ceph, logs, nfs

#3199 tests: fix git describe repo path in k8s-vagrant-multi-node script
  tests/scripts/k8s-vagrant-multi-node.sh
Labels: test

#3134 add attacher container to cephfs CSI provisioner
  Documentation/ceph-csi-drivers.md
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-provisioner-rbac.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-provisioner-rbac.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner.yaml
  tests/framework/installer/ceph_csi_templates.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_csi_test.go
Labels: ceph
