Repository rook/rook, pull requests merged in 2019-06, with the labels that each got.

#3262 ceph: log osd recovery at info level
  pkg/operator/ceph/cluster/osd/health.go
Labels: ceph

#3226 fixed ceph pg dump pgs_brief json deserialization
  pkg/daemon/ceph/client/pg.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/remove.go
Labels: bug, ceph

#2564 Set fsgroup on the top level of the mount
  cmd/rookflex/cmd/mount.go
  pkg/daemon/ceph/agent/flexvolume/types.go
Labels: flexvolume

#3256 discover: handle false-positives observed by users
  pkg/daemon/discover/discover.go
  pkg/daemon/discover/discover_test.go
Labels: ceph

#3274 Enable proper usage of metadataOnly property
  Documentation/edgefs-isgw-crd.md
  cluster/examples/kubernetes/edgefs/isgw.yaml
  pkg/apis/edgefs.rook.io/v1beta1/types.go
  pkg/operator/edgefs/isgw/isgw.go
Labels: bug

#3165 ceph: added comparer for resource quantity when checking cluster changes
  pkg/operator/ceph/cluster/cluster.go
Labels: ceph

#2675 ceph: enhance server to search for rookflex
  pkg/daemon/ceph/agent/flexvolume/server.go
Labels: agent, ceph, flexvolume

#3296 ceph: upgrade apply osd nautilus flag
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph

#3117 Clean up the OSD after the OSD is marked "out"
  pkg/daemon/ceph/client/osd.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: ceph, osd

#3313 ceph: osd: fix startup on sdn
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: needs-backport

#2939 Delay starting the Rook system daemons until a CephCluster CR is created
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/migration_test.go
  pkg/operator/ceph/operator.go
  tests/integration/multi_cluster_test.go
Labels: ceph

#3329 ceph: stop forcing crush tunable
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/crush.go
Labels: needs-backport

#3347 backport: ceph: stop enforcing crush tunable
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/crush.go
Labels: backport

#3326 ceph: Look for binaries on PATH if not found
  pkg/daemon/ceph/osd/init.go
Labels: bug, ceph
