Repository rook/rook, pull requests merged in 2019-07, with the labels that each got.

#3389 ceph: osd: fix cli arg
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph, needs-backport

#3392 backport: ceph: osd: fix cli arg
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport, ceph

#2886 Added NodeAffinity to Agent and Discover Daemon
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/agent/agent.go
  pkg/operator/discover/discover.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
Labels: agent, discover

#3388 ceph: controller: fix panic on cr update
  pkg/operator/ceph/cluster/controller.go
Labels: ceph, needs-backport

#3393 Bkp rgw refactor
  Documentation/ceph-object.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  design/object-store.md
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/config/keyring/store.go
  pkg/operator/ceph/config/keyring/store_test.go
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/k8sutil/daemonset.go
Labels: backport, ceph

#3401 backport: ceph: controller: fix panic on cr update
  pkg/operator/ceph/cluster/controller.go
Labels: backport

#3322 Integrate ceph-mixins with rook-ceph
  Documentation/ceph-monitoring.md
  Gopkg.lock
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
  images/ceph/Dockerfile
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/k8sutil/prometheus.go
  pkg/operator/k8sutil/prometheus_test.go
Labels: ceph, feature, monitoring, operator

#3409 ceph: adjust M-to-Mi rounding in PV creation
  pkg/daemon/ceph/client/image.go
  pkg/operator/ceph/provisioner/provisioner.go
Labels: needs-backport

#3414 ceph: stop creating initial crushmap
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/config/keyring.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/config/keyring/admin.go
Labels: ceph, needs-backport

#3415 ceph: rgw: set proper port syntax on beast
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
Labels: ceph, needs-backport

#3422 Backport batch
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/image.go
  pkg/daemon/ceph/config/keyring.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/config/keyring/admin.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/provisioner/provisioner.go
  tests/framework/installer/ceph_installer.go
  tests/framework/utils/k8s_helper.go
Labels: backport, ceph

#3369 Add cmd-reporter daemon; use it to get ceph version
  Documentation/ceph-psp.md
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/charts/rook-ceph/templates/rolebinding.yaml
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/main.go
  cmd/rook/rook/rook.go
  cmd/rook/util/cmdreporter.go
  cmd/rook/util/copybins.go
  cmd/rook/util/doc.go
  pkg/daemon/util/cmdreporter.go
  pkg/daemon/util/cmdreporter_test.go
  pkg/daemon/util/copybins.go
  pkg/daemon/util/copybins_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/migration_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/k8sutil/cmdreporter/cmdreporter.go
  pkg/operator/k8sutil/configmap.go
  pkg/operator/k8sutil/configmap_test.go
  pkg/operator/k8sutil/delete.go
  pkg/operator/k8sutil/delete_test.go
  pkg/operator/k8sutil/job.go
  pkg/operator/k8sutil/options.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/upgrade_test.go
Labels: bug, ceph, feature

#3420 Updated condition check to avoid panic
  pkg/operator/ceph/cluster/osd/health.go
Labels: bug, ceph

#3438 Ceph: Fix crit bug in call to detect Ceph version
  pkg/operator/ceph/cluster/controller.go
Labels: bug, ceph

#3429 ceph manifests: update upgrade-from yaml files
  cluster/examples/kubernetes/ceph/upgrade-from-v0.9-create.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v0.9-delete.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-delete.yaml
Labels: ceph, docs, upgrade

#3454 cmdreporter: fix minor error bug
  pkg/operator/k8sutil/cmdreporter/cmdreporter.go
Labels: Provider Framework (SDK), bug

#3355 ceph: schedule mons across failure domains
  Documentation/ceph-advanced-configuration.md
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/k8sutil/node.go
Labels: ceph, feature, mon

#2901 ceph: improve upgrade procedure
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/osd.go
  pkg/daemon/ceph/client/osd_test.go
  pkg/daemon/ceph/client/status.go
  pkg/daemon/ceph/client/status_test.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
  pkg/operator/edgefs/cluster/mgr/mgr.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/test/deployment.go
  tests/framework/installer/ceph_installer.go
  tests/integration/base_deploy_test.go
Labels: ceph, upgrade

#2985 ceph: allow to set multiple tolerations for agent and discover pods
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/agent/agent.go
  pkg/operator/discover/discover.go
  pkg/operator/k8sutil/tolerations.go
Labels: agent, ceph, discover

#3230 ceph manifests: add psp to common.yaml & integration tests
  Documentation/ceph-psp.md
  Documentation/psp.md
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-node-plugin-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-provisioner-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-node-plugin-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-provisioner-psp.yaml
  cluster/examples/kubernetes/ceph/psp.yaml
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, docs, test

#2778 ceph: run ceph processes with the 'ceph' user
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/spec/spec_test.go
Labels: ceph -

#3487 ceph: mon: init chown for openshift
  pkg/operator/ceph/cluster/mon/spec.go
Labels: needs-backport

#3482 make getModifiedRookImagePath be generic and use it for isgw too
  pkg/apis/edgefs.rook.io/v1beta1/utils.go
  pkg/operator/edgefs/cluster/mgr/mgr.go
  pkg/operator/edgefs/isgw/isgw.go
Labels: EdgeFS, bug

#3489 ceph: use latest 14.2.2 code
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  tests/framework/installer/ceph_installer.go
Labels: ceph -

#3498 ceph: run pod with privileged
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
Labels: ceph -

#3502 fix usage of Infof in CephClusterController
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -, operator

#3224 ceph: fail when metadataDevice not used by cephvol
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  pkg/daemon/ceph/osd/volume.go
Labels: ceph -

#3443 Ceph NFS: use new config
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/config.go
  cmd/rook/ceph/nfs.go
  pkg/daemon/ceph/ganesha/daemon.go
  pkg/daemon/ceph/ganesha/init.go
  pkg/operator/ceph/config/datapath.go
  pkg/operator/ceph/config/datapath_test.go
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/test/containers.go
  pkg/operator/ceph/test/podspec.go
  pkg/operator/ceph/test/spec.go
  pkg/operator/test/containers.go
  pkg/operator/test/podspec.go
  pkg/operator/test/podtemplatespec.go
  pkg/operator/test/spec.go
Labels: ceph -, feature, nfs

#3527 ceph: osd use copy-binaries top level cmd
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/init.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph -, ceph-osd

#3460 fix Prometheus permissions and servicemonitor configurations
  Documentation/ceph-monitoring.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/monitoring/rbac.yaml
  pkg/operator/ceph/cluster/mgr/mgr.go
Labels: ceph -, monitoring
