Repository rook/rook, pull requests merged in 2019-01, with the labels that each got.

#2440 Added missing mon section to documented examples
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-upgrade.md
Labels: docs, needs-backport

#2453 cassandra: minor documentation fixes
  Documentation/cassandra-cluster-crd.md
  Documentation/cassandra.md
Labels: cassandra

#2464 Improve Minio operator
  PendingReleaseNotes.md
  pkg/operator/minio/controller.go
  pkg/operator/minio/controller_test.go
  pkg/operator/minio/operator.go
Labels: minio, objectstore, reliability

#2463 Added minio_objectstore label to Minio objects
  Documentation/minio-object-store-crd.md
  Documentation/minio-object-store.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/minio/object-store.yaml
  pkg/operator/minio/controller.go
Labels: minio, objectstore

#2484 Correctly set secretkey from mountSecretKey param
  pkg/daemon/ceph/agent/flexvolume/controller.go
Labels: bug, ceph, flexvolume

#2099 Ceph NFS Ganesha CRD
  Documentation/ceph-nfs-crd.md
  Documentation/crds.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/nfs.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/nfs.go
  cmd/rook/ceph/osd.go
  design/ceph-nfs-ganesha.md
  pkg/apis/ceph.rook.io/v1/register.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/cephnfs.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/fake/fake_ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/fake/fake_cephnfs.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/generated_expansion.go
  pkg/client/informers/externalversions/ceph.rook.io/v1/cephnfs.go
  pkg/client/informers/externalversions/ceph.rook.io/v1/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/ceph.rook.io/v1/cephnfs.go
  pkg/client/listers/ceph.rook.io/v1/expansion_generated.go
  pkg/daemon/ceph/ganesha/daemon.go
  pkg/daemon/ceph/ganesha/init.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/k8sutil/volume.go
  pkg/operator/nfs/controller.go
Labels: ceph, nfs

#2470 design: ceph: update ceph configuration strategy
  design/ceph-config-updates.md
Labels: ceph, design

#2578 Ceph misc comment fixes
  pkg/daemon/ceph/client/mgr.go
  pkg/operator/ceph/cluster/mon/util.go
Labels: ceph
