Repository rook/rook, pull requests merged in 2019-10, with the labels that each got.

#3974 New setting to avoid delete pools on <filesystem>/<object store> deletion
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-filesystem.md
  Documentation/ceph-object-store-crd.md
  Documentation/ceph-object.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem-test.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/filesystem_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/rgw.go
Labels: ceph -

#4018 ceph: set default Ceph CSI images as var not const
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.1, build, ceph -, csi

#4026 ceph: set ssl to true in cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
Labels: backport-release-1.1

#4030 Updated rook-ceph-osd clusterrole for helm chart
  cluster/charts/rook-ceph/templates/clusterrole.yaml
Labels: backport-release-1.1

#4032 Remove obsolete hyperkube settings from the helm chart
  cluster/charts/rook-ceph/values.yaml
Labels: ceph -

#3817 Nodes always in OrchestrationStatusStarting
  pkg/operator/ceph/cluster/osd/status.go
Labels: backport-release-1.1, ceph -

#4025 ceph: relax pre-requisite for external cluster
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/mon.go
  pkg/daemon/ceph/config/config.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/version/version.go
Labels: backport-release-1.1, ceph -

#4046 remove decimal point for osdMemoryTargetValue
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.1

#4024 Fixing issues for object bucket claims for brownfield cases (delete policy)
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/s3-handlers.go
Labels: ceph -, objectstore

#4075 [Ceph] Fix: PDB for MDS not created when activeStandby:true and activeCount: 1
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
Labels: backport-release-1.1, ceph -, reliability

#4081 doc: update outdated links
  Documentation/ceph-csi-drivers.md
  design/object-bucket.md
Labels: backport-release-1.1, docs

#4070 csi: update cephfs registration directory name
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
Labels: backport-release-1.1, ceph -, csi

#4090 OwnerReference and test pod cleanup
  cmd/rook/version/version.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/cockroachdb/controller.go
  pkg/operator/minio/controller.go
  pkg/operator/yugabytedb/controller.go
  tests/framework/installer/ceph_installer.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_filesystem_mountuser_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.1

#4100 Return explicit errors
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/daemon.go
Labels: ceph -, ceph-osd

#3554 Ceph directory-based OSDs: config refactoring
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/spec/spec_test.go
  pkg/operator/ceph/test/podspec.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, ceph-osd

#4099 ceph: fix topologyAware support
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.1, ceph -, ceph-osd

#4102 ceph: change imagepullpolicy for csi-snapshot image
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
Labels: ceph -, csi

#4094 ceph: hide wrong error for clusterdisruption controller
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
Labels: backport-release-1.1, ceph -

#4098 Multiple integration test fixes to improve CI stability
  cmd/rookflex/cmd/unmount.go
  tests/framework/installer/installer.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_block_create_test.go
  tests/integration/ceph_block_test.go
  tests/integration/ceph_csi_test.go
  tests/integration/ceph_mon_test.go
  tests/integration/ceph_multi_cluster_test.go
Labels: backport-release-1.1, ceph -, test

#4110 ceph: mgr do not override annotation
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
Labels: backport-release-1.1, ceph -, ceph-mgr

#4109 ceph: detect mount fstype more accurately
  cmd/rookflex/cmd/unmount.go
Labels: backport-release-1.1, ceph -, flexvolume

#4022 Ceph CRD Validation: Add reservePoolsOnDelete
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, crd

#4087 Issue 4073 configure rgw non ec pool as metadata
  design/object-bucket.md
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
Labels: backport-release-1.1, ceph -, objectstore

#4083 ceph: expose prepare pod resource limits
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
Labels: backport-release-1.1, ceph -, ceph-osd

#4009 [OSD on PVC] add kubernetes version check.
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph -, ceph-osd

#3914 Add k8s 1.16 to the integration test matrix
  Jenkinsfile
  PendingReleaseNotes.md
  pkg/operator/ceph/object/user/controller.go
  tests/framework/clients/object_user.go
  tests/framework/installer/edgefs_manifest.go
  tests/framework/installer/provisioners.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_base_object_test.go
  tests/scripts/helm.sh
Labels: build

#4086 ceph: rework csi keys and secrets
  Documentation/ceph-block.md
  Documentation/ceph-filesystem.md
  cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  pkg/daemon/ceph/client/erasure-code-profile.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/model/pool.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/config_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/config/keyring/store.go
  pkg/operator/ceph/csi/secrets.go
  pkg/operator/ceph/csi/secrets_test.go
  pkg/operator/ceph/file/filesystem.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_csi_test.go
Labels: backport-release-1.1, ceph -, csi

#4116 Ceph: Added removeOSDsIfOutAndSafeToRemove to Cluster CR
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: backport-release-1.1, ceph -

#3996 fix operator reconcile to restart osd daemons
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/util/sys/device.go
Labels: backport-release-1.1

#4021 Enable restoring a cluster after disaster recovery
  pkg/daemon/ceph/client/status.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.1, ceph -

#4161 ceph: osd remove --conf flag
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.1, ceph -

#4169 CSI: Add support for CSIDriver object creation
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
  pkg/operator/ceph/csi/spec.go
Labels: csi, do-not-merge

#4173 ceph: add label for CSI deployments/daemonsets/statefulsets
  pkg/operator/ceph/csi/spec.go
  pkg/operator/k8sutil/statefulset.go
Labels: ceph -

#4168 ceph: use quorum_status instead of mon_status
  pkg/daemon/ceph/client/command_test.go
  pkg/daemon/ceph/client/mon.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
Labels: ceph -

#4180 Flex driver should not allow attach before detach on a different node
  pkg/daemon/ceph/agent/flexvolume/controller.go
  pkg/daemon/ceph/agent/flexvolume/controller_test.go
Labels: backport-release-1.1, ceph -

#4184 Improve reliability of the Ceph mon failover test
  tests/integration/ceph_mon_test.go
Labels: backport-release-1.1, ceph -

#4189 ceph: fix set osd prepare resources
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport-release-1.1, ceph -

#4191 ceph: Add removeOSDsIfOutAndSafeToRemove to CRD
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, crd

#2437 Remove comments on merged issues
  Documentation/development-environment.md
Labels: docs

#4123 objectstore: set quota for max_bucket into -1 in Grant()
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: ceph -

#4198 ceph: Generate keyrings before OSD deployment
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/config/keyring/store.go
Labels: bug, ceph -, ceph-osd

#4213 Ceph: use the rook image for drain-canaries.
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/disruption/controllerconfig/context.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
Labels: backport-release-1.1, ceph -

#4214 ceph: osd hide 'restorecon' when necessary
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/mon/env.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.1, ceph -, ceph-osd

#4216 Continue with orchestration if a single mon pod fails to start
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.1, ceph -

#4222 stop orchestration restart on device config map update for osd on pvc
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.1, ceph -

#4220 Ceph: fix the deduplication of tolerations collected for the drain-canary
  pkg/operator/ceph/disruption/controllerconfig/toleration.go
  pkg/operator/ceph/disruption/controllerconfig/toleration_test.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
Labels: backport-release-1.1, ceph -, reliability

#4224 ceph: Included missing rolebindings for PSP in Helm chart
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
Labels: backport-release-1.1, ceph -, configuration, helm

#4138 edgefs: Add NET_ADMIN to corosync container capabilities
  pkg/operator/edgefs/cluster/target/pod.go
Labels: EdgeFS

#4217 Clean up block integration tests more reliably
  tests/framework/clients/pool.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_block_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, test

#4236 Support all layers of CRUSH map with node labels
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  pkg/operator/ceph/cluster/osd/topology.go
  pkg/operator/ceph/cluster/osd/topology_test.go
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/k8sutil/node.go
Labels: backport-release-1.1, ceph -
