Repository rook/rook, pull requests merged in 2019-03, with the labels that each got.

#2739 Added ROOK_HOSTPATH_REQUIRES_PRIVILEGED as value to Helm Chart
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: backport, ceph, helm, operator

#2702 ceph mds: configure completely from operator
  PendingReleaseNotes.md
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/mds.go
  pkg/daemon/ceph/config/info.go
  pkg/daemon/ceph/mds/filesystem.go
  pkg/daemon/ceph/mds/init.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/config/store_test.go
  pkg/operator/ceph/file/config.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds.go
  pkg/operator/ceph/file/spec.go
  pkg/operator/ceph/file/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/test/containers.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/test/deployment.go
Labels: ceph, operator

#2742 ceph: share host ipc namespace with provision pod
  cluster/examples/kubernetes/ceph/scc.yaml
  design/ceph-volume-provisioning.md
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#2759 Fix indentation for Rancher Flexvolume docs
  Documentation/flexvolume.md
Labels: docs, flexvolume, needs-backport

#2762 docs: sorted flexvolume platform paths alphabetical
  Documentation/flexvolume.md
Labels: docs, flexvolume, needs-backport

#2769 Backport of flexvolume doc changes (#2759 and #2762)
  Documentation/flexvolume.md
Labels: docs, flexvolume

#2745 ceph file: tidy up file/mds operator code
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
Labels: ceph, filesystem, operator

#2770 ceph: filesystem: deprecate flags and updates for Nautilus
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/spec.go
Labels: ceph, filesystem

#2738 Ceph rgw: configure completely from operator
  Documentation/ceph-object-store-crd.md
  PendingReleaseNotes.md
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/rgw.go
  pkg/daemon/ceph/rgw/init.go
  pkg/daemon/ceph/rgw/init_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/mime.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/user.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/spec/spec.go
  tests/framework/clients/object_user.go
  tests/integration/base_object_test.go
Labels: ceph, objectstore, operator

#2310 Ceph integration tests: add more verbose logging
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/device.go
  tests/framework/installer/ceph_installer.go
  tests/framework/utils/k8s_helper.go
Labels: build, ceph, test

#2752 cockroachdb: add minimal rbac access for cockroachdb pod
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  tests/framework/installer/cockroachdb_manifests.go
Labels: cockroachdb

#2671 Add build variables for docker and sha sum calculation
  build/common.sh
  build/makelib/common.mk
  build/run
  images/cassandra/Makefile
  images/ceph/Makefile
  images/cockroachdb/Makefile
  images/cross/Makefile
  images/edgefs/Makefile
  images/image.mk
  images/minio/Makefile
  images/nfs/Makefile
Labels: build

#2798 Added PSP RBAC for rook-edgefs-cluster SA
  cluster/examples/kubernetes/edgefs/cluster.yaml
Labels: EdgeFS, operator

#2802 ceph filesystem: don't use `mds deactivate` mimic onwards
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/mds.go
Labels: ceph, filesystem

#2726 Add cephfs csi doc
  Documentation/ceph-csi-drivers.md
Labels: ceph, csi, docs, filesystem

#2789 ceph rbd-mirror: configure entirely in operator
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/datapath.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/spec/keyring.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/test/podspec.go
Labels: block, ceph, operator

#2817 Allow Ceph detect version Job to accept placement
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/cluster/cluster.go
Labels: ceph

#2761 docs: add kubespray instructions to flexvolume doc
  Documentation/flexvolume.md
Labels: docs, flexvolume

#2693 #2208 OSDs not automatically started when adding nodes to existing cluster
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/k8sutil/node.go
Labels: ceph, operator, osd

#2819 Added Golang v1.12 to supported versions
  build/makelib/golang.mk
Labels: build

#2780 Trigger an orchestration on any crd update
  Gopkg.lock
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
Labels: ceph, operator

#2829 retry dashboard operations
  pkg/daemon/ceph/client/command.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
Labels: ceph, operator

#2764 Ceph memory process tuning
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/test/containers.go
  pkg/operator/ceph/test/podspec.go
  pkg/operator/ceph/test/podtemplatespec.go
  pkg/operator/k8sutil/pod.go
  pkg/util/display/bytes.go
  pkg/util/display/bytes_test.go
Labels: ceph

#2813 support for configurable rtlfs backend
  Documentation/edgefs-cluster-crd.md
  cluster/examples/kubernetes/edgefs/cluster.yaml
  pkg/apis/edgefs.rook.io/v1alpha1/devices.go
  pkg/operator/edgefs/cluster/target/config/config.go
  pkg/operator/edgefs/cluster/target/layout.go
  pkg/operator/edgefs/cluster/target/pod_test.go
Labels: EdgeFS

#2804 Ceph rbd-mirror: use updateAndWait for daemons
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/mirror.go
Labels: ceph

#2763 tests/scripts: Added basic k8s-vagrant-multi-node wrapper script
  Documentation/development-environment.md
  tests/scripts/k8s-vagrant-multi-node.sh
Labels: test

#2677 Design: Managing an external ceph cluster
  design/ceph-external-cluster.md
Labels: ceph, design

#2818 ceph: add fine grained version tracking
  cmd/rook/ceph/ceph.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/version.go
  pkg/apis/ceph.rook.io/v1/version_test.go
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/config/info.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
  tests/framework/installer/ceph_installer.go
  tests/longhaul/base_block_test.go
Labels: ceph

#2847 Set bug or feature label depending on issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: feature

#2633 Base the rook ceph operator on Nautilus
  images/ceph/Makefile
  pkg/daemon/ceph/client/image.go
  pkg/daemon/ceph/client/image_test.go
  tests/framework/clients/nfs.go
  tests/framework/clients/test_client.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v0.9.go
  tests/integration/base_block_test.go
  tests/integration/base_file_test.go
  tests/integration/helm_test.go
  tests/integration/multi_cluster_test.go
  tests/integration/smoke_test.go
  tests/integration/upgrade_test.go
Labels: ceph, daemon

#2897 support for configurable resource profiles
  Documentation/edgefs-cluster-crd.md
  Documentation/edgefs-iscsi-crd.md
  Documentation/edgefs-isgw-crd.md
  Documentation/edgefs-nfs-crd.md
  Documentation/edgefs-s3-crd.md
  Documentation/edgefs-s3x-crd.md
  Documentation/edgefs-swift-crd.md
  Documentation/edgefs-vdev-management.md
  cluster/examples/kubernetes/edgefs/cluster.yaml
  pkg/apis/edgefs.rook.io/v1alpha1/devices.go
  pkg/apis/edgefs.rook.io/v1alpha1/resources.go
  pkg/apis/edgefs.rook.io/v1alpha1/types.go
  pkg/apis/edgefs.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/edgefs/cluster/cluster.go
  pkg/operator/edgefs/cluster/controller.go
  pkg/operator/edgefs/cluster/mgr/mgr.go
  pkg/operator/edgefs/cluster/mgr/mgr_test.go
  pkg/operator/edgefs/cluster/target/config/config.go
  pkg/operator/edgefs/cluster/target/layout.go
  pkg/operator/edgefs/cluster/target/pod.go
  pkg/operator/edgefs/cluster/target/pod_test.go
  pkg/operator/edgefs/cluster/target/target.go
  pkg/operator/edgefs/iscsi/controller.go
  pkg/operator/edgefs/iscsi/iscsi.go
  pkg/operator/edgefs/isgw/controller.go
  pkg/operator/edgefs/isgw/isgw.go
  pkg/operator/edgefs/nfs/controller.go
  pkg/operator/edgefs/nfs/nfs.go
  pkg/operator/edgefs/s3/controller.go
  pkg/operator/edgefs/s3/s3.go
  pkg/operator/edgefs/s3x/controller.go
  pkg/operator/edgefs/s3x/s3x.go
  pkg/operator/edgefs/swift/controller.go
  pkg/operator/edgefs/swift/swift.go
Labels: EdgeFS

#2457 Add a Kubernetes Ingress example for dashboard
  Documentation/ceph-dashboard.md
  cluster/examples/kubernetes/ceph/dashboard-ingress-https.yaml
Labels: ceph, docs

#2456 Document the RBD module prerequisite for Rook Ceph
  Documentation/k8s-pre-reqs.md
Labels: block, ceph, docs
