Repository rook/rook, pull requests merged in 2019-11, with the labels that each got.

#4240 Build Fix: Update the path to pull the yq tool
  images/ceph/Makefile
Labels: bug, build

#4202 ceph: helm: fix operator chart rbdGrpcMetricsPort
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
Labels: backport-release-1.1, ceph -, csi, helm

#4252 ceph: added a check for triggering the orchestration
  pkg/operator/ceph/cluster/cluster.go
Labels: backport-release-1.1, ceph -

#4195 ceph: fix set mgr annotations
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
Labels: backport-release-1.1, bug, ceph -, ceph-mgr

#4235 ceph: Generate RGW keyrings before creating dependent deployments
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
Labels: ceph -, objectstore

#4231 ceph: Generate MDS keyrings before creating dependent deployments
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
Labels: ceph -, filesystem

#3882 Add object bucket claim details to admin guide
  Documentation/ceph-object-bucket-claim.md
  Documentation/ceph-object.md
Labels: ceph -, docs, objectstore

#4172 CSI: Add support for CSIDriver object creation
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, csi

#4131 ceph: remove topologyAware CRD option
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-crds.yaml
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/osd.go
  pkg/apis/ceph.rook.io/v1/spec_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/rook.io/v1alpha2/config.go
  pkg/apis/rook.io/v1alpha2/storage.go
  pkg/apis/rook.io/v1alpha2/storage_test.go
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/crush_test.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/crushmap_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/device.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/edgefs/cluster/target/pod_test.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, ceph-osd

#4053 Get <ceph-volume inventory> data in dev. configmaps
  cmd/rook/discover.go
  pkg/clusterd/disk.go
  pkg/daemon/discover/discover.go
  pkg/daemon/discover/discover_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/discover/discover.go
  pkg/operator/discover/discover_test.go
  pkg/operator/edgefs/operator.go
  pkg/util/sys/device.go
Labels: ceph -, ceph-dashboard, ceph-mgr, crd, discover

#4257 ceph: relax cr block requirements
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
Labels: ceph -

#4150 ceph: Simplification of addOrRemoveMonitor()
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: ceph -

#4149 adds retry to ObjectUser creation
  pkg/operator/ceph/object/user/controller.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_mon_test.go
Labels: ceph -, do-not-merge

#4076 cleanup code in pkg/util
  pkg/util/exec/exec.go
  pkg/util/proc/monitoredproc_test.go
  pkg/util/sys/device.go
Labels: code cleanup

#4276 ceph: create csi keys and secrets for external cluster
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.1, ceph -

#4277 ceph: skip osd prepare job creation if osd daemon exists for the pvc
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
Labels: backport-release-1.1, ceph -

#4239 test: functional default baseTestDir for remote k8s master
  Jenkinsfile
  tests/framework/installer/environment.go
  tests/framework/installer/installer.go
Labels: ceph -, test

#4288 Silence disruption errors if necessary and add missing errors
  pkg/operator/ceph/disruption/clusterdisruption/location.go
Labels: backport-release-1.1, ceph -

#4273 ceph: Standardize association of keyrings with deployments
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/config/keyring/store.go
  pkg/operator/ceph/file/mds/config.go
Labels: ceph -

#4268 ceph: kubectl edit should be kubectl patch
  Documentation/disaster-recovery.md
Labels: ceph -, docs

#4286 ceph: update cluster storage utilization alert threshold and timing
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.1, ceph -

#4260 Ceph-volume skip restorecon
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/mon/env.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.1, ceph -

#3316 ceph: add ceph-crash controller
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/crash/add_test.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/datapath.go
  pkg/operator/ceph/config/datapath_test.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/spec/spec_test.go
  tests/integration/ceph_base_deploy_test.go
Labels: ceph -

#4281 Ceph: Fix topology logic for drains.
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  pkg/operator/ceph/cluster/osd/topology.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.1, ceph -, reliability

#4311 Fix topology logic for drains (bp #4281)
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  pkg/operator/ceph/cluster/osd/topology.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -

#4312 ceph: update lvm filter
  pkg/daemon/ceph/osd/volume.go
Labels: backport-release-1.1, ceph -, ceph-osd

#4319 Ceph: Ensure draining state is set and checked correctly.
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
Labels: backport-release-1.1, ceph -, reliability

#3495 ceph: in upgrade test, ensure legacy osds run
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/framework/installer/installer.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, does not block release, test

#4323 k8sutil: cmdreporter: properly set app name
  pkg/operator/k8sutil/cmdreporter/cmdreporter.go
Labels: backport-release-1.1, bug

#4321 design: add backends to their respective directories
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-storage.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  design/ceph/ceph-config-updates.md
  design/ceph/ceph-csi-driver.md
  design/ceph/ceph-external-cluster.md
  design/ceph/ceph-managed-disruptionbudgets.md
  design/ceph/ceph-mon-pv.md
  design/ceph/ceph-nfs-ganesha.md
  design/ceph/ceph-openshift-fencing-mitigation.md
  design/ceph/ceph-volume-provisioning.md
  design/ceph/cluster-update.md
  design/ceph/data-model.md
  design/ceph/decouple-ceph-version.md
  design/ceph/dedicated-osd-pod.md
  design/ceph/dynamic-provision-filesystem.md
  design/ceph/external-management.md
  design/ceph/filesystem.md
  design/ceph/local-node-agent.md
  design/ceph/mon-health.md
  design/ceph/object-store.md
  design/ceph/resource-constraints.md
  design/ceph/rook-ceph-status-conditions.md
  design/ceph/security-model.md
  design/ceph/storage-class-device-set.md
  design/ceph/upgrade.md
  design/common/multi-homed-cluster.md
  design/common/multiple-storage-types-support.md
  design/common/object-bucket.md
  design/nfs/nfs.md
  design/noobaa/noobaa-obc-provisioner.md
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/disruption/clusterdisruption/doc.go
  pkg/operator/ceph/disruption/machinedisruption/doc.go
  pkg/operator/ceph/disruption/machinelabel/doc.go
  pkg/operator/ceph/disruption/nodedrain/doc.go
Labels: docs

#4326 Add osd anti-affinity to the example of OSDs on PVCs
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
Labels: backport-release-1.1, ceph -

#4332 CSI: Make attach mandatory in ceph CSIDriver object
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph -, csi

#4320 ceph: osd various lvm enhancement
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph -, ceph-osd

#3206 ceph: added priority classes to components
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-nfs-crd.md
  Documentation/ceph-object-store-crd.md
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/nfs.yaml
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  design/ceph/ceph-nfs-ganesha.md
  pkg/apis/ceph.rook.io/v1/priorityclasses.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1alpha2/priorityclasses.go
  pkg/apis/rook.io/v1alpha2/priorityclasses_test.go
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/apis/rook.io/v1alpha2/zz_generated.deepcopy.go
  pkg/operator/ceph/agent/agent.go
  pkg/operator/ceph/agent/agent_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/test/podspec.go
  pkg/operator/ceph/test/podtemplatespec.go
  pkg/operator/discover/discover.go
  pkg/operator/discover/discover_test.go
Labels: ceph -, operator

#4328 Stop osd process more quickly during pod shutdown to reduce IO unresponsiveness
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.1, ceph -

#4335 CSI: update kubernetes sidecar images
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph -, csi

#4346 Ceph: Add delay between drain switches
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
Labels: backport-release-1.1, ceph -, reliability

#4352 CSI: update ceph-csi from v1.2.1 to v1.2.2
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.1, ceph -, csi

#4360 Clarify log message for Ceph upgrades
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/rbd/mirror.go
Labels: ceph -

#4375 ceph: remove ROOK_VERSION from the mgr pod
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
Labels: ceph -

#4373 ceph: fix upgrade of mds/rgw on build release
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: backport-release-1.1, ceph -

#4331 ceph: rgw and mds use ceph mon config store
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
Labels: ceph -, do-not-merge
