Repository rook/rook, pull requests merged in 2019-12, with the labels that each got.

#4403 ceph: fix race condition on crd child update
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
Labels: backport-release-1.1, ceph -

#4325 ceph: terminate detect-version if config write fails
  cmd/rook/util/cmdreporter.go
Labels: bug, ceph -

#4409 CSI: Ability to disable snapshotter from ceph-csi rbd
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.1, ceph -

#4391 Ceph: Generate new client config for controller-runtime
  Gopkg.lock
  pkg/operator/ceph/cr_manager.go
Labels: backport-release-1.1

#4398 ceph: fix ceph version output
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: ceph -

#4418 Continue orchestration on osd update errors
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport-release-1.1, ceph -

#3282 ozone: design doc for ozone operator
  design/ozone-architecture.png
  design/ozone.md
Labels: design

#4396 ceph: openshift ganesha fixes
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/nfs/server.go
Labels: ceph -, ceph-nfs

#4354 ceph: clean up CSI resources on cluster deletion
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/csi/cluster_config.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/operator.go
Labels: bug, ceph -, csi

#4285 ceph: support device selection for OSDs by device path name patterns
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  design/ceph/cluster-update.md
  pkg/apis/ceph.rook.io/v1/spec_test.go
  pkg/apis/rook.io/v1alpha2/storage.go
  pkg/apis/rook.io/v1alpha2/storage_test.go
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd

#4386 ceph: do not restart the osds when upgrading the operator
  PendingReleaseNotes.md
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd

#4153 design: rook multus design
  design/ceph/multus-network.md
Labels: ceph -, design, networking

#3998 Allow to run rook operator on host network
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: ceph -, helm

#4219 ceph: support OSD on PVC backed by LV
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cmd/rook/ceph/osd.go
  design/ceph/storage-class-device-set.md
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/util/sys/device.go
Labels: ceph -, ceph-osd

#4439 docs: fix typo on ceph bucket claim description
  Documentation/ceph-object-bucket-claim.md
Labels: docs

#3669 Create Client CRD
  Documentation/ceph-client-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/ceph-client.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/register.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/cephclient.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/fake/fake_ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/fake/fake_cephclient.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/generated_expansion.go
  pkg/client/informers/externalversions/ceph.rook.io/v1/cephclient.go
  pkg/client/informers/externalversions/ceph.rook.io/v1/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/ceph.rook.io/v1/cephclient.go
  pkg/client/listers/ceph.rook.io/v1/expansion_generated.go
  pkg/daemon/ceph/client/auth.go
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/client/controller_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  tests/framework/clients/client.go
  tests/framework/clients/test_client.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/integration/ceph_client_test.go
Labels: ceph -

#4445 Continue orchestration on missing node for osd
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph -

#4366 ceph: add rook-version and ceph-version tags to crash deployment
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/version/version.go
Labels: bug, ceph -

#4370 Ceph: OSD: refactor config for filestore OSDs
  PendingReleaseNotes.md
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph -, ceph-osd, configuration

#4211 ceph: make the discover daemon filter configurable
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/daemon/discover/discover.go
Labels: ceph -, discover, feature

#4463 Always use the version suffix from release build or tag pipeline
  Jenkinsfile
  build/release/Jenkinsfile.tag
  build/release/Makefile
Labels: backport-release-1.2, build

#4415 rook-ceph: stop using ceph version with timestamp and bump to 14.2.5
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/longhaul/base_block_test.go
Labels: ceph -, operator

#4464 Cleanup the client crd between tests
  tests/framework/installer/ceph_installer.go
Labels: ceph -

#3621 add 'git clone' step to quickstart guides
  Documentation/branch.liquid
  Documentation/cassandra.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/cockroachdb.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-monitoring.md
  Documentation/edgefs-quickstart.md
  Documentation/minio-object-store.md
  Documentation/nfs.md
Labels: docs

#4465 ceph: various controller and crash fixes
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/csi/secrets.go
  pkg/operator/ceph/spec/label.go
Labels: ceph -

#4472 ceph: fix rgw liveness probe error
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/spec.go
Labels: ceph -

#4452 ceph: Improve storage utilization alert description and message.
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph -, monitoring

#4484 ceph: rgw change the liveness probe url
  pkg/operator/ceph/object/spec.go
Labels: ceph -

#4485 ceph: Added OSD utilization alerts
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph -, monitoring

#4423 ceph: add crash key
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/crash_test.go
  pkg/operator/ceph/cluster/crash/keyring.go
  pkg/operator/ceph/cluster/crash/keyring_test.go
  pkg/operator/ceph/config/keyring/admin.go
  pkg/operator/ceph/config/keyring/volume.go
  pkg/operator/ceph/csi/secrets.go
Labels: ceph -

#4337 ceph: integration: upgrade: long wait for mgr module - disable dashboard
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, test, upgrade

#3078 No longer generate "release" docker tag during release build promotion
  build/release/Makefile
Labels: build

#4475 Ceph: update upgrade docs for v1.1 -> v1.2
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.0-create.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-crds.yaml
Labels: ceph -, docs, upgrade

#4308 ceph: add CR flag to tune slow device class for OSD on PVC in the Cloud
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd

#4491 Clarifications to v1.2 upgrade guide
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.2, ceph -, docs, upgrade

#4390 CSI: Add ENV variable to use ceph kernel client
  Documentation/helm-operator.md
  Documentation/k8s-pre-reqs.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.2, ceph -

#4511 ceph: do not print extended format for loggers
  pkg/daemon/ceph/agent/cluster/controller.go
  pkg/daemon/ceph/agent/flexvolume/attachment/crd.go
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager.go
  pkg/daemon/ceph/agent/flexvolume/server.go
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/status.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/filesystem.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/util/util.go
  pkg/operator/ceph/agent/agent.go
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/remove.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/config/keyring/store.go
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/bucket/api-handlers.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/version/version.go
Labels: ceph -

#4343 Ceph: Toleration for <NotReady> nodes set to 5 seconds
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/pod_test.go
Labels: ceph -, ceph-mgr, ceph-mon, crd, reliability

#4496 CSI: cephfs and rbd daemonset upgrade strategy
  Documentation/ceph-filesystem.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph -

#4512 ceph: add retry while enabling mgr modules
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/client/mgr_test.go
Labels: ceph -, ceph-mgr

#4355 enhance(ceph): Adds status field for ceph related CRs
  PendingReleaseNotes.md
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/k8sutil/status.go
Labels: backport-release-1.2, ceph -

#4518 Only perform upgrade checks when the image changes
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.1, backport-release-1.2, ceph -

#4420 docs: fix storageclass name used
  Documentation/ceph-filesystem.md
  Documentation/ceph-teardown.md
Labels: backport-release-1.2, ceph -, docs

#4533 docs: added toc to Ceph advanced configuration page
  Documentation/ceph-advanced-configuration.md
Labels: ceph -, docs

#4532 docs: append `ceph-` to `disaster-recovery.md` doc
  Documentation/ceph-disaster-recovery.md
  Documentation/ceph-tools.md
Labels: backport-release-1.2, ceph -, docs

#4537 Increase size of headers in the Ceph upgrade doc
  Documentation/ceph-upgrade.md
Labels: backport-release-1.2, ceph -

#4544 Rehydrate the osd CRUSH location for PVCs
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
Labels: backport-release-1.2, ceph -

#4508 ceph: fix object bucket provisioner when rgw not on port 80
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: backport-release-1.1, backport-release-1.2, ceph -, objectstore

#4561 ceph: Bump operator mem limit
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
Labels: backport-release-1.2, bug, ceph -, operator

#4583 ceph: add missing vol mount for encrypted osds
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.2, ceph -, ceph-osd

#4589 ceph: osd add missing ROOK_CEPH_MON_HOST env
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.2, ceph -, ceph-osd
