Repository rook/rook, pull requests merged in 2019-08, with the labels that each got.

#3553 ceph: check that empty zone contains valid nodes
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/health.go
Labels: ceph -

#3538 Ceph: Add design for managed poddisruptionbudgets.
  design/ceph-managed-disruptionbudgets.md
Labels: ceph -, design

#3475 design: ceph mon pv design
  design/ceph-mon-pv.md
Labels: ceph -

#3571 logging message typo fix
  pkg/operator/edgefs/cluster/utils.go
Labels: EdgeFS

#3562 Enable the ceph-csi driver by default
  Documentation/ceph-block.md
  Documentation/ceph-csi-drivers.md
  Documentation/ceph-examples.md
  Documentation/ceph-filesystem.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-storage.md
  Documentation/ceph-teardown.md
  Documentation/media/rook-architecture.png
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/charts/rook-ceph/templates/rolebinding.yaml
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/kube-registry.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/pod.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/pvc.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/example/cephfs/secret.yaml
  cluster/examples/kubernetes/ceph/csi/example/rbd/secret.yaml
  cluster/examples/kubernetes/ceph/csi/example/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-node-plugin-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-nodeplugin-rbac.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-provisioner-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/cephfs/csi-provisioner-rbac.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-node-plugin-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-nodeplugin-rbac.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-provisioner-psp.yaml
  cluster/examples/kubernetes/ceph/csi/rbac/rbd/csi-provisioner-rbac.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/pod.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/pvc-restore.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/pvc.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshot.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/flex/kube-registry.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass.yaml
  cluster/examples/kubernetes/ceph/operator-openshift-with-csi.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator-with-csi.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/scc.yaml
  cmd/rook/ceph/operator.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/operator.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, csi

#3567 Add CephCluster RBAC to the OSD service account
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, ceph-osd

#3594 ceph: fix monitor pvc storage on ebs
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/spec/spec.go
Labels: bug, ceph -

#3558 Documentation (Ceph): Fix typos and formatting
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-csi-drivers.md
  Documentation/ceph-examples.md
Labels: ceph -, docs

#3566 ceph: Update Pod Security Policy definition
  cluster/examples/kubernetes/ceph/common.yaml
Labels: ceph -

#3450 Set min Ceph version to 13.2.4 and improved orchestration event handling
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-dashboard.md
  Documentation/ceph-examples.md
  Documentation/ceph-pool-crd.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/version.go
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/migration.go
  pkg/operator/ceph/cluster/migration_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_block_create_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_zblock_mount_unmount_test.go
  tests/integration/z_cassandra_test.go
  tests/longhaul/base_block_test.go
Labels: ceph -

#3613 Integration tests: use 'kubectl apply' vs create
  tests/framework/clients/block.go
  tests/framework/clients/filesystem.go
  tests/framework/clients/nfs.go
  tests/framework/clients/object.go
  tests/framework/clients/object_user.go
  tests/framework/clients/pool.go
  tests/framework/clients/read_write.go
  tests/framework/installer/installer.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_block_create_test.go
  tests/integration/ceph_csi_test.go
  tests/integration/ceph_filesystem_mountuser_test.go
  tests/integration/ceph_upgrade_test.go
  tests/longhaul/base_block_test.go
  tests/longhaul/block_with_fencing_test.go
Labels: bug, test

#3565 ceph-csi: pass --pidlimit option to provisioners
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner.yaml
  tests/framework/installer/ceph_csi_templates.go
Labels: ceph -, csi

#3638 Correctly set osd mem target for inited clusters
  pkg/operator/ceph/cluster/osd/spec.go
Labels: needs-backport

#3645 mgr: set public-addr flag for MGR
  pkg/operator/ceph/cluster/mgr/spec.go
Labels: ceph -, needs-backport, networking

#3555 doc: Add disaster recovery doc
  Documentation/disaster-recovery.md
Labels: ceph -, docs

#3556 ROOK_CURRENT_NAMESPACE_ONLY environment variable configurable with helm for operator deployment
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: ceph -, helm

#3416 ceph: deploy liveness sidecar with csi
  Documentation/ceph-csi-drivers.md
  Documentation/ceph-monitoring.md
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/monitoring/csi-liveness-service-monitor.yaml
  tests/framework/installer/ceph_csi_templates.go
Labels: ceph -

#3534 CRDs: Add some more validations
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, crd

#3666 Docs: Add CSI doc back to the TOC
  Documentation/ceph-csi-drivers.md
Labels: ceph -, docs

#3338 Design: Multi-homed Cluster Network Spec
  design/multi-homed-cluster.md
Labels: design, networking

#3647 Backport fix for #3136
  pkg/operator/ceph/cluster/mgr/spec.go
Labels: backport, ceph -, networking

#3346 External Ceph cluster
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/common-external.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/import-external-cluster.sh
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/mon.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/env.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/config/store_test.go
  pkg/operator/ceph/csi/cluster_config.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/k8sutil/service.go
Labels: ceph -, feature

#3707 OSD: CRUSH map can be based on node or PVC in case of PVC backed OSD
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/k8sutil/deployment.go
Labels: ceph -

#3704 ceph: fix md and dev ordering for c-v batch
  pkg/daemon/ceph/osd/volume.go
Labels: bug, ceph -, ceph-osd

#3712 ceph: improve upgrade on image change
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/k8sutil/test/deployment.go
Labels: ceph -

#3568 rook: Add image pull secrets option
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/_helpers.tpl
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
Labels: EdgeFS, Provider Framework (SDK), cassandra, ceph -, cockroachdb, minio, nfs

#3573 Ceph: override configs in CRD
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/config/pod.go
  pkg/daemon/ceph/config/pod_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/config_test.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/config/monstore_test.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/config/store_test.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/ceph/spec/spec_test.go
  pkg/operator/ceph/test/podspec.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, configuration, crd

#3661 OSD: Remove osd pods that are marked out and the pod is more than an hour old.
  pkg/operator/ceph/cluster/osd/health.go
Labels: ceph -

#3696 ceph: add db-devices flag and fix DatabaseSizeMB
  PendingReleaseNotes.md
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: bug, ceph -, ceph-osd

#3596 Managed PDBs
  Documentation/ceph-cluster-crd.md
  Gopkg.lock
  Gopkg.toml
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/osd.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/status.go
  pkg/daemon/ceph/client/status_test.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/remove.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/clusterdisruption/doc.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/clusterdisruption/location_test.go
  pkg/operator/ceph/disruption/clusterdisruption/mon.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/ceph/disruption/clusterdisruption/pools_test.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile_test.go
  pkg/operator/ceph/disruption/clusterdisruption/static_pdb.go
  pkg/operator/ceph/disruption/controllerconfig/context.go
  pkg/operator/ceph/disruption/nodedrain/add.go
  pkg/operator/ceph/disruption/nodedrain/doc.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  pkg/operator/ceph/disruption/register_controllers.go
  pkg/operator/ceph/operator.go
Labels: ceph -, reliability
