Repository rook/rook, pull requests merged in 2019-02, with the labels that each got.

#2605 ceph: check num mon for hostnetworking
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
Labels: ceph

#2636 Added documentation for custom CRUSH location settings
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-pool-crd.md
Labels: docs

#2637 fix indent to prevent kubelet/cluster crash
  Documentation/flexvolume.md
Labels: docs

#2444 cassandra: fix wrong mount point
  Documentation/cassandra-operator-upgrade.md
  pkg/operator/cassandra/constants/constants.go
Labels: cassandra

#2678 Add a way to start up a minimal ceph cluster
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/operator-with-csi.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: ceph

#2559 Support for Ceph messenger 2
  cmd/rook/ceph/ceph.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/config/info.go
  pkg/daemon/ceph/util/util.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/env.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/file/spec.go
  pkg/operator/ceph/file/spec_test.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/test/spec.go
Labels: ceph

#2697 ceph: fix up RBAC permissions
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/upgrade_test.go
Labels: ceph

#2685 EdgeFS: support for S3 buckets as DNS subdomain style
  Documentation/edgefs-iscsi-crd.md
  Documentation/edgefs-isgw-crd.md
  Documentation/edgefs-nfs-crd.md
  Documentation/edgefs-s3-crd.md
  Documentation/edgefs-s3x-crd.md
  cluster/examples/kubernetes/edgefs/cluster.yaml
  cluster/examples/kubernetes/edgefs/s3.yaml
  pkg/apis/edgefs.rook.io/v1alpha1/types.go
  pkg/operator/edgefs/cluster/target/config/config.go
  pkg/operator/edgefs/cluster/target/pod.go
  pkg/operator/edgefs/cluster/target/pod_test.go
  pkg/operator/edgefs/s3/s3.go
Labels: EdgeFS, operator

#2728 Retry orchestrator initialization if command is unrecognized
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
Labels: ceph

#2737 Added ROOK_HOSTPATH_REQUIRES_PRIVILEGED as value to Helm Chart
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml.tmpl
Labels: ceph, helm, operator
