Repository rook/rook, pull requests merged in 2020-01, with the labels that each got.

#4605 documentation: improve commit structure
  Documentation/development-flow.md
Labels: docs

#4586 ceph: Do not log sensitive information in debug mode
  pkg/util/sys/parse.go
Labels: backport-release-1.2, security

#4618 Set manifest version to v1.2.1
  Documentation/ceph-toolbox.md
  Documentation/ceph-upgrade.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/minio/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: build

#4585 ceph: Avoid invalid execution state
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -, security

#4617 ceph: add option to continue on unclean PGs
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/test/deployment.go
  pkg/util/retry.go
Labels: backport-release-1.2, ceph -

#4626 core: k8s 1.17 zone/region failure domain labels
  pkg/operator/k8sutil/node.go
Labels: backport-release-1.2

#4650 CSI: Use EmptyDir to store provisioner socker and run all containers as privileged in daemonset pod
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
Labels: backport-release-1.1, backport-release-1.2, ceph -

#4638 ceph: remove last bits of osd min_size
  design/ceph/ceph-config-updates.md
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/daemon/ceph/config/config.go
Labels: backport-release-1.2, ceph -, do-not-merge

#4658 Set hostname properly in the CRUSH map for non-portable OSDs on PVCs
  cmd/rook/ceph/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/k8sutil/node.go
Labels: backport-release-1.2, ceph -

#4630 yugabytedb: fixed replication factor flag and the master addresses.
  pkg/operator/yugabytedb/controller.go
  pkg/operator/yugabytedb/controller_test.go
  pkg/operator/yugabytedb/create_controller.go
  pkg/operator/yugabytedb/update_controller.go
Labels: backport-release-1.2

#4674 Allow integration tests in minimal config to run on multiple versions
  tests/framework/installer/environment.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_deploy_test.go
Labels: backport-release-1.2

#4666 ceph: Fixed CephMonHighNumberOfLeaderChanges alert
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.2, ceph -

#4656 osd: Added check for `--crush-location`
  cmd/rook/ceph/osd.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
Labels: backport-release-1.2, ceph -

#4653 ceph: bump to 14.2.6
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-quickstart.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/longhaul/base_block_test.go
Labels: ceph -, do-not-merge

#4689 ceph: remove dead code for osd removal
  pkg/daemon/ceph/client/crush.go
  pkg/operator/ceph/cluster/osd/remove.go
Labels: ceph -

#4608 upgrade v1.0->v1.1->v1.2->v1.3 in upgrade test
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/framework/installer/ceph_manifests_v1.1.go
  tests/framework/installer/ceph_manifests_v1.2.go
  tests/framework/installer/ceph_manifests_v1.3.go
  tests/framework/installer/installer.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, test, upgrade

#4698 Ceph: updates CephCluster CRD doc to include monitoring options
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.2, docs

#4688 ceph: ability to disable crash controller
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/reconcile.go
Labels: backport-release-1.2, ceph -

#4682 ceph: add partition support
  Documentation/ceph-cluster-crd.md
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/util/sys/device.go
  pkg/util/sys/device_test.go
Labels: ceph -

#4559 ceph: Skipping quorum check if no. of ready mons is 0
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.2, ceph -

#4692 ceph: reset devicesInUse on orchestration error
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.2, ceph -

#4687 ceph: expose c-v log per pvc
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.2, ceph -, ceph-osd

#4728 ceph: fix resources for prepare job
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.1, backport-release-1.2, ceph -, ceph-osd

#4729 ceph: ensure crush-location osd command args is always the same to avoid useless osds restart
  cmd/rook/ceph/osd_test.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport-release-1.2, ceph -

#4734 ceph: fix external cluster config override cm creation
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.2, ceph -

#4725 ceph: fixed #4717 Ceph external cluster, repeatedly saving mon endpoi…
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: backport-release-1.2, ceph -

#4737 ceph: add a note of osd in placement
  Documentation/ceph-cluster-crd.md
Labels: ceph -, docs

#4723 ceph: add mds_join_fs option when running mds daemon
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: ceph -

#4435 ceph: osd do not use the rook binary for osd on pvc
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-examples.md
  Documentation/ceph-quickstart.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/osd.go
  pkg/apis/ceph.rook.io/v1/spec_test.go
  pkg/apis/rook.io/v1alpha2/storage.go
  pkg/apis/rook.io/v1alpha2/storage_test.go
  pkg/clusterd/disk.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/device_test.go
  pkg/daemon/ceph/osd/filesystem.go
  pkg/daemon/ceph/osd/filesystem_test.go
  pkg/daemon/ceph/osd/init.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/daemon/discover/discover.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/config/dirs.go
  pkg/operator/ceph/cluster/osd/config/dirs_test.go
  pkg/operator/ceph/cluster/osd/config/scheme.go
  pkg/operator/ceph/cluster/osd/config/scheme_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/util/sys/device.go
  pkg/util/sys/device_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/device.go
  tests/integration/ceph_block_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, ceph-osd

#4629 ceph: add ceph version to cluster status
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/spec/label.go
  pkg/operator/ceph/version/version.go
Labels: backport-release-1.2, ceph -

#4745 docs: clean-up Ceph NFS Gateway CRD
  Documentation/ceph-nfs-crd.md
Labels: ceph -, ceph-nfs, docs

#4442 ceph: improve kubernetes deployment upgrade detection
  Gopkg.lock
  Gopkg.toml
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/test/deployment.go
Labels: ceph -, upgrade

#4751 doc: update doc for PG count
  Documentation/ceph-configuration.md
Labels: docs

#4606 ceph: create a generic setPodPlacement used by mon and gateways
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/spec/spec.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/pod_test.go
Labels: ceph -

#4748 test: update k8s versions for CI
  Jenkinsfile
Labels: test

#4694 ceph: add securePort values for objectstore integration tests
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-crds.yaml
  pkg/operator/ceph/object/rgw.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, objectstore

#4680 Ceph: MDS pod placement adheres to fault domain topology
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  pkg/operator/ceph/file/mds/mds.go
Labels: ceph -, cephfs, feature, reliability

#4710 Skip the upgrade checks in integration tests
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.2, ceph -

#4755 ceph: bump raw block mode support to 14.2.8
  pkg/daemon/ceph/osd/volume.go
Labels: ceph -

#4767 ceph: Add nil check for ceph version
  pkg/operator/ceph/cluster/crash/reconcile.go
Labels: backport-release-1.2, ceph -

#4549 Ceph: Assure mon canary pods deletion
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
Labels: backport-release-1.2, ceph-mon, optimization

#4742 ci: add external cluster functional test
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.0.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_block_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/longhaul/base_block_test.go
Labels: ceph -

#4336 ceph: Implementing Conditions on rook-ceph
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/config/conditions.go
  tests/framework/installer/ceph_installer.go
Labels: ceph -

#4777 ceph: fix TuneSlowDeviceClass spec
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
Labels: backport-release-1.2, ceph -

#4783 ceph: skip partitions depending on the ceph version
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/volume.go
Labels: backport-release-1.2, ceph -

#4791 doc: fix CephFS CSI StorageClass name
  Documentation/ceph-filesystem.md
  cluster/examples/kubernetes/ceph/csi/cephfs/kube-registry.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/pvc.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml
Labels: docs

#4788 ceph: fix garbage collection for csi driver
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.2, ceph -

#4784 ceph: ability to enable the balancer module
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/client/mgr_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
Labels: backport-release-1.2, ceph -

#4789 backport: ceph: skip partitions depending on the ceph version
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
Labels: ceph -

#4787 Allow for empty "all" annotations
  pkg/apis/ceph.rook.io/v1/annotations.go
  pkg/apis/ceph.rook.io/v1/annotations_test.go
  pkg/apis/ceph.rook.io/v1/keys.go
Labels: backport-release-1.2, ceph -

#4714 CSI: Add LogLevel for csi templates
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: csi
