Repository rook/rook, pull requests merged in 2020-11, with the labels that each got.

#6529 ceph: rework unit test
  pkg/daemon/ceph/osd/kms/envs_test.go
Labels: ceph

#6473 ceph: added additional checks on accepting monitoring endpoint
  .github/workflows/canary-integration-test.yml
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.4, ceph

#6537 ceph: Tests need to use v14.2.12 due to broken osds in v14.2.13
  tests/framework/installer/ceph_installer.go
Labels: backport-release-1.4, ceph

#6533 ceph: Remove the osd pvc when purging the osd
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.4, ceph

#6535 ceph: add support for VAULT_TLS_SERVER_NAME
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#6504 ceph: fail if mgr prometheus is not default
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.4, ceph

#6534 ceph: helm test for k8s 1.15 failing
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crd.yaml
Labels: ceph

#6526 ceph: update required rbac for csi
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.4-apply.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#6546 ceph: lint exporter script file
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: ceph

#6551 ceph: some minor changes to external python script
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: ceph

#6550 ceph: some fields in FS CRD are missing
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph, filesystem

#6545 ceph: add unit test for ceph-volume batch mode and warn about unsupported ceph version
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/version.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: backport-release-1.4, ceph

#6558 ceph: Update base image and examples to v15.2.5
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph

#6561 ceph: add privileged securityContext to cephfs deployment
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
Labels: backport-release-1.4, ceph, csi

#6489 ceph: Stretch cluster configuration
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-examples.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/apis/ceph.rook.io/v1/blockpool.go
  pkg/apis/ceph.rook.io/v1/cluster.go
  pkg/apis/ceph.rook.io/v1/cluster_test.go
  pkg/apis/ceph.rook.io/v1/pool.go
  pkg/apis/ceph.rook.io/v1/pool_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/crush_rule.go
  pkg/daemon/ceph/client/crush_rule_test.go
  pkg/daemon/ceph/client/mon.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/topology_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/validate.go
  pkg/operator/ceph/pool/validate_test.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/pod_test.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6567 docs: precise three nodes
  Documentation/ceph-examples.md
  Documentation/ceph-quickstart.md
Labels: backport-release-1.5

#6574 Integration test fixes for release branch to preserve in master
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crd.yaml
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_base_file_test.go
  tests/integration/nfs_test.go
Labels: test

#6483 ceph: make the placement of admission controller configurable
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/webhook.go
  pkg/operator/ceph/webhook_test.go
  pkg/operator/k8sutil/tolerations.go
Labels: backport-release-1.4, backport-release-1.5, ceph-

#6589 ceph: Disable the discovery daemon by default
  Documentation/ceph-quickstart.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cmd/rook/ceph/operator.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6594 docs: clarify the meaning of cleanup policy of ceph cluster crd
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: backport-release-1.5, docs

#6490 fix: issue#6460 remove helm2 section, upgrade helm3
  Documentation/helm-operator.md
Labels: backport-release-1.5

#6579 ceph: change nfs-ganesha log level
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/nfs-test.yaml
  cluster/examples/kubernetes/ceph/nfs.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/nfs/spec.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph, ceph-nfs

#6559 ceph: upgrade test Rook only from v1.4 to master
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.4-crds.yaml
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.4.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.5, ceph-, test

#6610 ceph: fill in rgw deployment version
  pkg/operator/ceph/object/controller.go
Labels: backport-release-1.4, backport-release-1.5, bug, ceph

#6524 ceph: associate newly created pools to existing filesystem
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
Labels: backport-release-1.5, bug, ceph

#6544 ceph: Add 'ganesha-' to nfs-ganesha config object name
  Documentation/ceph-nfs-crd.md
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/nfs/controller_test.go
  pkg/operator/ceph/nfs/nfs.go
Labels: backport-release-1.5, ceph

#6599 ceph: allow pod labels to be added to CSI components
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/k8sutil/labels.go
  pkg/operator/k8sutil/labels_test.go
Labels: backport-release-1.5, ceph, csi, operator

#6623 docs: revise Ceph upgrade docs for v1.5 release
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-delete.yaml
Labels: backport-release-1.5, ceph, docs, upgrade

#6613 ceph: fix nfs daemons not updating
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
Labels: backport-release-1.5, bug, ceph, ceph-nfs, upgrade

#6598 ceph: allow custom labels to be added to the discover daemonset
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/discover/discover.go
Labels: backport-release-1.5, discover, operator

#6627 docs: update ceph upgrade to use common.yaml
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/upgrade-from-v1.4-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.4-crds.yaml
Labels: backport-release-1.5, ceph, docs, upgrade

#6629 docs: Minor updates to the 1.5 Ceph upgrade guide
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: backport-release-1.5, docs

#6633 ceph: allow deprecated fs preservePoolsOnDelete
  Documentation/ceph-filesystem-crd.md
  pkg/operator/ceph/file/controller.go
Labels: backport-release-1.5, bug, ceph, filesystem, upgrade

#6635 build: Set manifest versions to v1.5.0
  .github/workflows/canary-integration-test.yml
  Documentation/cassandra.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-toolbox.md
  Documentation/cockroachdb.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-monitoring.md
  Documentation/edgefs-quickstart.md
  Documentation/nfs.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cluster/examples/kubernetes/ceph/toolbox-job.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/nfs/webhook.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: build

#6642 ceph: update snapshotterVersion to v3.0.0
  tests/framework/utils/snapshot.go
Labels: ceph

#6646 ceph: update ceph quick start doc to use new crds.yaml file
  Documentation/ceph-quickstart.md
Labels: backport-release-1.5, ceph, docs

#6648 ceph: add external script to the container image
  images/ceph/Dockerfile
  images/ceph/Makefile
Labels: backport-release-1.5, ceph

#6396 ceph: support ceph cluster and CSI on multus in different namespace
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/config/network.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/operator.go
Labels: backport-release-1.5, ceph

#6655 docs: Clarify helm warning that could delete cluster
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
Labels: backport-release-1.5, docs

#6592 ceph: update cleanupPolicy design doc
  design/ceph/ceph-cluster-cleanup.md
Labels: backport-release-1.5, ceph, docs

#6658 ceph: Restore mon clusterIP if the service is missing
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/service_test.go
Labels: backport-release-1.5, ceph

#6553 ceph: add snapshot scheduling for mirrored pools
  Documentation/ceph-pool-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  pkg/apis/ceph.rook.io/v1/pool.go
  pkg/apis/ceph.rook.io/v1/pool_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
  pkg/daemon/ceph/client/pool.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/health.go
  pkg/operator/ceph/pool/status.go
  pkg/operator/ceph/pool/status_test.go
  pkg/operator/ceph/pool/validate.go
  pkg/operator/ceph/pool/validate_test.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6666 ci: fix device intermittent failure
  tests/scripts/create-bluestore-partitions.sh
  tests/scripts/localPathPV.sh
Labels: backport-release-1.5

#6497 ceph: OSD PDB reconciler changes
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  design/ceph/ceph-managed-disruptionbudgets.md
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/labels.go
  pkg/operator/ceph/cluster/osd/labels_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/clusterdisruption/location_test.go
  pkg/operator/ceph/disruption/clusterdisruption/mon_test.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/nodedrain/add.go
  pkg/operator/ceph/disruption/nodedrain/doc.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6664 ceph: update Jenkins to skip Ceph tests
  Jenkinsfile
Labels: ceph

#6676 ceph: update cephcsi to latest v3.1.2 release
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.5, ceph

#6417 ceph: periodically prune crash entries older than user-provided days
  Documentation/ceph-cluster-crd.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/keyring.go
  pkg/operator/ceph/cluster/crash/keyring_test.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_multi_cluster_test.go
Labels: ceph

#6693 ceph: ability to abort orchestration
  cmd/rook/rook/rook.go
  go.mod
  go.sum
  pkg/clusterd/context.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/predicate.go
  pkg/operator/ceph/cluster/utils.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/controller/predicate_test.go
  pkg/operator/ceph/pool/controller_test.go
Labels: backport-release-1.4, backport-release-1.5, ceph

#6696 ceph: fix metadata device passed by-id
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.5, ceph

#6702 ceph: fix pod labels set on csi components
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
Labels: backport-release-1.5, ceph, csi, operator

#6710 Minikube script fixes
  tests/scripts/minikube.sh
Labels: ready-to-merge

#6709 ceph: fix RBAC for cron cash pruner
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#6717 docs: update Blaine's email in OWNERS.md
  OWNERS.md
Labels: docs
