Repository rook/rook, pull requests merged in 2020-06, with the labels that each got.

#5569 Handle node failure more gracefully (bp #5556)
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/k8sutil/pod.go
Labels: ceph -

#5565 docs: update the obc provisioner name
  Documentation/ceph-object-bucket-claim.md
  Documentation/ceph-object.md
  Documentation/development-flow.md
Labels: backport-release-1.3, docs

#5571 docs: update the obc provisioner name (bp #5565)
  Documentation/ceph-object-bucket-claim.md
  Documentation/ceph-object.md
Labels: ceph -

#5568 Start csi driver in parallel of cluster configuration
  pkg/operator/ceph/csi/cluster_config.go
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/operator.go
Labels: backport-release-1.3, ceph -

#5572 Start csi driver in parallel of cluster (bp #5568)
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/operator.go
Labels: ceph -, csi

#5577 ceph: fix obc additionalConfig field
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: backport-release-1.3, obc

#5511 obc: Do not delete user for retain policy if it is owner
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/s3-handlers.go
Labels: backport-release-1.3, ceph -, obc

#5594 ceph: do not use external node IP for mon endpoint
  pkg/operator/ceph/cluster/mon/node.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/test/client.go
Labels: backport-release-1.3, ceph -

#5585 ceph: fallback podAntiAffinity to preferredDuringSchedulingIgnoredDuringExecution on rgw
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.3, ceph -

#5593 ceph: fix the document of OSD management
  Documentation/ceph-osd-mgmt.md
Labels: backport-release-1.3, ceph -

#5528 chore: Make csv generation work with operator-sdk 0.15.0 and later, remove support for previous versions.
  cluster/olm/ceph/generate-rook-csv-templates.sh
  cluster/olm/ceph/generate-rook-csv.sh
  images/ceph/Makefile
Labels: build

#5603 ceph: update cephcsi to v2.1.2
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.3, csi

#5606 ceph: fix osd number detection on upgrade
  pkg/daemon/ceph/client/upgrade.go
Labels: backport-release-1.3, ceph -

#5607 ceph: increase liveness probe start delay on OSD
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
Labels: backport-release-1.3, ceph -

#4028 ci: do not run when no code changes
  INSTALL.md
  Jenkinsfile
Labels: build

#5595 Configurable Service Port Names
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
Labels: backport-release-1.3, ceph -

#5613 Increase OSD size when the template size increases
  pkg/apis/rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/status.go
Labels: backport-release-1.3, ceph -

#5509 ceph: obc clean up resources incase of failure
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/rgw-handlers.go
Labels: backport-release-1.3, ceph -, obc

#5639 ceph: metadata pvcs use a map instead of index
  pkg/apis/rook.io/v1/types.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport-release-1.3, ceph -

#5630 ceph: add schedulerName property to storageClassDeviceSet
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/apis/rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.3, ceph -

#5618 docs: add external monitoring design
  design/ceph/ceph-external-cluster.md
Labels: ceph -, design, monitoring

#5657 ceph: fix script IP parsing
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, ceph -

#5626 discover: fix info log for discovered devices
  pkg/daemon/discover/discover.go
Labels: discover

#5623 ceph: add the ability to set any pool property
  Documentation/ceph-pool-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/pool-ec.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/blockpool.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/pool.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/version.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  tests/framework/installer/ceph_manifests_v1.2.go
Labels: ceph -

#5669 ceph: add the ability to set any pool property (bp #5623)
  Documentation/ceph-pool-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/pool-ec.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/blockpool.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/pool.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/version.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
Labels: ceph -

#5668 ceph: Update maxMonId if incorrect
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/util.go
Labels: backport-release-1.3, ceph -

#5664 ceph: add external support for object store user
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/rbd/controller_test.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/nfs/controller_test.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket/rgw-handlers.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/user.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/util/exec/exec.go
Labels: backport-release-1.3, ceph -

#5673 ceph: Added CephClusterReadOnly alert and updated utilization alerts.
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.3, ceph -, monitoring

#5628 ceph: fix ignoring device specification with non-kname
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
Labels: backport-release-1.3, ceph -, ceph-osd

#5690 ceph: fix a wrong link
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.2, backport-release-1.3, ceph -, docs

#5691 ceph: fix the wrong document of tuneDeviceClass
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
Labels: backport-release-1.3, ceph -, docs

#5685 ceph: added PVC utilization alerts
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.2, monitoring

#5682 ceph: updated PVC utilization alerts
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.3, ceph -, monitoring

#5045 ceph: Adding support for admission controllers
  Documentation/admission-controller-usage.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/config-admission-controller.sh
  cmd/rook/ceph/admission.go
  cmd/rook/ceph/ceph.go
  cmd/rook/main.go
  pkg/daemon/admission/controller.go
  pkg/daemon/admission/server.go
  pkg/daemon/admission/tlsutil.go
  pkg/operator/ceph/admission.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/webhook.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_deploy_test.go
  tests/scripts/deploy_admission_controller.sh
  tests/scripts/deploy_admission_controller_test.sh
  tests/scripts/webhook-config.yaml
  tests/scripts/webhook-create-signed-cert.sh
  tests/scripts/webhook-patch-ca-bundle.sh
Labels: ceph -, feature

#5696 ceph: fix exec output
  pkg/util/exec/exec.go
Labels: backport-release-1.3, ceph -

#5698 ceph: During mon failover remove the backing pvc
  pkg/operator/ceph/cluster/mon/health.go
Labels: backport-release-1.3, ceph -

#5730 ceph: fix GetUser
  pkg/operator/ceph/object/user.go
Labels: backport-release-1.3, ceph -

#5720 ceph: Force delete stuck mons in every reconcile instead of only in the health check
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.3, ceph -

#5703 Backport v1.3: ceph fix the wrong document of tune device class
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport
