Repository rook/rook, pull requests merged in 2020-08, with the labels that each got.

#5931 ceph: Allowing ceph filesystem argument to be optional
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, backport-release-1.4, ceph -

#5949 ceph: do not validate rgw pool if no endpoint
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, backport-release-1.4, ceph -

#4676 ceph: enable/disable dashboard for rgw
  Documentation/ceph-dashboard.md
  PendingReleaseNotes.md
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/user.go
Labels: backport-release-1.4, ceph -, ceph-dashboard, objectstore

#5946 Documentation improvement for Ceph External Cluster
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.4, ceph -, docs

#5950 ceph: cleanup csi package
  pkg/operator/ceph/csi/csi-cephfsplugin-provisioner.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.4, ceph -

#5961 ceph: add expand secret to storageclass examples
  Documentation/ceph-block.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-filesystem.md
Labels: backport-release-1.4, docs

#5830 doc: design nfs provisioner controlled by operator
  design/nfs/nfs-provisioner-controlled-by-operator.md
Labels: docs, nfs

#5963 ceph: create csidriver if kube version is >1.14
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.4, ceph -

#5929 ceph: Upgrade guide from v1.3 to v1.4
  Documentation/ceph-csi-snapshot.md
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-delete.yaml
  cluster/olm/ceph/generate-rook-csv.sh
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/labels.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.4, ceph -, docs

#5581 ceph: support crypt type device in OSD on PVC
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/util/sys/device.go
Labels: backport-release-1.4, ceph -

#5886 ceph: minor fixes for multisite docs
  Documentation/ceph-object-multisite.md
  Documentation/ceph-object-store-crd.md
Labels: backport-release-1.4, ceph -, docs

#5979 ceph: added rgw poolPrefix on ceph external script output
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.4, ceph -

#5980 ceph: fix unit test mock
  pkg/operator/ceph/object/controller_test.go
Labels: backport-release-1.4, ceph -

#5985 ceph: During upgrade the mon service selector cannot be changed
  pkg/operator/ceph/cluster/mon/service.go
Labels: backport-release-1.4, ceph -, upgrade

#5989 ceph: Symlink prometheus manifests in same dir
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v15-rules-external.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v15-rules.yaml
Labels: backport-release-1.4, ceph -

#5990 ceph: Update the cluster status with a non-cached object
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/config/conditions.go
Labels: backport-release-1.4, ceph -

#5982 ceph: remove csi support for kubernetes 1.13
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cmd/rook/ceph/operator.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/operator.go
Labels: ceph -, csi

#5680 Add spec to enable/disable RBD pool stats collection
  Documentation/ceph-monitoring.md
  Documentation/ceph-pool-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh
  cluster/examples/kubernetes/ceph/pool.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.4, ceph -, ceph-mgr, monitoring

#5984 ceph: add check for nil object status
  pkg/operator/ceph/object/status.go
Labels: backport-release-1.4, ceph -

#5864 ceph: fix networkAttachmentConfig to be compatible with whereabouts cni
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/config/network.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/k8sutil/network.go
Labels: backport-release-1.4, ceph -

#6001 ceph: Improve object bucket test stability
  tests/integration/ceph_base_object_test.go
Labels: backport-release-1.4, build, ceph -

#6010 docs: add provisioner prefix namespace comment in ceph csi examples
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
Labels: backport-release-1.4, ceph -

#6019 ceph: Removed the storage provisioners usage rules.
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.4, ceph -, monitoring

#6018 ceph: fix healtcheck for external cluster
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: backport-release-1.3, backport-release-1.4, ceph -

#6014 ceph: adding ability to specify crushroot in the CRD
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.4, ceph -

#6025 Reset the pending release notes
  PendingReleaseNotes.md
Labels: docs

#6028 ceph: Fix psp clusterrole name for helm chart
  cluster/charts/rook-ceph/templates/clusterrole.yaml
Labels: backport-release-1.4, ceph -

#6008 docs: fix clean policy confirmation
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.4, ceph -, docs

#6026 ceph: Test cluster settings for mon failover interval
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: backport-release-1.4, ceph -

#5580 ceph: add support for wal device for OSD on PVC
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/daemon/ceph/cleanup/disk.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/volumes.go
Labels: backport-release-1.4, ceph -

#6040 ceph: add missing crds in csv
  cluster/olm/ceph/assemble/metadata-common.yaml
Labels: backport-release-1.4, ceph -

#6039 ceph: do not validate default.rgw.buckets.index
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, backport-release-1.4, ceph -

#6046 ceph: re-add missing RBAC to CSV
  cluster/olm/ceph/generate-rook-csv.sh
Labels: backport-release-1.4, ceph -, csv

#6029 ceph: Mon failover should first scale down the failed mon before starting the new mon
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: backport-release-1.4, ceph -, ceph-mon

#5977 ceph: add support for encrypted metadata pvc
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/config_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.4, ceph -

#6033 ceph: check channel is open before closing
  pkg/operator/ceph/cluster/operator_watchers.go
Labels: backport-release-1.4, ceph -

#6056 cassandra: Initialize merged annotations when empty
  pkg/apis/rook.io/v1/annotations.go
  pkg/apis/rook.io/v1/annotations_test.go
Labels: backport-release-1.4

#6060 ceph: use different command for lvm2 presence
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/nsenter_test.go
Labels: backport-release-1.4, ceph

#6063 ceph: check for gone node on crash collector
  pkg/operator/ceph/cluster/crash/reconcile.go
Labels: backport-release-1.3, backport-release-1.4, ceph

#5986 ceph: disable object store port when secureport specified
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/status.go
  pkg/operator/ceph/object/status_test.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
Labels: ceph

#6058 ceph: add support for encrypted metadata pvc (bp #5977)
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/config_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph

#6017 Add/update ceph csi snapshotter rbac and sidecar deployments
  Documentation/ceph-csi-snapshot.md
  Documentation/ceph-csi-volume-clone.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/pvc-clone.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/pvc-restore.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/snapshot.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-apply.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  tests/framework/installer/ceph_csi_templates.go
Labels: do-not-merge

#6083 docs: added rbd mirror crd documentation
  Documentation/ceph-rbd-mirror-crd.md
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph, docs

#6090 ceph: fix object store healthcheck yaml
  Documentation/ceph-object.md
  cluster/examples/kubernetes/ceph/object-external.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.4, ceph

#6082 core: added labels to rook v1
  pkg/apis/rook.io/v1/labels.go
  pkg/apis/rook.io/v1/labels_test.go
  pkg/apis/rook.io/v1/types.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
Labels: Provider Framework (SDK), backport-release-1.4

#6062 ceph: add support for wal encrypted device on pvc
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.4, ceph

#6086 doc: fix helm command usage
  Documentation/helm-operator.md
Labels: backport-release-1.4, docs, helm

#6099 ceph: fix v1.3 to v1.4 upgrade apply file syntax
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-apply.yaml
Labels: backport-release-1.4, ceph

#6059 ceph: improve callCephVolume() for list and prepare
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/drivegroups.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.4, ceph

#6102 ci: fix inconsistent error log
  tests/integration/ceph_mgr_test.go
Labels: backport-release-1.4

#6104 ceph: pass csi resources as string in helm
  cluster/charts/rook-ceph/values.yaml
Labels: backport-release-1.4, ceph, helm

#6107 ceph: check rootfs for lvm too
  pkg/daemon/ceph/osd/nsenter.go
  pkg/daemon/ceph/osd/nsenter_test.go
Labels: backport-release-1.4, ceph

#6072 ceph: object realm controller unit tests
  pkg/operator/ceph/object/realm/controller_test.go
Labels: ceph

#6103 ceph: Separate placement for osd prepare jobs from osd daemons
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/apis/rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
Labels: backport-release-1.4, ceph

#6118 ceph: Set the OSD prepare resources
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
Labels: ceph

#6079 docs: add a note of OSD on LV-backed PVC's known problem
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
Labels: backport-release-1.2, backport-release-1.3, backport-release-1.4, ceph, docs

#6120 ceph: do not use realPath for osd on pvc
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.4, ceph

#6123 ceph: applying latest changes to object-prefixed manifests
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
Labels: backport-release-1.4, ceph

#6116 ceph: Continue with memory limits below min settings
  Documentation/ceph-cluster-crd.md
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/file/mds/mds.go
Labels: backport-release-1.4, ceph

#6126 ceph: add expansion support for encrypted osd on pvc
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.4, ceph

#5740 ceph: added support for multus for csi
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/k8sutil/network.go
Labels: ceph

#6137 ceph: use proper log functions in object package
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/rgw.go
Labels: ceph

#6144 build: allow golang 1.15
  build/makelib/golang.mk
Labels: build

#6141 ceph: remove preStop from daemonset template
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  tests/framework/installer/ceph_csi_templates.go
Labels: backport-release-1.3, backport-release-1.4, ceph

#5863 nfs: nfs provisioner controlled by operator
  cluster/examples/kubernetes/nfs/nfs.yaml
  cluster/examples/kubernetes/nfs/provisioner.yaml
  cluster/examples/kubernetes/nfs/sc.yaml
  pkg/operator/nfs/controller.go
  pkg/operator/nfs/controller_test.go
  pkg/operator/nfs/provisioner.go
  pkg/operator/nfs/provisioner_test.go
  pkg/operator/nfs/spec.go
  tests/framework/installer/nfs_manifests.go
  tests/integration/nfs_test.go
Labels: do-not-merge, nfs

#6152 ceph: correctly return if multus was applied
  pkg/operator/ceph/csi/spec.go
Labels: ceph

#6136 ceph: vulnerability in package golang.org/x/text
  go.mod
  go.sum
Labels: backport-release-1.4, ceph, security

#6160 docs: Fix link to ceph upgrade guide
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.4, ceph, docs

#6156 ceph: operator should only "watch" OSD placement nodes
  pkg/operator/ceph/cluster/watcher.go
Labels: backport-release-1.4, ceph, operator

#6164 ceph: improve common issues document
  Documentation/ceph-common-issues.md
Labels: ceph

#6170 ceph: run obc requests with debug
  pkg/operator/ceph/object/bucket/provisioner_test.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/status_test.go
Labels: backport-release-1.3, backport-release-1.4, ceph

#6175 ceph: do not exec on rootfs just lookup
  pkg/daemon/ceph/osd/nsenter.go
  pkg/daemon/ceph/osd/nsenter_test.go
Labels: backport-release-1.4, ceph

#5956 ci: Run integration tests on k8s 1.19
  Jenkinsfile
  tests/framework/installer/ceph_manifests_v1.2.go
Labels: build

#6145 ceph: add uninstall mode
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.4, ceph
