Repository rook/rook, pull requests merged in 2020-09, with the labels that each got.

#6190 ci: change disk used by the CI
  Jenkinsfile
  tests/framework/installer/environment.go
  tests/scripts/localPathPV.sh
Labels: backport-release-1.4

#6142 ceph: do not use label selector on external svc
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/spec.go
  tests/integration/ceph_base_object_test.go
Labels: backport-release-1.4, ceph

#6198 ceph: only enable init container if dash is enabled
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
Labels: ceph

#6127 ceph: purge a down osd with a job
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.4, ceph

#6197 ceph: disable ceph mgr test temporarily
  tests/integration/ceph_mgr_test.go
Labels: ceph

#6207 ceph: Remove NParts and Cache_Size from MDCACHE block
  pkg/operator/ceph/nfs/config.go
Labels: backport-release-1.4, ceph

#6205 ceph: update object prefixed manifests and related docs
  Documentation/ceph-object-store-crd.md
  Documentation/ceph-object.md
  cluster/examples/kubernetes/ceph/object-multisite-pull-realm.yaml
  cluster/examples/kubernetes/ceph/object-multisite.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
Labels: ceph

#6204 ceph: update readme
  tests/README.md
  tests/scripts/kubeadm-install.sh
  tests/scripts/kubeadm.sh
Labels: ceph

#6208 ceph: update cephobjectstore monitoring logic
  pkg/operator/ceph/object/controller.go
Labels: backport-release-1.4, ceph

#6192 ceph: update the note of OSD on LV-backed PVC
  Documentation/ceph-common-issues.md
Labels: backport-release-1.4, ceph

#6220 ceph: update remove.go
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.4, ceph

#6224 ceph: Cleanup mon canary pvc if the failover failed
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
Labels: ceph

#6229 ceph: Run integration tests on k8s 1.19 for PRs
  tests/integration/ceph_base_deploy_test.go
Labels: ceph

#6232 ceph: dont set ownerRef when creating csidriver object
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.4, ceph, csi

#6234 ceph: fixed DNS suffix breaks in custom DNS suffix clusters
  pkg/operator/ceph/object/bucket/provisioner_test.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/status_test.go
Labels: backport-release-1.4, ceph

#6225 ceph: add storageClassDeviceSet label to osd pods
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.4, ceph, ceph-osd

#6227 ceph: fix to support TLS enabled rgw-endpoint
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, backport-release-1.4, ceph

#6226 ceph: allow running rgw in rook with external mode
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec_test.go
Labels: backport-release-1.4, ceph

#6066 ceph: Add E2E testing for csi snapshot and clone
  tests/framework/clients/block.go
  tests/framework/clients/filesystem.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
  tests/framework/utils/k8s_helper.go
  tests/framework/utils/snapshot.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph, csi

#6254 ceph: tweak removeOSDsIfOutAndSafeToRemove wording
  Documentation/ceph-cluster-crd.md
Labels: ceph

#6256 ceph: Upgrade to v1.4.3 for cluster-on-pvc example hangs due to changing label selectors on the mons
  pkg/operator/ceph/cluster/mon/spec.go
Labels: backport-release-1.4, ceph

#6235 ceph: Use truncated node name
  pkg/operator/ceph/cluster/osd/status.go
Labels: backport-release-1.4, ceph

#6267 ceph: fix drive group deployment failure
  cmd/rook/ceph/osd.go
Labels: backport-release-1.4, bug, ceph

#6252 ceph: merge config from rook-config-override configmap to the default global config file
  pkg/daemon/ceph/client/config.go
  pkg/daemon/ceph/client/config_test.go
Labels: backport-release-1.3, backport-release-1.4, ceph

#6269 ceph: set ROOK_CEPH_CLUSTER_CRD_NAME with cluster name
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
Labels: ceph

#6260 ceph: handle golangci-lint linter gosimple
  .github/workflows/golangci-lint.yaml
  cmd/rook/cassandra/operator.go
  pkg/apis/edgefs.rook.io/v1/utils.go
  pkg/daemon/ceph/agent/agent.go
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager.go
  pkg/daemon/ceph/cleanup/hostpath.go
  pkg/daemon/ceph/client/config.go
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/drivegroups.go
  pkg/daemon/util/cmdreporter.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/cluster/monitoring.go
  pkg/operator/ceph/cluster/operator_watchers.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/utils.go
  pkg/operator/ceph/cluster/watcher.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/test/containers.go
  pkg/operator/ceph/version/version_test.go
  pkg/operator/cockroachdb/operator.go
  pkg/operator/edgefs/cluster/cluster.go
  pkg/operator/edgefs/cluster/cluster_deployment_config.go
  pkg/operator/edgefs/cluster/controller.go
  pkg/operator/edgefs/cluster/prepare/prepare.go
  pkg/operator/edgefs/cluster/utils.go
  pkg/operator/edgefs/operator.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
  pkg/operator/test/containers.go
  pkg/operator/yugabytedb/operator.go
  pkg/util/flags/flags.go
  tests/framework/installer/edgefs_installer.go
  tests/framework/installer/nfs_installer.go
  tests/framework/utils/k8s_helper.go
  tests/framework/utils/mysql_helper.go
Labels: ceph

#6276 ceph: only run version check for monitoring
  pkg/operator/ceph/cluster/cluster_external.go
Labels: backport-release-1.4, ceph

#6272 ceph: If spec diff checking fails during upgrade, assume it changed
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/k8sutil/deployment.go
Labels: backport-release-1.4, ceph

#6250 ceph: add rbd-mirror configuration
  Documentation/ceph-pool-crd.md
  Documentation/ceph-rbd-mirror-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  cluster/examples/kubernetes/ceph/rbdmirror.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.4-crds.yaml
  pkg/apis/ceph.rook.io/v1/mirror.go
  pkg/apis/ceph.rook.io/v1/summary.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
  pkg/daemon/ceph/client/pool.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/config_test.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/cluster/rbd/controller_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/controller/predicate_test.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/status_test.go
  pkg/operator/ceph/pool/config.go
  pkg/operator/ceph/pool/config_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/health.go
  pkg/operator/ceph/pool/status.go
  pkg/operator/ceph/pool/validate.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_smoke_test.go
Labels: ceph

#6185 ceph: integration test on openshift
  tests/README.md
  tests/framework/installer/cassandra_installer.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/cockroachdb_installer.go
  tests/framework/installer/edgefs_installer.go
  tests/framework/installer/environment.go
  tests/framework/installer/installer.go
  tests/framework/installer/nfs_installer.go
  tests/framework/installer/provisioners.go
  tests/framework/installer/yugabytedb_installer.go
  tests/framework/utils/env.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_smoke_test.go
Labels: ceph

#6278 ceph: handle golangci-lint linter unused
  .github/workflows/golangci-lint.yaml
  cmd/rook/ceph/osd.go
  cmd/rook/nfs/operator.go
  cmd/rookflex/cmd/mount.go
  pkg/apis/rook.io/v1/storage.go
  pkg/daemon/ceph/agent/cluster/controller.go
  pkg/daemon/ceph/agent/flexvolume/attachment/fake.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/init.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/node.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/util.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/config/keyring/store.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/clusterdisruption/static_pdb.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/bucket/api-handlers.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/rgw-handlers.go
  pkg/operator/ceph/object/bucket/util.go
  pkg/operator/ceph/object/realm/controller_test.go
  pkg/operator/ceph/provisioner/provisioner.go
  pkg/operator/ceph/server.go
  pkg/operator/ceph/test/spec.go
  pkg/operator/ceph/version/version.go
  pkg/operator/edgefs/cluster/cluster.go
  pkg/operator/edgefs/cluster/prepare/prepare.go
  pkg/operator/edgefs/cluster/target/pod.go
  pkg/operator/edgefs/iscsi/controller.go
  pkg/operator/edgefs/isgw/controller.go
  pkg/operator/edgefs/nfs/controller.go
  pkg/operator/edgefs/s3/controller.go
  pkg/operator/edgefs/s3x/controller.go
  pkg/operator/edgefs/smb/controller.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
  tests/framework/clients/test_client.go
  tests/framework/installer/ceph_csi_templates.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_mgr_test.go
Labels: ceph

#6285 ceph: update about 'rook' module in cluster.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: ceph

#6274 ceph: add unit tests for zone group
  pkg/operator/ceph/object/realm/controller_test.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/object/zonegroup/controller_test.go
Labels: ceph

#6228 ceph: remove owner reference set by rook on csidriver
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/operator/ceph/csi/spec.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph, csi

#6284 docs: common issue low aio-max-nr setting
  Documentation/ceph-common-issues.md
Labels: backport-release-1.4

#6286 ceph: handle golangci-lint linter ineffassign
  .github/workflows/golangci-lint.yaml
  cmd/rook/ceph/osd_test.go
  pkg/apis/edgefs.rook.io/v1/utils.go
  pkg/daemon/ceph/agent/flexvolume/server_test.go
  pkg/daemon/ceph/client/erasure-code-profile_test.go
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/realm/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/version/version.go
  pkg/operator/k8sutil/delete_test.go
  pkg/operator/test/volumes.go
  pkg/operator/yugabytedb/controller_test.go
  pkg/util/sys/device_test.go
  tests/framework/installer/cassandra_installer.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph

#6307 ceph: allow osd pvc template name set to any value
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
Labels: backport-release-1.3, backport-release-1.4, ceph

#6306 ceph: handle golangci-lint linter staticcheck error
  .github/workflows/golangci-lint.yaml
  pkg/daemon/ceph/agent/flexvolume/server.go
  pkg/daemon/ceph/client/auth.go
  pkg/daemon/ceph/client/image_test.go
  pkg/daemon/util/cmdreporter_test.go
  pkg/operator/ceph/cluster/mon/config_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/rbd/controller_test.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/disruption/clusterdisruption/mon.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/controller_test.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/user.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/prometheus.go
  pkg/operator/yugabytedb/controller.go
  tests/framework/clients/pool.go
  tests/framework/utils/k8s_helper.go
Labels: ceph

#6319 [skip ci] example yamls: use new style parameters.compression_mode
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem-test.yaml
  cluster/examples/kubernetes/ceph/object-multisite.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
  cluster/examples/kubernetes/ceph/pool-test.yaml
Labels: backport-release-1.4, ceph

#6112 nfs: design nfs quota
  design/nfs/nfs-quota.md
Labels: nfs

#6336 csi: update csi sidecar images
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  tests/framework/installer/ceph_manifests.go
Labels: csi

#6340 ceph: update cephcsi to v3.1.1
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.4, ceph, csi

#6343 ceph: only support one external cluster secret
  cluster/examples/kubernetes/ceph/import-external-cluster.sh
Labels: backport-release-1.4, ceph

#6338 ceph: remove user unlink while deleting OBC
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/user.go
Labels: backport-release-1.4, ceph

#6330 ceph: Detect OSDs on PVCs in batches instead of with label selectors individually
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport-release-1.4, ceph

#6344 ceph: create user for each ganesha daemon
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/nfs/controller_test.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
Labels: ceph

#6350 ceph: disable keyring after opening encrypted block
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.4, ceph
