Repository rook/rook, pull requests merged in 2020-12, with the labels that each got.

#6719 ceph: cleanup should ignore ceph daemon pods that are not scheduled on any node.
  pkg/operator/ceph/cluster/cleanup.go
Labels: backport-release-1.4, backport-release-1.5, ceph

#6720 core: fix label merge
  pkg/apis/rook.io/v1/labels.go
Labels: backport-release-1.4, backport-release-1.5

#6679 ceph: add log collector
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/mirror.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/spec.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6726 ceph: Update examples and base image to v15.2.7
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.4, backport-release-1.5, ceph

#6731 docs: update vault kms integration doc
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.5, ceph

#6657 ceph: add more debug logging to obj bucket claims
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: backport-release-1.5, ceph

#6742 ceph: RGW service selector should not change during upgrade
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.4, backport-release-1.5, ceph

#6687 ceph: include csi by default in the csv
  cluster/olm/ceph/generate-rook-csv.sh
Labels: backport-release-1.5

#6699 ceph: update object bucket provisioner library
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  go.mod
  go.sum
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/controller.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, bug, ceph, object bucket claims (OBC)

#6763 ceph: fix cluster.yaml example
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: backport-release-1.5, ceph

#6757 docs: Replace the broken addresses of the document
  design/common/multiple-storage-types-support.md
Labels: backport-release-1.5, docs

#6714 ceph: ability to set external services ports
  Documentation/ceph-cluster-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/cluster_external_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6768 ceph: fix #6214 New node is not provisioned when useAllNodes: true
  pkg/daemon/ceph/client/crush.go
Labels: backport-release-1.5, ceph

#6759 ceph: Merge placement node affinity for stretch clusters
  pkg/apis/rook.io/v1/placement.go
  pkg/apis/rook.io/v1/placement_test.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/k8sutil/node.go
Labels: backport-release-1.5, ceph

#6773 Revert "ceph: update object bucket provisioner library"
  go.mod
  go.sum
  pkg/operator/ceph/object/controller.go
Labels: backport-release-1.5, bug, ceph, object bucket claims (OBC)

#6778 build: Update manifest versions to v1.5.3 for the critical release
  .github/workflows/canary-integration-test.yml
  Documentation/cassandra.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-toolbox.md
  Documentation/ceph-upgrade.md
  Documentation/cockroachdb.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-monitoring.md
  Documentation/edgefs-quickstart.md
  Documentation/nfs.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cluster/examples/kubernetes/ceph/toolbox-job.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/nfs/webhook.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: do-not-merge

#6780 build: add missing junit line to go.sum
  go.sum
Labels: build

#6781 ceph: Retry mirror status update in tests
  pkg/operator/ceph/pool/controller_test.go
Labels: backport-release-1.5, ceph

#6761 ceph: Allow arbiter to have separate placement from other mons
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  pkg/apis/ceph.rook.io/v1/keys.go
  pkg/apis/ceph.rook.io/v1/placement.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node.go
Labels: backport-release-1.5, ceph

#6779 build: add missing junit line to go.sum
  go.sum
Labels: build

#6785 ceph: Updated thresholds of OSD capacity alerts and added the device_class info
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.5, ceph

#6765 ceph: add mgr caps for csi-rbd-node client
  pkg/operator/ceph/csi/secrets.go
  pkg/operator/ceph/csi/secrets_test.go
Labels: backport-release-1.5, ceph

#6806 ceph: Stretch cluster waits for OSDs to stabilize before enabling arbiter
  pkg/daemon/ceph/client/mon.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/k8sutil/pod.go
Labels: backport-release-1.5, ceph

#6809 ceph: add namespace meta-comments to manifests
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/ceph-client.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common-external.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/dashboard-external-http.yaml
  cluster/examples/kubernetes/ceph/dashboard-external-https.yaml
  cluster/examples/kubernetes/ceph/dashboard-ingress-https.yaml
  cluster/examples/kubernetes/ceph/dashboard-loadbalancer.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem-test.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/nfs-test.yaml
  cluster/examples/kubernetes/ceph/nfs.yaml
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-external.yaml
  cluster/examples/kubernetes/ceph/object-multisite.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
  cluster/examples/kubernetes/ceph/object-user.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cluster/examples/kubernetes/ceph/pool-ec.yaml
  cluster/examples/kubernetes/ceph/pool-test.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  cluster/examples/kubernetes/ceph/rbdmirror.yaml
  cluster/examples/kubernetes/ceph/rgw-external.yaml
  cluster/examples/kubernetes/ceph/scc.yaml
  cluster/examples/kubernetes/ceph/storageclass-bucket-delete.yaml
  cluster/examples/kubernetes/ceph/storageclass-bucket-retain.yaml
  cluster/examples/kubernetes/ceph/toolbox-job.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph, upgrade

#6769 ceph: update csi to v3.2.0
  Documentation/ceph-block.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: backport-release-1.5, ceph

#6822 ceph: Allow OSDs on both PVCs and devices
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#6815 ceph: Apply deviceClass properly to new osds
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
Labels: backport-release-1.5, ceph

#6840 ceph: use the correct snapshot controller version in the tests
  tests/framework/utils/k8s_helper.go
  tests/framework/utils/snapshot.go
Labels: backport-release-1.5, ceph

#6841 ceph: Revert new node is not provisioned when useAllNodes is true
  pkg/daemon/ceph/client/crush.go
Labels: backport-release-1.5, bug, ceph

#6838 ceph: Two step crush rule with device class
  pkg/daemon/ceph/client/crush_rule.go
  pkg/daemon/ceph/client/pool_test.go
Labels: ceph

#6801 ceph: remove overlapping env values
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/test/containers.go
  pkg/operator/k8sutil/pod.go
Labels: backport-release-1.5, bug, ceph, ceph-mgr

#6847 ceph: Update examples and operator to Ceph v15.2.8 and fix integration tests on partitions
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  Jenkinsfile
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.4, backport-release-1.5, ceph

#6831 ceph: Allow using lvm batch for ceph 14.2.15
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.4, backport-release-1.5, bug, ceph

#6839 ceph: remove 'ganesha-' from nfs-ganesha config object name
  Documentation/ceph-nfs-crd.md
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/nfs/controller_test.go
Labels: ceph

#6788 ceph: update lib bucket provisioner
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  go.mod
  go.sum
  pkg/operator/ceph/object/bucket/rgw-handlers.go
  pkg/operator/ceph/object/controller.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, bug, ceph

#6857 ceph: Remove unused operator namespace parameter
  pkg/operator/ceph/cluster/operator_watchers.go
  pkg/operator/ceph/operator.go
Labels: ceph

#6856 ceph: No need for removal of legacy rgw deployments
  pkg/operator/ceph/object/rgw.go
Labels: ceph

#6858 build: Update release manifest version to v1.5.4
  .github/workflows/canary-integration-test.yml
  Documentation/cassandra.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-toolbox.md
  Documentation/ceph-upgrade.md
  Documentation/cockroachdb.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-monitoring.md
  Documentation/edgefs-quickstart.md
  Documentation/nfs.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cluster/examples/kubernetes/ceph/toolbox-job.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/nfs/webhook.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: do-not-merge
