Repository rook/rook, pull requests merged in 2020-03, with the labels that each got.

#4915 ceph: separate controller for CephBlockPool CRD
  Gopkg.lock
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/status.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/label.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/controller/version.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/operator_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/k8sutil/pod_test.go
  pkg/operator/k8sutil/status.go
  pkg/util/exec/exec.go
Labels: Provider Framework (SDK), ceph -, crd

#4931 ceph: Adding status.state variable and assigned it to status.phase
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/config/conditions.go
Labels: ceph -

#4962 Ensure pools are purged during integration tests
  pkg/operator/ceph/pool/controller.go
  tests/framework/clients/pool.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
Labels: ceph -

#4964 ceph: refactor controller helpers
  Documentation/ceph-upgrade.md
  Gopkg.lock
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-crds.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/finalizer.go
  pkg/operator/ceph/controller/finalizer_test.go
  pkg/operator/ceph/controller/predictate.go
  pkg/operator/ceph/controller/predictate_test.go
  pkg/operator/ceph/controller/status.go
  pkg/operator/ceph/controller/status_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/k8sutil/status.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -

#4974 OSD prepare pod should always mount /dev
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -

#4926 ceph: separate controller for CephObjectStoreUser CRD
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/object_operations.go
  pkg/operator/ceph/controller/predictate.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/user.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/operator_test.go
Labels: Provider Framework (SDK), ceph -, crd

#4971 Gather operator logs when the test pools are not deleted
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_multi_cluster_test.go
Labels: ceph -, test

#4977 ceph: orchestrator cli name change
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
Labels: ceph -

#4978 Update manifest tool version to v1.0.0
  build/release/Makefile
Labels: backport-release-1.2, build

#4989 Properly lookup the topology.kubernetes.io label for OSD topology
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/topology.go
  pkg/operator/ceph/cluster/osd/topology_test.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
Labels: backport-release-1.2, ceph -

#4909 Ceph: adds watch to rook-ceph-operator-config ConfigMap
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/operator.go
  pkg/operator/k8sutil/configmap.go
  pkg/operator/k8sutil/configmap_test.go
  pkg/operator/k8sutil/k8sutil.go
Labels: backport-release-1.2, ceph -, operator

#5001 ceph: osd re-add udev bindmount
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.2, ceph -

#4960 Ceph v14.2.8 is causing failure with OSDs on PVCs
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.2, ceph -

#5003 Backport: Multiple OSD fixes and default to Ceph v14.2.8
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/topology.go
  pkg/operator/ceph/cluster/osd/topology_test.go
  pkg/operator/ceph/disruption/clusterdisruption/location.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
Labels: ceph -

#5005 Yugabyte tests should use image built by rook
  tests/framework/installer/yugabytedb_manifests.go
Labels: YugabyteDB, backport-release-1.2

#5010 ceph: add missing 'rook_cluster' label to crash
  pkg/operator/ceph/cluster/crash/crash.go
Labels: backport-release-1.2, ceph -

#5023 ceph: allow setting pool size 1 on octopus
  pkg/daemon/ceph/config/config.go
  pkg/operator/ceph/config/defaults.go
Labels: ceph -

#5018 Grant access to the Ceph mgr to restart pods
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph -

#5030 ceph: remove dead code
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/k8sutil/test/deployment.go
Labels: ceph -

#5025 Ceph: Added rook manager module rights for read pod logs
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph-mgr, helm, security

#4992 Restructure prerequisites and clarify ceph docs
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-block.md
  Documentation/ceph-client-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-examples.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-nfs-crd.md
  Documentation/ceph-openshift.md
  Documentation/ceph-pool-crd.md
  Documentation/ceph-prerequisites.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-toolbox.md
  Documentation/flexvolume.md
  Documentation/k8s-pre-reqs.md
  Documentation/psp.md
  Documentation/tectonic.md
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
Labels: ceph -, docs

#4997 ceph: convert the Ceph ObjectStore controller to the controller-runtime
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/controller/owner.go
  pkg/operator/ceph/controller/owner_test.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/controller/predicate_test.go
  pkg/operator/ceph/controller/predictate.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/mime.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/operator_test.go
  pkg/operator/ceph/pool/controller.go
  tests/framework/clients/block.go
  tests/framework/clients/pool.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -

#5042 ceph: allow size option on pacific only
  pkg/operator/ceph/config/defaults.go
Labels: ceph -

#5054 ceph: mention helm upgrade path for csi driver
  Documentation/ceph-upgrade.md
Labels: backport-release-1.2

#5035 ceph: convert Filesystem controller to the controller-runtime
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/operator_test.go
  tests/framework/clients/filesystem.go
  tests/framework/clients/pool.go
  tests/framework/utils/k8s_helper.go
Labels: ceph -

#5072 ceph: avoid duplication of mon anti-affinity
  pkg/apis/rook.io/v1/placement.go
  pkg/apis/rook.io/v1/placement_test.go
Labels: ceph -

#5078 Ceph: fix updates for servicemonitor
  pkg/operator/k8sutil/prometheus.go
Labels: backport-release-1.2, ceph -, monitoring

#5082 CSI: Fix enable resizer for custom ceph-csi image
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.2, ceph -, csi

#5088 ceph: double check for a filesystem
  pkg/daemon/ceph/osd/daemon.go
  pkg/util/sys/device.go
Labels: ceph -

#5089 ceph: reject small devices
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
Labels: ceph -

#5093 k8sutil: mitigate UpdateDeploymentAndWait condition to help controllers
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/k8sutil/deployment.go
Labels: ceph -

#5096 Backport: Set pg_num for rgw metadata pools to lower default
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/object/objectstore.go
Labels: ceph -

#5069 Remove crashcollector pod automatically when the node is deleted.
  pkg/operator/ceph/cluster/crash/reconcile.go
Labels: ceph -

#4836 nfs: Add placement support for NFSServer
  pkg/apis/nfs.rook.io/v1alpha1/types.go
  pkg/apis/nfs.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/nfs/controller.go
Labels: nfs

#4697 Ceph: integration test creates ObjectStoreUser before ObjectStore
  tests/integration/ceph_base_object_test.go
Labels: ceph -

#5062 Run Ceph integration tests on latest nautilus
  tests/framework/installer/ceph_installer.go
Labels: ceph -, test

#5101 ceph: check LV availability by "ceph-volume lvm list"
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/util/sys/device.go
  tests/framework/installer/device.go
Labels: ceph -

#4876 makefile: auto generate target help menu
  Makefile
  images/Makefile
  images/image.mk
Labels: build

#4959 Cleanup cluster.Spec.DataDirHostPath on cluster deletion
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/cleanup.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/cleanup_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/spec.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -, do-not-merge

#5120 edgefs: TZ needs to be exposed
  pkg/apis/edgefs.rook.io/v1/resources.go
  pkg/operator/edgefs/cluster/mgr/mgr.go
  pkg/operator/edgefs/cluster/target/pod.go
  pkg/operator/edgefs/iscsi/iscsi.go
  pkg/operator/edgefs/isgw/isgw.go
  pkg/operator/edgefs/nfs/nfs.go
  pkg/operator/edgefs/s3/s3.go
  pkg/operator/edgefs/s3x/s3x.go
  pkg/operator/edgefs/swift/swift.go
Labels: EdgeFS

#5113 ceph: use a different port for rgw on sdn
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: ceph -

#5123 Tidy the go modules before the release build
  Jenkinsfile
Labels: build

#5125 Update K8s versions for ceph tests with K8s 1.18
  tests/integration/ceph_base_deploy_test.go
Labels: ceph -

#4901 Run integration tests against octopus
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/object/user/controller.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_smoke_test.go
Labels: ceph -
