Repository rook/rook, pull requests merged in 2020-02, with the labels that each got.

#3228 cassandra: JMX prometheus exporter
  Documentation/cassandra-cluster-crd.md
  Documentation/cassandra.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/cassandra/operator.yaml
  design/cassandra/cluster-creation.md
  images/cassandra/Dockerfile
  pkg/apis/cassandra.rook.io/v1alpha1/types.go
  pkg/apis/cassandra.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/cassandra/controller/util/resource.go
  pkg/operator/cassandra/sidecar/config.go
Labels: cassandra

#4764 Ceph: adds openshift common issues documentation
  Documentation/openshift-issues.md
Labels: backport-release-1.2, ceph -

#4747 docs: Sort flexvolume docs, update for kubespray
  Documentation/flexvolume.md
Labels: docs, flexvolume

#4151 Add integration test for OSDs over PVCs
  Jenkinsfile
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_block_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/longhaul/base_block_test.go
  tests/scripts/localPathPV.sh
Labels: ceph -

#4811 ceph: fail if no devices found
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.2, ceph -

#4679 Ceph: Improve detection of drain-canaries and info-log significant nodedrain scheduling events
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
Labels: backport-release-1.2, ceph -, reliability

#4803 ceph: ability to set target_size_ratio
  Documentation/ceph-pool-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/blockpool.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/erasure-code-profile.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/model/pool.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.2, ceph -

#4829 ceph: nits from https://github.com/rook/rook/pull/4679
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
Labels: ceph -

#4584 ceph: Remove ineffectual assignments
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/disruption/machinelabel/add.go
Labels: ceph -, security

#4832 Set manifest versions to v1.2.4
  Documentation/ceph-toolbox.md
  Documentation/ceph-upgrade.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/minio/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: build

#4830 ceph: allow osd full upgrade to octopus
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/version/version.go
Labels: ceph -, ceph-osd

#4833 Set min size to 0 on pool replication
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.1-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.2, ceph -

#4839 Update Chart for Patch to Volume Attachment in Storage apiGroup
  cluster/charts/rook-ceph/templates/clusterrole.yaml
Labels: backport-release-1.2, csi

#4818 ceph: add support for metadata PVC for OSD on PVC
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/util/sys/device.go
Labels: ceph -, ceph-osd

#4843 ceph: force enabling balancer module with older clients
  pkg/daemon/ceph/client/mgr.go
Labels: backport-release-1.2, ceph -, ceph-mgr

#4844 ceph: implement osd block expansion on PVC
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph -

#4603 k8sutil: set ResourceVersion for PrometheusRule
  pkg/operator/k8sutil/prometheus.go
  pkg/operator/k8sutil/prometheus_test.go
  pkg/operator/k8sutil/service_test.go
Labels: ceph -, monitoring, operator

#4817 Ceph: adds "rook-operator-config" configmap
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/k8sutil/configmap.go
  pkg/operator/k8sutil/configmap_test.go
Labels: backport-release-1.2, ceph -

#4856 ceph: populate CSI configmap for external cluster
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/csi/cluster_config.go
Labels: backport-release-1.2, ceph -

#4850 ceph: remove mimic support, default to nautilus
  PendingReleaseNotes.md
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/client/osd.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/crash_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/service.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/config/store_test.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -

#4489 ceph: add support for disk selection by full path
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -, ceph-osd

#4869 docs: fix CephCluster PVC based example
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.1, backport-release-1.2, ceph -, docs

#4885 EC pool creation should have successful status
  cluster/examples/kubernetes/ceph/pool-ec.yaml
  pkg/operator/ceph/pool/controller.go
Labels: backport-release-1.2

#4898 Bump ceph version to v14.2.7
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-minimal.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/controller_test.go
Labels: backport-release-1.2, ceph -

#4900 Remove obsolete operator settings from ceph.conf
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/config/config_test.go
Labels: ceph -, configuration

#4906 ceph: nfs do not use rook binary
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/spec/spec.go
Labels: ceph -, ceph-nfs, configuration

#4888 ceph: set crush device class via annotations on PVC
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -

#4895 ceph: add CRD setting for pool size 1
  Documentation/ceph-pool-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/filesystem-test.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/blockpool.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/erasure-code-profile.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/daemon/ceph/config/config.go
  pkg/daemon/ceph/model/pool.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -

#4758 design: ceph orchestrator module add/remove OSDs
  design/ceph/orchestrator-osd-add-remove.md
Labels: ceph -, ceph-mgr, ceph-osd, design

#4256 ceph: ceph-csi version detection
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cmd/rook/ceph/operator.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
  pkg/operator/ceph/operator.go
Labels: ceph -, csi
