Repository rook/rook, pull requests merged in 2020-04, with the labels that each got.

#5128 ceph: add liveness probe to mon, mds and osd daemons
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/datapath.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/test/podspec.go
  pkg/operator/ceph/test/podtemplatespec.go
  pkg/operator/ceph/test/spec.go
Labels: backport-release-1.3, ceph -

#5132 Ceph: upgrade docs: update upgrade docs for v1.3
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
Labels: ceph -, docs

#5124 ceph: Add ability to specify compression mode for pools
  Documentation/ceph-pool-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem-test.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/pool-ec.yaml
  cluster/examples/kubernetes/ceph/pool-test.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  images/image.mk
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/validate.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.3, ceph -, ceph-osd

#4933 ceph: do not use host PID anymore
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.3, ceph -

#5140 build: allow go 1.14
  build/makelib/golang.mk
Labels: backport-release-1.3, build

#5133 Updated docs need for the Rook v1.3 release
  Documentation/ceph-prerequisites.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-teardown.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  tests/README.md
Labels: backport-release-1.3, ceph -

#5138 ceph: support topoplogySpreadConstraints
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-nfs-crd.md
  Documentation/ceph-object-store-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/nfs.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  design/ceph/filesystem.md
  design/ceph/object/store.md
  pkg/apis/rook.io/v1/placement.go
  pkg/apis/rook.io/v1/placement_test.go
  pkg/apis/rook.io/v1/types.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
Labels: backport-release-1.3, ceph -

#5152 ceph: remove unnecessary whitespaces in the example
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
Labels: backport-release-1.3, ceph -

#5134 Cluster CleanupPolicy: Delete correct mon directories under the dataDirHostPath
  cmd/rook/ceph/cleanup.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/cleanup_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/config.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.1.go
Labels: backport-release-1.3, ceph -

#5157 ceph: do not set liveness check on canary pod
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.3, ceph -

#5104 Fix RBAC and handle error to enable deleting of drain-canaries
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  pkg/operator/ceph/disruption/nodedrain/reconcile.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.3, ceph -

#5155 Upgrade doc clarifications for v1.3
  Documentation/ceph-upgrade.md
  pkg/operator/ceph/controller/predicate.go
Labels: ceph -, docs

#4077 ceph: add multus support
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-apply.yaml
  cmd/rook/rook/rook.go
  go.mod
  go.sum
  pkg/clusterd/context.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/config/network.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/k8sutil/network.go
  pkg/operator/k8sutil/network_test.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.3, ceph -, networking

#5162 Enable the Ceph CSI v2.0.1 driver by default in Rook
  Documentation/ceph-common-issues.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  tests/framework/installer/ceph_csi_templates.go
Labels: backport-release-1.3, ceph -

#5160 ceph: trigger update on child controllers
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/controller/predicate_test.go
Labels: backport-release-1.3, ceph -

#5168 Skip upgrade test when CSI is not supported on older K8s
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -

#5169 Set deployment manifest versions to v1.3.0-beta.1
  Documentation/ceph-toolbox.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: build

#5174 Handle type assertions
  pkg/daemon/ceph/agent/cluster/controller.go
  pkg/operator/cassandra/controller/controller.go
  pkg/operator/cassandra/sidecar/sidecar.go
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/disruption/nodedrain/add.go
  pkg/operator/cockroachdb/controller.go
  pkg/operator/edgefs/cluster/controller.go
  pkg/operator/nfs/controller.go
  pkg/operator/yugabytedb/create_controller.go
  pkg/operator/yugabytedb/update_controller.go
Labels: backport-release-1.3

#5179 ceph: remove appropriate rgw ceph user when CephObjectStore is deleted
  pkg/operator/ceph/object/rgw.go
Labels: backport-release-1.3, ceph -

#5184 Integration test for upgrade from nautilus to octopus
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/predicate.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.3, ceph -

#5177 ceph: set pg_num_min for rgw metadata pools
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.2, backport-release-1.3, ceph -

#5192 Ceph: Clarify PID/Octopus in pendingreleasenotes
  PendingReleaseNotes.md
Labels: ceph -, docs

#5196 edgefs: fix SMB controller update path
  Documentation/edgefs-quickstart.md
  Documentation/edgefs-smb-crd.md
  pkg/operator/edgefs/cluster/controller.go
Labels: EdgeFS, backport-release-1.3, operator

#5199 ceph: fix resync failure of OSD pod using LV-backed-PV
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
Labels: backport-release-1.2, backport-release-1.3

#5200 rook: fix codegen
  build/codegen/codegen.sh
  pkg/client/informers/externalversions/generic.go
Labels: backport-release-1.3

#5143 Ceph: Add replica_size flag in replicated pool creation time
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
Labels: backport-release-1.3, ceph -

#5206 Update manifest version for v1.3.0 release
  Documentation/ceph-toolbox.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: build

#5204 build: update manifest-tools version to v1.0.2
  build/release/Makefile
Labels: backport-release-1.3

#4966 Ceph: prevent pre-existing lvms from wipe
  tests/framework/installer/ceph_installer.go
  tests/scripts/helm.sh
Labels: backport-release-1.3, ceph -

#5189 ceph: Add example for using a specific partition for storage
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.3, docs

#5215 ceph: Fixing path on ceph-quickstart to include rook
  Documentation/cassandra.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/cockroachdb.md
  Documentation/edgefs-csi.md
  Documentation/edgefs-monitoring.md
  Documentation/edgefs-quickstart.md
  Documentation/nfs.md
Labels: backport-release-1.3, docs

#5224 ceph: helm add missing subresources to CRD
  cluster/charts/rook-ceph/templates/resources.yaml
Labels: backport-release-1.3, ceph -

#5229 Update the object store service port during upgrade
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.3, ceph -

#5231 Set manifest versions to v1.3.1
  Documentation/ceph-toolbox.md
  Documentation/ceph-upgrade.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/cockroachdb/operator.yaml
  cluster/examples/kubernetes/edgefs/operator.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
Labels: build

#4433 Ceph: Filesystem Pool Size are ignored
  pkg/operator/ceph/file/filesystem.go
Labels: backport-release-1.3, ceph -, filesystem

#5183 Ceph: revert mgr to minimal privilege
  pkg/operator/ceph/cluster/mgr/config.go
Labels: backport-release-1.3, ceph -

#5219 Skip reconcile events where the spec is not updated
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/pool/controller.go
Labels: backport-release-1.3, ceph -

#5253 doc: fix link in k8s-pre-reqs page
  Documentation/k8s-pre-reqs.md
Labels: backport-release-1.3, docs

#4740 Ceph: PV provisioning fails upon upgrade
  pkg/operator/ceph/file/filesystem.go
Labels: backport-release-1.3, bug, cephfs

#5085 ceph: extract rbd-mirror to its own crd
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-rbd-mirror-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/rbdmirror.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  cluster/olm/ceph/generate-rook-csv.sh
  pkg/apis/ceph.rook.io/v1/annotations.go
  pkg/apis/ceph.rook.io/v1/annotations_test.go
  pkg/apis/ceph.rook.io/v1/placement.go
  pkg/apis/ceph.rook.io/v1/priorityclasses.go
  pkg/apis/ceph.rook.io/v1/register.go
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/cephrbdmirror.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/fake/fake_ceph.rook.io_client.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/fake/fake_cephrbdmirror.go
  pkg/client/clientset/versioned/typed/ceph.rook.io/v1/generated_expansion.go
  pkg/client/informers/externalversions/ceph.rook.io/v1/cephrbdmirror.go
  pkg/client/informers/externalversions/ceph.rook.io/v1/interface.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/ceph.rook.io/v1/cephrbdmirror.go
  pkg/client/listers/ceph.rook.io/v1/expansion_generated.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/cluster/rbd/controller_test.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/controller/predicate.go
  tests/framework/clients/pool.go
  tests/framework/clients/rbd-mirror.go
  tests/framework/clients/test_client.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph -

#4904 Ceph:Update Helm Chart documentation
  Documentation/helm-operator.md
Labels: backport-release-1.3, ceph -, helm

#5218 Codegen needs to copy to pkg subfolder
  build/codegen/codegen.sh
Labels: backport-release-1.3, build

#5263 PSP: Add seccomp annotations
  cluster/charts/rook-ceph/templates/psp.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.3, ceph -

#5261 Ceph: Add requireSafeReplicaSize in CephObjectStore CRD
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.2-crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.3, ceph -

#5269 ceph: refactor <StartTestCluster>
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: code cleanup

#5281 Set defaults to the Ceph v14.2.9 release
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  pkg/operator/ceph/cluster/controller_test.go
Labels: backport-release-1.3, ceph -

#5280 Configure mgr modules in parallel of rest of reconcile loop
  pkg/operator/ceph/cluster/mgr/mgr.go
Labels: backport-release-1.3, ceph -

#5284 Toolbox job for running a ceph script
  Documentation/ceph-toolbox.md
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/toolbox-job.yaml
  images/ceph/toolbox.sh
Labels: ceph -

#5286 doc: fix secret env keys on ObjectBucketClaim
  Documentation/ceph-object-bucket-claim.md
Labels: backport-release-1.3, ceph -

#5304 Lookup of the cluster cannot rely on namespace name
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/pool/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.3, ceph -

#5289 CSI: update cephcsi to v2.1.0
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: backport-release-1.3, ceph -

#5322 Metadatadevice should not be added to osd data device list
  pkg/daemon/ceph/osd/volume.go
Labels: backport-release-1.3, ceph -

#5317 ceph: external cluster purge csi secrets
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/mon.go
Labels: ceph -

#5246 ceph: remove specific rgw configuration on mon configuration database
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/config/monstore_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/rgw.go
Labels: backport-release-1.3, ceph -

#5327 ceph: append 00 to rook-privileged PSP name
  cluster/examples/kubernetes/ceph/common.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.3, bug, ceph -

#5344 Document unique crush name requirement
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.3, ceph -

#5319 ceph: convert the CephCluster controller to the controller-runtime
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  cmd/rook/ceph/operator.go
  cmd/rook/ceph/osd.go
  pkg/clusterd/context.go
  pkg/daemon/ceph/agent/cluster/controller.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/crush_test.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/config/config_test.go
  pkg/daemon/ceph/config/info.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/cluster_external_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/mgr/config.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/operator_watchers.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/predicate.go
  pkg/operator/ceph/cluster/predicate_test.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/cluster/utils.go
  pkg/operator/ceph/cluster/version.go
  pkg/operator/ceph/cluster/version_test.go
  pkg/operator/ceph/cluster/watcher.go
  pkg/operator/ceph/cluster/watcher_test.go
  pkg/operator/ceph/config/conditions.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/handler.go
  pkg/operator/ceph/controller/handler_test.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/controller/predicate_test.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/disruption/machinedisruption/reconcile.go
  pkg/operator/ceph/disruption/register_controllers.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/operator_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/k8sutil/customresource.go
Labels: ceph -

#5343 Enable pg_autoscaler module in default examples
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: backport-release-1.3, ceph -

#5349 docs: update rook mailing lists to new lists.cncf.io addresses
  README.md
  SECURITY.md
  cluster/olm/ceph/assemble/metadata-k8s.yaml
Labels: backport-release-1.2, backport-release-1.3, docs

#5287 CSI: Add resource request and limit for CSI pods
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/k8sutil/resources.go
  pkg/operator/k8sutil/resources_test.go
Labels: backport-release-1.3, csi

#5360 edgefs: provide a way to configure ADS
  Documentation/edgefs-smb-crd.md
  cluster/examples/kubernetes/edgefs/smb.yaml
  pkg/apis/edgefs.rook.io/v1/types.go
  pkg/apis/edgefs.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/edgefs/smb/smb.go
Labels: backport-release-1.3

#5370 edgefs: raw disk empty check regression fix
  pkg/clusterd/disk.go
Labels: backport-release-1.3
