Repository rook/rook, pull requests merged in 2020-07, with the labels that each got.

#5686 ceph: update ceph-csi snapshot from Alpha to Beta
  Documentation/ceph-csi-drivers.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshot.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-apply.yaml
  pkg/operator/ceph/csi/spec.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_upgrade_test.go
Labels: csi

#5701 cassandra: update base image to alpine:3.12
  PendingReleaseNotes.md
  images/cassandra/Dockerfile
Labels: backport-release-1.3, cassandra, security

#5749 cassandra: update base image to alpine:3.12
  PendingReleaseNotes.md
  images/cassandra/Dockerfile
Labels: backport, cassandra

#5734 CI: Stop downgrading the kubeadm components for the integration tests
  tests/scripts/kubeadm-install.sh
Labels: build

#5697 ceph: add rgw endpoint healthcheck and external support
  Documentation/ceph-object-store-crd.md
  Documentation/ceph-object.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh
  cluster/examples/kubernetes/ceph/object-external.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/provisionner_test.go
  pkg/operator/ceph/object/bucket/rgw-handlers.go
  pkg/operator/ceph/object/bucket/util.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/policy.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/status.go
  pkg/operator/ceph/object/user.go
  pkg/operator/k8sutil/endpoint.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/utils/s3_operations.go
  tests/integration/ceph_base_object_test.go
Labels: ceph -

#5760 ceph: fix a wrong link
  Documentation/ceph-quickstart.md
Labels: docs

#5748 ceph: document the `deviceClass` setting for OSDs
  Documentation/ceph-cluster-crd.md
Labels: docs

#5755 ceph: Add logging for mgr integration test suite in master
  tests/framework/installer/environment.go
Labels: build, ceph -

#5768 ceph: Update master to the latest Octopus release v15.2.4
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster_external_test.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/spec_test.go
  tests/framework/installer/ceph_installer.go
  tests/scripts/k8s-vagrant-multi-node.sh
  tests/scripts/minikube.sh
Labels: ceph -

#5771 ceph: remove legacy target_size_ratio example
  cluster/examples/kubernetes/ceph/filesystem.yaml
Labels: backport-release-1.3, ceph -

#5770 ceph: Capture logging from the OSD daemons
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/config/defaults.go
  pkg/operator/ceph/controller/spec.go
Labels: backport-release-1.3, ceph -, ceph-osd

#5605 ceph: remove csi drivers when disable
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/k8sutil/service.go
  pkg/operator/k8sutil/statefulset.go
Labels: ceph -, csi

#5792 docs: Remove references to xfs for ceph volumes
  Documentation/ceph-block.md
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass-test.yaml
  cluster/examples/kubernetes/ceph/flex/storageclass.yaml
Labels: backport-release-1.2, backport-release-1.3, ceph -, docs

#5803 docs: ceph: add no support for changing networking
  Documentation/ceph-cluster-crd.md
Labels: ceph -, docs

#5762 ceph: check for ceph object user cleanup
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
Labels: ceph -

#5774 ceph: add s3 endpoint to the rgw user cr
  PendingReleaseNotes.md
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/status.go
  pkg/operator/ceph/object/status_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  tests/integration/ceph_base_object_test.go
Labels: objectstore

#5808 ceph: fix manifest ceph version support comment
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: backport-release-1.3, ceph -, docs

#5789 ceph: configurable status checks and livenessprobe
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-object-store-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  design/ceph/mon-health.md
  pkg/apis/ceph.rook.io/v1/livenessprobe.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1/types.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/monitoring.go
  pkg/operator/ceph/cluster/monitoring_test.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/config/livenessprobe.go
  pkg/operator/ceph/config/livenessprobe_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/health.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -

#5816 backport #5808: ceph: fix manifest ceph version support comment
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: ceph -, docs

#5795 ceph: remove an outdated document of mon placement
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.2, backport-release-1.3, ceph -, docs

#4916 Ceph: provision OSDs using Drive Groups
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-examples.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/osd.go
  design/ceph/orchestrator-osd-add-remove.md
  pkg/apis/ceph.rook.io/v1/drivegroups.go
  pkg/apis/ceph.rook.io/v1/drivegroups_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/validate_clusters.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/drivegroups.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/drivegroups.go
  pkg/operator/ceph/cluster/osd/drivegroups_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/k8sutil/node.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph -, ceph-osd, do-not-merge, feature

#5824 ceph: Skip logging output of bucket policy change
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: ceph -, security

#5819 ceph: Fix toolbox when mon hosts can contain numbers and hype
  images/ceph/toolbox.sh
Labels: backport-release-1.3, ceph -

#5739 ceph: report secret in cephobjectstoreuser status field
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
Labels: ceph -

#5833 ceph: add http dial to verify external endpoint
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: ceph -

#5828 ceph: fix CRs not reconciling on updates
  pkg/apis/ceph.rook.io/v1/validate_resources_test.go
  pkg/operator/ceph/controller/predicate.go
Labels: ceph -

#5820 ceph: update detect-version's placement to ignore mon's PodAntiAffinity
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/cluster/version.go
Labels: backport-release-1.3, ceph -

#5838 ceph: Ignore PodAntiAffinity for detect-version placement (bp #5820)
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/cluster/cluster.go
Labels: bug, ceph -

#5834 ceph: do not enable the 'rook' module by default
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_mgr_test.go
Labels: ceph -

#5642 ceph: add external prometheus endpoint
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-monitoring.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-external.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules-external.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/validate_clusters.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/object/spec.go
Labels: ceph -, monitoring

#5849 ceph: Pool parameters must be strings
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
Labels: backport-release-1.3, ceph -

#5825 ceph: support device names with special chars
  PendingReleaseNotes.md
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: bug, ceph -, ceph-osd

#5633 ceph: fail prepare pod if lvm2 pkg is missing
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/nsenter.go
  pkg/daemon/ceph/osd/nsenter_test.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -

#5852 cassandra: Update Jolokia lib in Cassandra sidecar image
  PendingReleaseNotes.md
  images/cassandra/Dockerfile
Labels: cassandra

#5856 ceph: report error on timeout
  pkg/daemon/ceph/client/status.go
  pkg/operator/ceph/cluster/cephstatus.go
Labels: backport-release-1.3, ceph -

#5796 Ceph: Delete Filesystem only when it exists
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
Labels: ceph -

#5857 ceph: Additional clusterInfo cleanup for user creds
  pkg/daemon/ceph/client/mon.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
Labels: ceph -

#5861 docs: fix placement of param in Ceph Pool CRD
  Documentation/ceph-pool-crd.md
Labels: ceph -, docs, filesystem

#5860 Error checking for EdgeFS related to the security review
  pkg/daemon/ceph/client/info.go
  pkg/operator/edgefs/cluster/prepare/prepare.go
  pkg/operator/edgefs/cluster/utils.go
  pkg/operator/edgefs/isgw/isgw.go
  pkg/operator/k8sutil/prometheus.go
Labels: security

#5452 ceph: enhancement disk sanitize options
  Documentation/ceph-cluster-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/ceph/cleanup.go
  pkg/apis/ceph.rook.io/v1/cleanup.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/cleanup/disk.go
  pkg/daemon/ceph/cleanup/disk_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/object/controller.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_flex_test.go
Labels: ceph -

#5870 ceph: remove unwanted metadatastore and mountcache flag
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  tests/framework/installer/ceph_csi_templates.go
Labels: ceph -

#5868 ceph: Avoid removing a healthy mon unexpectedly when the operator restarts
  pkg/operator/ceph/cluster/mon/health.go
Labels: ceph -

#5869 ceph: Require the cluster spec for initialization of the mons to avoid removing a healthy mon
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/monitoring.go
Labels: bug, ceph -

#5805 ceph: Adding deviceClasses info to CephCluster CR
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/deviceclass.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: ceph -

#5836 ceph: ability to configure livenessprobe for cephobjectstore crd
  cluster/examples/kubernetes/ceph/object.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/spec.go
Labels: ceph -, objectstore

#5837 ceph: let the healthcheck set the status phase
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/import-external-cluster.sh
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/validate_clusters.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/monitoring.go
  pkg/operator/ceph/config/conditions.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/status.go
  tests/framework/clients/block.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_flex_test.go
Labels: ceph -

#5872 cassandra: use latest 3.11.6 version in examples
  Documentation/cassandra-cluster-crd.md
  cluster/examples/kubernetes/cassandra/cluster.yaml
  tests/framework/installer/cassandra_manifests.go
Labels: cassandra

#5885 ceph: let the healthcheck set the status phase (bp #5837) and report error on timeout (bp #5856)
  pkg/daemon/ceph/client/status.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -

#5854 doc: update nfs openshift scc documentation
  Documentation/nfs.md
Labels: docs, nfs

#5880 ceph: skip csi version detect if allowunsupported is set
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.3, ceph -, csi

#5866 ceph: handling gosec errors that are not checked
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/config/config.go
  pkg/operator/ceph/controller/owner.go
  pkg/operator/ceph/controller/owner_test.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/realm/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/yugabytedb/controller.go
Labels: security

#5883 ceph: remove storageclass-bucket-retain-external.yaml
  cluster/examples/kubernetes/ceph/storageclass-bucket-retain-external.yaml
Labels: ceph -

#5900 ceph: add monitoring rules for octopus
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v15-rules-external.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v15-rules.yaml
Labels: ceph -, monitoring

#5899 ceph: make rgw option on external script
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, ceph -

#5901 ceph: validate pools with prefix
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: ceph -

#5888 ceph: update ceph-csi to v3.0.0 release
  Documentation/ceph-csi-drivers.md
  Documentation/ceph-csi-snapshot.md
  Documentation/ceph-csi-volume-clone.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/pvc-clone.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-apply.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: csi

#5907 ceph: make 'rgw_endpoint' check/validation also optional
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, ceph -

#5908 ceph: split osd code in files
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/config_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/envs_test.go
  pkg/operator/ceph/cluster/osd/labels.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/provision_spec_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/volumes.go
Labels: ceph -

#5893 ceph: handling gosec error code g601
  build/codegen/codegen.sh
  pkg/apis/cassandra.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/cockroachdb.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/edgefs.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/nfs.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/yugabytedb.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/test/containers.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/test/containers.go
  pkg/operator/test/volumes.go
Labels: security

#5895 ceph: suppress gosec errors for g204,g304,g101
  cmd/rookflex/cmd/expander.go
  cmd/rookflex/cmd/unmount.go
  pkg/daemon/ceph/agent/flexvolume/server.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/webhook.go
  pkg/operator/nfs/server.go
  pkg/util/exec/exec.go
Labels: security

#5894 ceph: handling gosec errors code g104 and g404
  cmd/rook/ceph/config.go
  cmd/rook/util/cmdreporter.go
  cmd/rook/util/copybins.go
  cmd/rookflex/cmd/mount.go
  cmd/rookflex/cmd/root.go
  cmd/rookflex/main.go
  pkg/util/flags/flags.go
Labels: security

#4868 rook: Changing the file and directory permissions to most narrow poss…
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager.go
  pkg/daemon/ceph/agent/flexvolume/server.go
  pkg/daemon/ceph/client/keyring.go
  pkg/daemon/ceph/client/test/info.go
  pkg/daemon/ceph/osd/agent_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/util/copybins.go
  pkg/daemon/util/copybins_test.go
Labels: security

#5925 ceph: do not warn about no redundancy in test cluster
  cluster/examples/kubernetes/ceph/cluster-test.yaml
Labels: backport-release-1.3, ceph -

#5674 ceph: adding support for quota in object bucket claims
  Documentation/ceph-object-bucket-claim.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/object-bucket-claim-delete.yaml
  cluster/examples/kubernetes/ceph/object-bucket-claim-retain.yaml
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/util.go
  pkg/operator/ceph/object/user.go
  tests/framework/clients/bucket.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_smoke_test.go
Labels: backport-release-1.4, ceph -

#5909 ceph: add ceph_daemon_type label to Ceph daemon pods
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/labels.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.4, ceph -, feature
