Repository rook/rook, pull requests merged in 2020-10, with the labels that each got.

#6317 Handle golangci-lint linter errcheck error
  .github/workflows/golangci-lint.yaml
  cmd/rookflex/cmd/root.go
  pkg/daemon/ceph/agent/flexvolume/controller_test.go
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager_test.go
  pkg/daemon/ceph/agent/flexvolume/server_test.go
  pkg/daemon/ceph/client/config_test.go
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/status_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/util/util_test.go
  pkg/daemon/util/cmdreporter_test.go
  pkg/operator/cassandra/controller/cluster_test.go
  pkg/operator/cassandra/controller/controller_test.go
  pkg/operator/ceph/agent/agent_test.go
  pkg/operator/ceph/client/controller_test.go
  pkg/operator/ceph/cluster/mon/config_test.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/node_test.go
  pkg/operator/ceph/cluster/monitoring.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/config/keyring/admin_test.go
  pkg/operator/ceph/config/keyring/store_test.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/ceph/config/store_test.go
  pkg/operator/ceph/object/health.go
  pkg/operator/cockroachdb/controller_test.go
  pkg/operator/discover/discover_test.go
  pkg/operator/edgefs/cluster/controller_test.go
  pkg/operator/k8sutil/customresource.go
  pkg/operator/k8sutil/network_test.go
  pkg/operator/yugabytedb/controller_test.go
  pkg/util/flags/flags_test.go
  tests/framework/installer/cassandra_installer.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/cockroachdb_installer.go
  tests/framework/installer/edgefs_installer.go
  tests/framework/installer/nfs_installer.go
  tests/framework/installer/yugabytedb_installer.go
  tests/framework/utils/exec_utils.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/integration/nfs_test.go
  tests/integration/yugabytedb_test.go
Labels: ceph

#6353 ceph: fix obc upgrade from 1.3 to 1.4 external cluster
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: backport-release-1.4, ceph

#6352 ceph: allow manipulations on monitoring.coreos.com resources to operator within helm chart
  cluster/charts/rook-ceph/templates/role.yaml
Labels: backport-release-1.4, ceph

#6359 ceph: Skip smoke suite on k8s 1.11
  tests/integration/ceph_smoke_test.go
Labels: backport-release-1.4, ceph, test

#6331 docs: fix typo in ObjectMultisite docs
  Documentation/ceph-object-multisite-crd.md
  Documentation/ceph-object-multisite.md
Labels: ceph

#6367 ceph: check underlaying block status
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.4, ceph

#6366 ceph: flex test failing in CI
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_flex_test.go
Labels: ceph

#6303 ceph: tune fast device class for OSD on PVC in the Azure
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/apis/rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph

#6369 ceph: prevent closing of channel more than once
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.4, ceph

#6283 ceph: support IPv6 single-stack
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.4, ceph

#6191 edgefs: docs: note nfs service name restrictions
  Documentation/edgefs-nfs-crd.md
Labels: EdgeFS

#6377 docs: update obc documentation
  Documentation/ceph-object-bucket-claim.md
Labels: backport-release-1.4, ceph, obc

#6386 docs: updated badge url
  README.md
Labels: docs

#6383 ceph: remove suffix _sdd for tuneFastDeviceClass
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#6388 ci: fix an intermittent failure of ceph flex suite
  tests/integration/ceph_base_file_test.go
Labels: ceph, test

#6402 docs: Add a badge for graduation status
  README.md
Labels: backport-release-1.4

#6322 ceph: add unit tests for object/zone
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zone/controller_test.go
Labels: ceph

#6405 ceph: fix example rbdMirrorBootstrapPeerSecretName in mirror doc
  Documentation/ceph-pool-crd.md
Labels: ceph

#6407 ceph: update nfs ganesha rados config object
  Documentation/ceph-nfs-crd.md
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/nfs/nfs.go
Labels: ceph

#6408 ceph: reduce s3 max retry
  pkg/operator/ceph/object/s3-handlers.go
Labels: backport-release-1.4, ceph

#6395 ceph: log stderr in error when exec with output file
  pkg/util/exec/exec.go
Labels: backport-release-1.4, ceph

#6397 ceph: tune osd tcmalloc thread cache bytes
  go.mod
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/envs_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: ceph

#6418 docs: Clarifications for the readme and other documentation
  Documentation/ceph-common-issues.md
  Documentation/ceph-openshift-issues.md
  Documentation/ceph-osd-mgmt.md
  Documentation/ceph-storage.md
  Documentation/ceph-tools.md
  Documentation/development-flow.md
  Documentation/k8s-pre-reqs.md
  Documentation/quickstart.md
  README.md
  design/ceph/storage-class-device-set.md
Labels: backport-release-1.4, docs

#6392 ceph: adding '--upgrade' option to external script
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.4, ceph

#6427 ceph: Improve watcher debug message when node is not tolerable
  pkg/operator/ceph/cluster/watcher.go
Labels: ceph

#6426 ceph: add ceph-volume log to non-pvc scenario
  pkg/daemon/ceph/osd/volume.go
Labels: backport-release-1.4, ceph

#6420 ceph: Require an odd number of mons and sufficient nodes for mons
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/validate_clusters.go
  pkg/apis/ceph.rook.io/v1/validate_clusters_test.go
  pkg/operator/ceph/cluster/cluster.go
Labels: ceph

#6362 ceph: Design doc for stretch clusters
  design/ceph/ceph-stretch-cluster.md
  design/ceph/stretchcluster.png
Labels: ceph

#5991 ci: fix helm path
  Jenkinsfile
  tests/framework/installer/environment.go
  tests/scripts/helm.sh
Labels: ceph, test

#6184 ceph: raw mode OSD on LV-backed PVC
  Documentation/ceph-common-issues.md
  Documentation/ceph-upgrade.md
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.4, ceph

#6437 ceph: reduce the number of provisioner pods in small K8s cluster
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.4, ceph

#6445 ceph: add a maintainer
  CODE-OWNERS
  OWNERS.md
Labels: ceph

#6440 nfs: update documentation and example
  Documentation/nfs.md
  cluster/examples/kubernetes/nfs/nfs-ceph.yaml
  cluster/examples/kubernetes/nfs/nfs.yaml
  cluster/examples/kubernetes/nfs/psp.yaml
  cluster/examples/kubernetes/nfs/rbac.yaml
Labels: docs, nfs

#6458 fixing "requires" for kube-controller-manager
  go.mod
Labels: backport-release-1.4

#6447 docs: Ceph disaster recovery
  Documentation/ceph-disaster-recovery.md
Labels: backport-release-1.4

#6471 ceph: reduce the number of admission controller pods in small cluster
  pkg/operator/ceph/webhook.go
Labels: ceph

#6469 ceph: fix mon pdb reconcile
  pkg/operator/ceph/disruption/clusterdisruption/mon.go
  pkg/operator/ceph/disruption/clusterdisruption/mon_test.go
  pkg/operator/ceph/disruption/clusterdisruption/static_pdb.go
Labels: backport-release-1.4, ceph

#6478 ceph: Add unit tests for object store controller with multisite
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/zone/controller.go
Labels: ceph

#6481 docs: update ceph monitoring examples
  Documentation/ceph-monitoring.md
Labels: backport-release-1.4, ceph, docs, monitoring

#6475 ceph: export the storage capacity of the ceph cluster
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
Labels: ceph

#6493 ceph: Check for orphaned mon resources with every reconcile
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.4, ceph

#6452 disaster recovery guide for PVCs
  Documentation/ceph-disaster-recovery.md
Labels: backport-release-1.4, ceph, docs

#6510 ceph: remove allNode option for rgw
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/object/rgw.go
Labels: ceph

#6503 ceph: assert error type before using it
  pkg/util/exec/exec.go
  pkg/util/exec/exec_test.go
Labels: backport-release-1.4, ceph

#6424 ceph: update deprecated CRD apiextensions.k8s.io/v1beta1 to v1
  Documentation/ceph-common-issues.md
  Documentation/ceph-quickstart.md
  Documentation/k8s-pre-reqs.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/nfs.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crd.yaml
  design/common/object-bucket.md
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.2.go
Labels: api, ceph, kubernetes

#6494 ceph: ignore MDS_ALL_DOWN during reconciliation
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/controller_utils_test.go
Labels: ceph

#5483 ceph: make root= CRUSH label value configurable
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph, ceph-osd

#6515 ceph: Label mon pods
  pkg/apis/rook.io/v1/annotations.go
  pkg/apis/rook.io/v1/labels.go
  pkg/apis/rook.io/v1/labels_test.go
  pkg/operator/ceph/cluster/mon/spec.go
Labels: backport-release-1.4, ceph

#6474 ceph: add vault kms support for osd encryption
  .github/workflows/canary-integration-test.yml
  .github/workflows/codegen.yml
  .github/workflows/mod-check.yml
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.4-crds.yaml
  go.mod
  go.sum
  pkg/apis/ceph.rook.io/v1/security.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1/storage.go
  pkg/apis/rook.io/v1/storage_test.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/encryption.go
  pkg/daemon/ceph/osd/encryption_test.go
  pkg/daemon/ceph/osd/kms/envs.go
  pkg/daemon/ceph/osd/kms/envs_test.go
  pkg/daemon/ceph/osd/kms/k8s.go
  pkg/daemon/ceph/osd/kms/k8s_test.go
  pkg/daemon/ceph/osd/kms/kms.go
  pkg/daemon/ceph/osd/kms/kms_test.go
  pkg/daemon/ceph/osd/kms/vault.go
  pkg/daemon/ceph/osd/kms/vault_test.go
  pkg/daemon/ceph/osd/kms/volumes.go
  pkg/daemon/ceph/osd/kms/volumes_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/config_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/volumes.go
  pkg/operator/ceph/cluster/osd/volumes_test.go
  pkg/operator/ceph/controller/spec.go
  tests/framework/installer/ceph_manifests.go
  tests/manifests/test-cluster-on-pvc-encrypted.yaml
  tests/manifests/test-kms-vault-spec.yaml
  tests/manifests/test-kms-vault.yaml
  tests/manifests/test-on-pvc-db.yaml
  tests/manifests/test-on-pvc-wal.yaml
  tests/scripts/create-bluestore-partitions.sh
  tests/scripts/deploy-validate-vault.sh
  tests/scripts/localPathPV.sh
  tests/scripts/validate_cluster.sh
  tests/scripts/validate_modified_files.sh
Labels: ceph

#6495 ceph: add option to preserve filesystem on CRD deletion
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-filesystem.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/filesystem-ec.yaml
  cluster/examples/kubernetes/ceph/filesystem-test.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crd.yaml
  cluster/examples/kubernetes/ceph/upgrade-from-v1.3-crds.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/filesystem.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_smoke_test.go
Labels: ceph
