Repository rook/rook, pull requests merged in 2020-05, with the labels that each got.

#5376 Restart portable osd pod if stuck
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: backport-release-1.3, ceph -

#5385 Restart portable osd pod if stuck (bp #5376)
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: ceph -

#5390 ceph: remove leftover rbd mirror in cluster.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: ceph -

#5398 ceph: do not fail on deactivate
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.3, ceph -

#5395 CSI: Update CSI version to v2.1.1
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.3, csi

#5394 CSI: Set PriorityClassName for CSI pods
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-sts.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: csi

#5412 Allow csi driver version to be undetected if unsupported flag is set
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.3, ceph -

#5413 Set v14.2.9 as base image for the operator
  images/ceph/Makefile
Labels: backport-release-1.2, backport-release-1.3, ceph -

#5414 Delete terminating osd pods even if not out
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: backport-release-1.3, ceph -

#5406 ceph: judge whether an OSD is on PVC or not by function
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph -

#5362 objectstore: Add ceph group to FsGroup
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.3, objectstore

#5386 Multipath support for OSD on PVC
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/util/sys/device.go
Labels: backport-release-1.3, ceph -

#5420 OSD on PVC node assignment should be the node selector rather than nodeName
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/k8sutil/deployment.go
Labels: backport-release-1.3, ceph -

#5438 Remove invalid verbose params from lv activate
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.2, backport-release-1.3, ceph -

#5443 CSI: fix typo in operator.yaml and operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: backport-release-1.3, ceph -

#5428 Set test default pool size to one
  cluster/examples/kubernetes/ceph/cluster-test.yaml
Labels: backport-release-1.3, ceph -

#5447 ceph: fix import script csi details
  cluster/examples/kubernetes/ceph/import-external-cluster.sh
Labels: backport-release-1.3, ceph -

#4913 Ceph: manager integration tests
  Jenkinsfile
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/environment.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_mgr_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph-mgr, test

#5388 Python script to generate needed external cluster resources in JSON format
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3, ceph -

#5450 ceph: create missing secret on external cluster
  pkg/operator/ceph/cluster/cluster_external.go
Labels: backport-release-1.3, ceph -

#5459 ceph: add missing op option for ocp
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
Labels: backport-release-1.3

#5421 csv: add external cluster script
  cluster/olm/ceph/generate-rook-csv.sh
Labels: backport-release-1.3, ceph -

#5465 ceph: obc relax error handling and user deletion
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/user.go
Labels: backport-release-1.3, ceph -

#5473 csv: add missing CephFilesystem
  cluster/olm/ceph/assemble/metadata-common.yaml
Labels: backport-release-1.3, csv

#5474 csv: add rbd mirror
  cluster/olm/ceph/assemble/metadata-common.yaml
  cluster/olm/ceph/generate-rook-csv.sh
Labels: csv

#5476 script: add 2 new SC
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3

#5478 ceph: change rgw certificate mode
  Documentation/ceph-object-store-crd.md
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  design/ceph/object/store.md
  design/common/object-bucket.md
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.3, ceph -

#5462 CSI: set pod anti affinity to provisioner pod
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/statefulset.go
Labels: backport-release-1.3, ceph -

#5485 Wait for volume deletion before removing the cluster finalizer
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/operator.go
Labels: ceph -

#5489 Set pg_num_min on new rgw metadata pools
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.3, ceph -

#5503 ceph: fail for unsupported version
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -

#5436 finalizer for OBC cleanup
  pkg/operator/ceph/object/bucket/util.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
Labels: backport-release-1.3, ceph -, objectstore

#5488 Stop monitoring a cluster immediately when deleted
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -

#5507 ceph: set external creds if admin key is available (partial bp-#5490)
  pkg/operator/ceph/cluster/controller.go
Labels: ceph -

#5342 Ceph: Newer mechanism to scale MDS for Nautilus+
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/mds/mds.go
Labels: backport-release-1.3, ceph -, filesystem

#5513 Pool resize test hangs during cleanup with latest v15.2.2
  tests/framework/clients/pool.go
  tests/integration/ceph_smoke_test.go
Labels: backport-release-1.3, ceph -, test

#5515 ceph: fix lvm arg
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.3, ceph -

#5524 ceph: default the device set template name to data
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
Labels: backport-release-1.3, ceph -

#5526 Revert verbose args for lv release
  pkg/daemon/ceph/osd/daemon.go
Labels: ceph -

#5529 ceph: do not enforce osd-memory-target
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.3, ceph -

#5548 ceph: add missing security context to crash collector
  pkg/operator/ceph/cluster/crash/crash.go
Labels: backport-release-1.3, ceph -

#5555 ceph: fix regressions in the integration tests
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_multi_cluster_test.go
Labels: ceph -

#5549 add commitlint github action
  .commitlintrc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/commitlint.yml
  Documentation/development-flow.md
Labels: backport-release-1.3

#5556 Handle node failure more gracefully
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/pod.go
Labels: ceph -

#5562 Ceph: Added the missing double quotes in JSON output
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.3
