Repository rook/rook, pull requests merged in 2021-09, with the labels that each got.

#8615 ceph: avoid duplicate ownerReferences
  pkg/operator/k8sutil/resources.go
  pkg/operator/k8sutil/resources_test.go
Labels: bug, ceph, backport-release-1.7

#8078 ceph: auto grow OSDs size on PVCs
  Documentation/ceph-advanced-configuration.md
  tests/scripts/auto-grow-storage.sh
Labels: feature, ceph-osd, backport-release-1.7

#8635 build: fix cross build run script
  images/cross/run.sh
Labels: skip-ci

#8638 ceph: avoid multiple reconciles of ceph cluster
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/watcher.go
Labels: ceph

#8629 ceph: fix error message in UpdateNodeStatus
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cluster/osd/status_test.go
Labels: bug, ceph, backport-release-1.7

#8593 ceph: add pdb for mgr
  pkg/operator/ceph/cluster/mgr/drain.go
  pkg/operator/ceph/cluster/mgr/drain_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
Labels: ceph

#8636 ceph: Allow an even number of mons
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-mon-health.md
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/cluster.go
  pkg/apis/ceph.rook.io/v1/cluster_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/mon/health.go
Labels: ceph, backport-release-1.7

#8650 fixed typo on version reference in comment
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: skip-ci

#8624 ci: fix object store test
  pkg/operator/ceph/object/rgw.go
  tests/integration/ceph_base_object_test.go
Labels: backport-release-1.7

#8652 ceph: fix CephMonQuorumAtRisk Alert Query
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph, skip-ci, backport-release-1.7

#8655 ci: add failfast go flag to stop tests sooner (optional)
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
Labels: ci

#8659 ceph: fix pool deletion when running on multus
  pkg/operator/ceph/pool/controller.go
Labels: ceph, backport-release-1.7

#8211 ceph: add options for cephobjectstore user
  Documentation/ceph-object-store-user-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/object-user.yaml
  go.mod
  go.sum
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/user.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  tests/framework/clients/object_user.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.6.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph, backport-release-1.7

#8670 ceph: print the output on errors
  pkg/util/sys/device.go
Labels: ceph, backport-release-1.7

#8675 ceph: modify the log info when ok to continue fails
  pkg/operator/ceph/cluster/mon/spec.go
Labels: ceph, backport-release-1.7

#8666 ceph: add networking.k8s.io/v1 Ingress chart compatability
  cluster/charts/rook-ceph-cluster/templates/ingress.yaml
Labels: ceph

#8668 ceph: fix CephOSDCriticallyFulla and CephOSDNearFull Alert Query
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph, backport-release-1.7

#8677 ci: fix pod list
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-common-issues.md
  Documentation/ceph-upgrade.md
  tests/scripts/github-action-helper.sh
  tests/scripts/validate_cluster.sh
Labels: backport-release-1.7

#8667 ceph: addressing nits from #8211
  Documentation/ceph-object-store-user-crd.md
  pkg/operator/ceph/object/user/controller.go
  tests/integration/ceph_base_object_test.go
Labels: ceph, backport-release-1.7

#8665 docs: Update ceph operator roadmap for v1.8
  README.md
  ROADMAP.md
Labels: skip-ci

#8674 docs: correct indentation for topologyKey
  Documentation/ceph-cluster-crd.md
  design/ceph/storage-class-device-set.md
Labels: docs, skip-ci, backport-release-1.7

#8685 docs: emphasize unit tests in development guide
  Documentation/development-flow.md
Labels: skip-ci, backport-release-1.7

#8694 bot: Add more ceph commit prefixes
  .commitlintrc.json
  Documentation/development-flow.md
Labels: backport-release-1.6, skip-ci, backport-release-1.7

#8693 docs: Refactor documentation for ceph provider
  Documentation/README.md
  Documentation/authenticated-registry.md
  Documentation/ceph-block.md
  Documentation/ceph-client-crd.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-filesystem.md
  Documentation/ceph-fs-mirror-crd.md
  Documentation/ceph-object-multisite.md
  Documentation/ceph-object.md
  Documentation/ceph-osd-mgmt.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-rbd-mirror-crd.md
  Documentation/ceph-storage.md
  Documentation/ceph-toolbox.md
  Documentation/development-flow.md
  Documentation/flexvolume.md
  Documentation/helm-operator.md
  Documentation/k8s-pre-reqs.md
  Documentation/media/edgefs-isgw-edit.png
  Documentation/media/edgefs-isgw.png
  Documentation/media/edgefs-rook.png
  Documentation/media/edgefs-ui-dashboard.png
  Documentation/media/edgefs-ui-nfs-edit.png
  Documentation/media/minio_demo.png
  Documentation/media/nfs-webhook-deployment.png
  Documentation/media/nfs-webhook-validation-flow.png
  Documentation/media/rook-architecture.png
  Documentation/pod-security-policies.md
  Documentation/pre-reqs.md
  Documentation/quickstart.md
  Documentation/tectonic.md
Labels: docs, skip-ci

#8695 docs: Publish master docs to latest path
  build/release/Makefile
Labels: docs, skip-ci

#8435 docs: ceph: add peer spec migration to upgrade doc
  Documentation/ceph-pool-crd.md
  Documentation/ceph-rbd-mirror-crd.md
  Documentation/ceph-upgrade.md
Labels: ceph, docs, upgrade, skip-ci, backport-release-1.7

#8711 ci: dry-run is deprecated and replaced with --dry-run=client
  tests/scripts/github-action-helper.sh
Labels: backport-release-1.7

#8698 ceph: reconcile osd pdb if allowed disruption is 0
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
Labels: ceph, backport-release-1.6, backport-release-1.7

#8715 ceph: remove unused crd permission from roles
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
Labels: ceph, security

#8732 doc: fix cephfs-mirror documentation
  Documentation/ceph-fs-mirror-crd.md
Labels: docs, skip-ci, backport-release-1.7

#8746 ci: force a particular ceph version
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  tests/framework/installer/ceph_installer.go
Labels: backport-release-1.7

#8738 ceph: remove unnecessary package
  go.mod
  go.sum
  pkg/apis/ceph.rook.io/v1/annotations_test.go
  pkg/apis/ceph.rook.io/v1/labels_test.go
  pkg/apis/ceph.rook.io/v1/network_test.go
  pkg/apis/ceph.rook.io/v1/placement_test.go
  pkg/apis/ceph.rook.io/v1/priorityclasses_test.go
  pkg/apis/ceph.rook.io/v1/spec_test.go
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/csi/util_test.go
  pkg/operator/k8sutil/resources.go
  pkg/operator/k8sutil/tolerations.go
Labels: ceph

#8723 test: make object e2e test its own test
  .github/workflows/integration-test-object-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
  .mergify.yml
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_object_test.go
  tests/integration/ceph_smoke_test.go
Labels: objectstore, test, object bucket claims (OBC)

#8690 ceph: fix probable cause of intermittent fails in the manager test
  tests/integration/ceph_mgr_test.go
Labels: ceph, test, ceph-mgr

#8708 ceph: retry object health check if creation fails
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/rgw.go
Labels: ceph, objectstore

#8722 ceph: export security context constraints
  Documentation/ceph-openshift.md
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/scc.yaml
  go.mod
  go.sum
  pkg/apis/ceph.rook.io/v1/scc.go
  pkg/apis/ceph.rook.io/v1/scc_test.go
Labels: ceph

#8721 ceph: do not use http for mgr liveness probe
  pkg/operator/ceph/cluster/mgr/spec.go
Labels: bug, ceph, ceph-mgr

#8743 ceph: use next ceph v16.2.6 pacific version
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/images.txt
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/object/user.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_base_file_test.go
Labels: ceph, backport-release-1.7

#8772 rgw: do not create the rgw ops user on the secondary cluster
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/user.go
  tests/scripts/github-action-helper.sh
Labels: ceph-rgw, backport-release-1.7

#8756 ceph: lift minimum supported version of ceph csi to v3.3.0
  Documentation/ceph-csi-drivers.md
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: ceph, backport-release-1.7

#8765 rgw: fix misleading log line in rgw health checker
  pkg/operator/ceph/object/status.go
Labels: backport-release-1.7

#8739 ceph: modify CephFS provisioner permission
  pkg/operator/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
Labels: ceph, security, backport-release-1.7

#8729 ceph: make provisioner replicas configurable
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph, csi, backport-release-1.7

#8798 docs: Update master doc links to latest
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/commitlint.yml
  .mergify.yml
  Documentation/ceph-advanced-configuration.md
  Documentation/development-environment.md
  Documentation/pre-reqs.md
  Documentation/storage-providers.md
  INSTALL.md
  README.md
  cluster/charts/rook-ceph-cluster/templates/NOTES.txt
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/charts/rook-ceph/templates/NOTES.txt
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched-aws.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  design/README.md
  design/ceph/ceph-stretch-cluster.md
Labels: skip-ci

#8766 ceph: pass region to newS3agent()
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/s3-handlers.go
  tests/integration/ceph_object_test.go
Labels: ceph, backport-release-1.7

#8090 ceph: Fix typo in dashboard admin password
  Documentation/ceph-dashboard.md
Labels: ceph, docs, skip-ci, backport-release-1.7

#8796 test: run multiple object stores at once in CI
  tests/integration/ceph_object_test.go
Labels: objectstore, test

#8751 core: add missing error type check to exec
  pkg/util/exec/exec.go
  pkg/util/exec/exec_test.go
Labels: backport-release-1.7

#8816 ceph: Pick up latest ceph base image 16.2.6-20210918
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  images/ceph/Makefile
Labels: build, ceph, backport-release-1.7

#8803 ceph: lift minimum supported version of ceph csi to v3.3.0
  Documentation/ceph-csi-drivers.md
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: backport-release-1.7

#8821 docs: updated correct indentation for Storage spec in Cephcluster
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: skip-ci, backport-release-1.7

#8820 ceph: update csi sidecar version references to the latest
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/examples/kubernetes/ceph/images.txt
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph, backport-release-1.7

#8774 ceph: prometheus rules format changes
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules-external.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph

#8793 monitoring: add namespace to ceph node down query
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: monitoring, backport-release-1.7

#8805 ceph: stop using tini
  PendingReleaseNotes.md
  cluster/charts/rook-ceph-cluster/templates/deployment.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cmd/rook/util/cmdreporter.go
  cmd/rook/util/copybins.go
  images/ceph/Dockerfile
  pkg/daemon/util/cmdreporter.go
  pkg/daemon/util/cmdreporter_test.go
  pkg/daemon/util/copybins.go
  pkg/daemon/util/copybins_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/osd/integration_test.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/k8sutil/cmdreporter/cmdreporter.go
  pkg/operator/k8sutil/volume.go
Labels: ceph

#8758 ci: add daily jobs
  .github/workflows/canary-integration-test-arm64.yml
  .github/workflows/daily-nightly-jobs.yml
  .github/workflows/integration-test-upgrade-suite.yaml
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_object_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: upgrade, ci

#8841 docs: Fix link to advanced documentation
  Documentation/ceph-common-issues.md
Labels: skip-ci, backport-release-1.7

#8806 ceph: add signal handling for log collector
  pkg/operator/ceph/controller/spec.go
Labels: ceph, backport-release-1.7

#8846 docs: fix the example of local PVC based cluster
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
Labels: docs, skip-ci

#8833 ceph: add missing rights rook-ceph-purge-osd account
  cluster/charts/rook-ceph-cluster/templates/role.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common-second-cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
Labels: ceph

#8813 test: clean up object store tests
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_object_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ci

#8712 rgw: use insecure TLS for bucket health check
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/s3-handlers_test.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_object_test.go
Labels: ceph-rgw, backport-release-1.7

#8807 ceph: fix external script when passing monitoring list
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: ceph, backport-release-1.7

#8860 multus: do not build all the args to remote exec cmd
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
Labels: backport-release-1.7

#8863 build: update command to generate image list
  cluster/examples/kubernetes/ceph/images.txt
  images/ceph/Makefile
Labels: backport-release-1.7

#8869 ci: retry on image pull error
  tests/scripts/github-action-helper.sh
Labels: backport-release-1.7, ci

#8868 ceph: do not fail on keys deletion
  pkg/daemon/ceph/osd/kms/vault.go
  pkg/daemon/ceph/osd/kms/vault_test.go
Labels: ceph, backport-release-1.7

#8828 rgw: update period if period does not exist
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/util/exec/exec_test.go
  pkg/util/exec/test/mockexec.go
Labels: bug, ceph-rgw, backport-release-1.7

#8781 rgw: reduce RBAC for lib-bucket-provisioner
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/examples/kubernetes/ceph/common.yaml
Labels: security

#8881 rgw: add period does not exist debug message
  pkg/operator/ceph/object/objectstore.go
Labels: ceph-rgw

#8882 ceph: change CephAbsentMgr to use 'up' query
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph, backport-release-1.7

#8885 build: use intermediate tmp for offline image gen
  .github/workflows/build.yml
  images/ceph/Makefile
Labels: bug, backport-release-1.7
