Repository rook/rook, pull requests merged in 2021-04, with the labels that each got.

#7524 ceph: bump controller-gen version
  Makefile
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
Labels: ceph

#7518 ceph: Remove obsolete osd dirs config
  pkg/operator/ceph/cluster/osd/config/config.go
Labels: ceph

#7523 ceph: strip crd description for csv generation
  .github/workflows/crds-gen.yml
  Makefile
  build/crds/build-crds.sh
  images/ceph/Makefile
Labels: ceph

#7527 ceph: do not include ob/obc/volumes crds in csv
  Makefile
  build/crds/build-crds.sh
  images/ceph/Makefile
Labels: ceph

#7530 ceph: Set default service account in the SCC
  Documentation/ceph-openshift.md
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/scc.yaml
Labels: ceph

#7537 ceph: added rgw app label to rookAppLabels for deleting stuck rook pods
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
Labels: backport-release-1.5, ceph

#7539 ceph: Tag default service account for CSV generation
  cluster/examples/kubernetes/ceph/common.yaml
Labels: ceph

#7532 ceph: SSL cert property cannot be empty
  cluster/examples/kubernetes/ceph/object.yaml
Labels: ceph

#7510 ceph: Enable Ceph Pacific as a supported version
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  images/ceph/Makefile
  pkg/operator/ceph/cluster/version_test.go
  pkg/operator/ceph/version/version.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/scripts/validate_cluster.sh
Labels: ceph

#7536 ceph: remove auth in osd-purge job
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.5, ceph, ceph-osd

#7545 ceph: allow empty compressionMode in CRD pools
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph, crd

#7547 ceph: add status subresource to CRDS
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.6, ceph, crd

#7540 ceph: allow monitor maintenance mode
  Documentation/ceph-mon-health.md
  PendingReleaseNotes.md
  pkg/operator/ceph/cluster/mon/health.go
Labels: backport-release-1.6, ceph

#7556 ceph: Revert rook-ceph-default service account so the daemons will use the built-in default SA again
  Documentation/ceph-openshift.md
  Documentation/k8s-pre-reqs.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/scc.yaml
  cluster/olm/ceph/generate-rook-csv.sh
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/file/mirror/spec.go
  pkg/operator/ceph/file/mirror/spec_test.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: backport-release-1.6, ceph

#7544 ceph: update osd purge docs
  Documentation/ceph-osd-mgmt.md
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.5, backport-release-1.6, ceph, ceph-osd

#7560 ceph: Tests are picking up release tag instead of local build
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#7566 ceph: Integration tests use master tag even in release branch
  tests/framework/installer/ceph_manifests.go
Labels: ceph, test

#7567 ceph: `pkg/operator/ceph/file`: multiple imports
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec_test.go
Labels: backport-release-1.6, ceph

#7582 ceph: sslCertificateRef can't be null
  cluster/examples/kubernetes/ceph/object-openshift.yaml
Labels: ceph

#7581 ceph: add monitoring rules for pacific
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v16-rules-external.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v16-rules.yaml
Labels: ceph

#7585 ci: use authenticated requests for minikube action on suite
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
Labels: backport-release-1.6

#7580 ceph: fix multiple imports
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
Labels: backport-release-1.6, ceph

#7579 ceph: cancel canary retry if necessary
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.6, ceph

#7463 ceph: add labels to monitoring spec
  Documentation/ceph-monitoring.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/keys.go
  pkg/apis/ceph.rook.io/v1/labels.go
  pkg/operator/ceph/cluster/mgr/mgr.go
Labels: backport-release-1.6, ceph

#7559 build: allow CSV gen on mac
  Makefile
  build/makelib/common.mk
  build/makelib/golang.mk
  cluster/olm/ceph/generate-rook-csv-templates.sh
  cluster/olm/ceph/generate-rook-csv.sh
  images/ceph/Makefile
Labels: backport-release-1.6, build, ceph

#7525 ceph: add pool quota usage alerts
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.6, ceph

#7371 build: Update the build to use go 1.16 while still supporting 1.15
  .github/workflows/build.yml
  .github/workflows/canary-integration-test.yml
  .github/workflows/codegen.yml
  .github/workflows/crds-gen.yml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
  .github/workflows/mod-check.yml
  build/makelib/golang.mk
  go.sum
  images/cross/Dockerfile
Labels: backport-release-1.5, backport-release-1.6, build

#7605 ceph: fix multiple imports
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/config/keyring/store_test.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
  pkg/operator/ceph/nfs/nfs.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/pool/validate.go
  pkg/operator/ceph/provisioner/provisioner.go
Labels: backport-release-1.6, ceph

#7571 update Ceph upgrade docs for 1.6
  Documentation/ceph-upgrade.md
Labels: backport-release-1.6, ceph, docs, upgrade

#7608 ceph: continue to get available devices if failed to get a device info
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.5, backport-release-1.6, ceph, ceph-osd

#7600 ceph: work around object user create/update incompatibilities between Rook v1.6 and Ceph pre-Pacific
  pkg/operator/ceph/object/admin.go
  pkg/util/exec/exec.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.6, bug, ceph, objectstore, upgrade

#7612 build: Update the build to use go 1.16 (bp #7371)
  .github/workflows/codegen.yml
  .github/workflows/mod-check.yml
  .github/workflows/unit-test.yml
  build/makelib/golang.mk
  go.sum
  images/cross/Dockerfile
Labels: do-not-merge

#7521 ceph: update Kubernetes registry link in CephFS document
  Documentation/ceph-filesystem.md
Labels: backport-release-1.5, backport-release-1.6, ceph

#7618 ceph: pkg/operator/ceph/cluster double imports
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/create.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/version.go
Labels: backport-release-1.6, ceph

#7632 ceph: Preserve volume claim template metadata in schema
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/operator/ceph/cluster/osd/deviceSet.go
Labels: backport-release-1.6, ceph

#7601 cassandra: Fix flaky Cassandra integration tests
  .github/workflows/integration-test-cassandra-suite.yaml
  Jenkinsfile
  tests/framework/installer/cassandra_manifests.go
  tests/framework/utils/k8s_helper.go
  tests/framework/utils/k8s_helper_test.go
  tests/integration/z_cassandra_test.go
Labels: backport-release-1.5, backport-release-1.6, cassandra

#7622 ceph: use replicaset instead of deployments for rgw instances
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.6, ceph

#7619 ceph: add volume replication crds
  build/crds/build-crds.sh
  build/crds/crds.go
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  go.mod
  go.sum
Labels: backport-release-1.6, ceph

#7552 ceph: update ceph dashboard credential command
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
Labels: backport-release-1.5, backport-release-1.6, ceph, ceph-dashboard

#7630 ceph: redact secret info from reconcile diffs
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/controller/predicate_test.go
Labels: backport-release-1.5, backport-release-1.6, bug, ceph, security

#7637 ceph: update csi image to v3.3.0
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: backport-release-1.6, ceph

#7403 ceph: Add support for volume replication controller sidecar in Rook
  Documentation/ceph-csi-drivers.md
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  tests/framework/installer/ceph_settings.go
  tests/integration/ceph_smoke_test.go
Labels: ceph, do-not-merge

#7650 build: run 'go mod vendor' on each build
  Jenkinsfile
  build/makelib/golang.mk
Labels: backport-release-1.6, build

#7653 build: update images 1.6.0-beta.0 -> 1.6.0
  .github/workflows/canary-integration-test.yml
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
  Documentation/cassandra.md
  Documentation/ceph-monitoring.md
  Documentation/ceph-quickstart.md
  Documentation/ceph-toolbox.md
  Documentation/nfs.md
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/ceph/direct-mount.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cluster/examples/kubernetes/ceph/toolbox-job.yaml
  cluster/examples/kubernetes/ceph/toolbox.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  cluster/examples/kubernetes/nfs/webhook.yaml
  design/nfs/nfs-controller-runtime.md
  design/nfs/nfs-provisioner-controlled-by-operator.md
Labels: build

#7664 test: do not allow go.test parallel dependencies
  .github/workflows/unit-test.yml
  build/makelib/golang.mk
Labels: backport-release-1.6

#7662 ceph: Allow pool replica min size 0 for EC pools
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.6, ceph

#7665 test: do not allow go.test parallel dependencies (bp #7664)
  .github/workflows/unit-test.yml
  build/makelib/golang.mk
Labels: backport

#7663 ceph: change radosgw-admin workaround log to debug
  pkg/operator/ceph/object/admin.go
Labels: backport-release-1.6, ceph

#7678 ceph: fix multiple imports
  pkg/daemon/ceph/agent/flexvolume/manager/ceph/manager.go
  pkg/daemon/ceph/osd/init.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.6, ceph

#7595 ci: always run all the actions
  .github/workflows/build.yml
  .github/workflows/canary-integration-test.yml
  .github/workflows/codegen.yml
  .github/workflows/codespell.yaml
  .github/workflows/commitlint.yml
  .github/workflows/crds-gen.yml
  .github/workflows/golangci-lint.yaml
  .github/workflows/integration-test-cassandra-suite.yaml
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
  .github/workflows/mod-check.yml
  .github/workflows/unit-test.yml
  .github/workflows/yaml-lint.yaml
  .mergify.yml
Labels: backport-release-1.6

#7683 ceph: preserve volume claim template metadata in schema
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
Labels: backport-release-1.6, ceph

#7681 ceph: always apply config flags for mds and rgw
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/object/rgw.go
Labels: backport-release-1.5, backport-release-1.6, ceph

#7692 docs: reset the pending release notes
  PendingReleaseNotes.md
Labels: docs, skip-ci

#7356 ceph: option to enable/disable host networking in CSI pods
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph

#7694 bot: set the correct k8s version for mergify auto-merge on 1.6
  .mergify.yml
Labels: skip-ci

#7623 ci: add rbd-mirror integration test
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-advanced-configuration.md
  cluster/examples/kubernetes/ceph/common-second-cluster.yaml
Labels: backport-release-1.6, ceph

#7682 ceph: use v14 image again for integration tests
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.6, ceph

#7640 ceph: remove rbd-mirror ceph config/key
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
Labels: ceph

#7691 ci: build and run various make commands on MacOS
  .github/workflows/canary-integration-test.yml
  .github/workflows/macos-build.yml
  Makefile
  build/crds/build-crds.sh
  build/makelib/golang.mk
  images/ceph/Makefile
Labels: backport-release-1.6, build, test

#7472 ceph: allow passing 'osd-crush-initial-weight'
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cmd/rook/ceph/osd.go
  pkg/apis/rook.io/v1/types.go
  pkg/daemon/ceph/osd/device.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.6, ceph

#7703 ceph: use ceph-volume v2 report format for Pacific
  pkg/daemon/ceph/osd/volume.go
Labels: backport-release-1.6, bug, ceph, ceph-osd

#7708 ceph: prevent disk flapping problem in master
  .github/workflows/integration-tests-on-release.yaml
Labels: ceph

#7690 ceph: stop vendoring
  .gitignore
  Makefile
  build/codegen/codegen.sh
  build/codegen/tools.go
  build/crds/build-crds.sh
  build/makelib/golang.mk
  build/run
  go.mod
  go.sum
  tests/scripts/dind-cluster.sh
Labels: backport-release-1.6, ceph

#7718 ceph: Allow any device class for the osds in a pool
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.6, ceph

#7724 ceph: update cephcsi to v3.3.1
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph, csi

#7716 ci: mitigate block locking issues and flapping mirroring test
  .github/workflows/canary-integration-test.yml
  .github/workflows/integration-tests-on-release.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  pkg/daemon/ceph/osd/volume.go
  tests/framework/installer/ceph_installer.go
Labels: backport-release-1.6, ceph, debug-canary, debug-helm-suite, debug-multi-cluster-mirroring

#7568 ceph: update OSDs reconcile
  pkg/daemon/ceph/client/crush.go
  pkg/operator/ceph/cluster/watcher.go
  pkg/operator/ceph/cluster/watcher_test.go
Labels: backport-release-1.6, ceph, ceph-osd

#7733 ceph: Example manifests to deploy with v15.2.11
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.5, backport-release-1.6, ceph

#7715 ceph: Expand Mon Pvc's
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/k8sutil/pvc.go
  pkg/operator/k8sutil/pvc_test.go
Labels: backport-release-1.6, ceph

#7742 ceph: add regression test for obc infinite pending
  tests/integration/ceph_base_object_test.go
Labels: ceph, object bucket claims (OBC), test

#7598 ceph: service server cert support for rgw
  Documentation/ceph-object-store-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  pkg/apis/ceph.rook.io/v1/object.go
  pkg/apis/ceph.rook.io/v1/object_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: backport-release-1.6, ceph

#7719 ceph: unity timeout values of commands
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.6, ceph, code cleanup

#7757 docs: workaround preserveUnknownFields upgrade
  Documentation/ceph-upgrade.md
Labels: backport-release-1.6, bug, ceph, docs

#7606 ceph: moved multus support out of experimental
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.6, ceph, docs, networking

#7677 ci: improve github action writing
  .github/workflows/canary-integration-test.yml
  .github/workflows/integration-test-cassandra-suite.yaml
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
  tests/scripts/github-action-helper.sh
Labels: debug-multi-cluster-mirroring

#7759 ceph: Detect the osd topology affinity during upgrade
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
Labels: backport-release-1.5, backport-release-1.6, ceph, ceph-osd

#7631 api: persist VolumeClaimTemplate metadtata
  Makefile
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/rook.io/v1/types.go
Labels: api, backport-release-1.6

#7685 docs: remove unrelated text "this is long video b"
  Documentation/ceph-dashboard.md
Labels: backport-release-1.6, ceph, ceph-dashboard, docs, skip-ci

#7385 ceph: check for kv engine version for SSE RGW
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-object-store-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/osd/kms/kms.go
  pkg/daemon/ceph/osd/kms/kms_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  tests/manifests/test-kms-vault-spec.yaml
  tests/manifests/test-object.yaml
  tests/scripts/deploy-validate-vault.sh
Labels: backport-release-1.6, ceph

#7768 ceph: Clarify log message to continue with upgrade if needed
  pkg/operator/ceph/cluster/version.go
Labels: backport-release-1.6, ceph

#7764 ceph: support for OBC operations if it uses TLS RGW endpoint
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/rgw.go
Labels: backport-release-1.6

#7633 ceph: ensure object store endpoint is initialized for user
  pkg/operator/ceph/object/user/controller.go
Labels: backport-release-1.6, ceph

#7735 ci: use latest pacific for mirroring test
  .github/workflows/canary-integration-test.yml
Labels: backport-release-1.6, debug-multi-cluster-mirroring

#7320 cephfs-documentation: Add dedicated storageclass-ec.yaml
  Documentation/ceph-filesystem-crd.md
  cluster/examples/kubernetes/ceph/csi/cephfs/storageclass-ec.yaml
Labels: ceph

#7752 ceph: add phase to cephfilesystems crd
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph, feature, filesystem

#7445 ceph: complete missing steps of upgrading mds
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/filesystem_test.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mds/mds.go
  pkg/operator/ceph/file/mds/spec.go
Labels: backport-release-1.6, ceph, filesystem

#7790 ci: retry vgcreate on failure
  tests/scripts/github-action-helper.sh
Labels: backport-release-1.6
