Repository rook/rook, pull requests merged in 2021-08, with the labels that each got.

#8425 ceph: update cephcsi to v3.4.0
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-ec.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/version.go
  pkg/operator/ceph/csi/version_test.go
Labels: backport-release-1.7, ceph

#8453 docs: add note about new container image location
  Documentation/ceph-upgrade.md
Labels: backport-release-1.7

#8379 ceph: add an rbd-mirror bootstrap token on cluster creation
  .github/workflows/canary-integration-test.yml
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/test/info.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/controller/mirror_peer.go
  pkg/operator/ceph/controller/mirror_peer_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/peers.go
Labels: backport-release-1.7, ceph

#8456 ceph: remove pool id from the peer
  pkg/daemon/ceph/client/mirror.go
  pkg/operator/ceph/controller/mirror_peer.go
  pkg/operator/ceph/controller/mirror_peer_test.go
Labels: backport-release-1.7, ceph

#8440 ceph: add empty dirs for /var/lib/rook and /etc/ceph
  cluster/charts/rook-ceph/templates/deployment.yaml
Labels: ceph

#8460 ceph: add fs-mirror to cleanup list
  pkg/operator/ceph/cluster/cleanup.go
Labels: backport-release-1.7, ceph

#8447 ceph: ignore errors when mirroring is not enabled on the filesystem
  .github/workflows/canary-integration-test.yml
  pkg/daemon/ceph/client/filesystem_mirror.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mirror/config.go
  pkg/util/retry.go
Labels: ceph

#8415 docs: added information about which pods will have multus annotations
  Documentation/ceph-cluster-crd.md
Labels: backport-release-1.7, docs

#8459 ceph: set default FsGroupChangePolicy value to 'None'
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.7, ceph

#8381 ceph: add an option to enable/disable merge all placement
  Documentation/ceph-cluster-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.6, backport-release-1.7, ceph

#8475 ceph: remove old network types
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/operator.go
  cmd/rook/rook/rook.go
  pkg/clusterd/context.go
  pkg/clusterd/network.go
  pkg/clusterd/network_test.go
  pkg/daemon/ceph/client/config.go
  pkg/daemon/ceph/client/config_test.go
Labels: ceph

#8465 ceph: use mktemp file in ImportRBDMirrorBootstrapPeer
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
Labels: backport-release-1.7, ceph

#8361 ceph: Get PR title and user info for release notes
  tests/scripts/gen_release_notes.sh
Labels: ceph

#8491 ceph: fix example of cluster on local pvc
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
Labels: ceph, docs, skip-ci, backport-release-1.7

#8495 ci: break if no errors on build
  tests/scripts/github-action-helper.sh
Labels: build, backport-release-1.7

#8504 docs: Clarify that helm charts are optional
  Documentation/helm-ceph-cluster.md
  Documentation/helm.md
Labels: skip-ci, backport-release-1.7

#8489 ceph: Remove unused mon timeout cli flags
  cmd/rook/ceph/operator.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: ceph, backport-release-1.7

#8482 ceph: move scheme initialization to the same place
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/machinedisruption/add.go
  pkg/operator/ceph/disruption/machinelabel/add.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mirror/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/realm/controller.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/pool/controller.go
Labels: ceph

#8516 doc: Add Santosh and Subham as reviewers
  CODE-OWNERS
Labels: skip-ci

#8492 ceph: add ability to specify ca bundle for rgw
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  design/ceph/object/store.md
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: ceph, backport-release-1.7

#8520 ceph: Refuse to failover the arbiter mon on stretch clusters
  pkg/operator/ceph/cluster/mon/health.go
Labels: ceph, backport-release-1.6, backport-release-1.7

#8526 ci: remove brackets when checking repo
  .github/workflows/create-tag.yaml
Labels: skip-ci

#8528 ci: validate user before creating tag
  .github/workflows/create-tag.yaml
Labels: skip-ci

#8541 build: print go version when building
  build/makelib/golang.mk
Labels: backport-release-1.6, backport-release-1.7

#8540 build: use latest golang v1.16.7 (Go CVE-2021-34558)
  images/cross/Dockerfile
Labels: backport-release-1.6, backport-release-1.7

#8534 nfs: upgrade nfs-ganesha to 3.5 version
  images/nfs/Dockerfile
Labels: nfs, backport-release-1.7

#8552 ceph: make storage device config nullable
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: bug, ceph, crd, backport-release-1.6, backport-release-1.7

#8546 ceph: use serviceAccountName as the key in ceph csi templates
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin.yaml
Labels: ceph, backport-release-1.7

#8549 ceph: fix error in <ceph orch device ls> test
  tests/integration/ceph_mgr_test.go
Labels: ceph, test, ceph-mgr

#8364 ceph: update CSR from v1beta1 to v1
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
  design/ceph/admission-controller.md
  tests/scripts/deploy-validate-vault.sh
  tests/scripts/generate-tls-config.sh
  tests/scripts/github-action-helper.sh
Labels: ceph

#8561 ceph: add `-0` for helm k8s version check
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
Labels: ceph, backport-release-1.7

#8568 ceph: add permissions to rook-ceph-mgr role for osd removal in rook orchestator
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/common.yaml
Labels: ceph, backport-release-1.7

#8571 ceph: Remove legacy PDBs methods
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
Labels: ceph

#8441 ceph: signal signals handling with context
  pkg/operator/ceph/operator.go
Labels: ceph, backport-release-1.7

#8394 ci: build on golang 1.16 and 1.17
  .github/workflows/build.yml
  build/crds/crds.go
  build/makelib/golang.mk
Labels: skip-ci

#8418 ceph: embed ceph-csi templates in rook binary
  cmd/rook/ceph/operator.go
  images/ceph/Dockerfile
  images/ceph/Makefile
  pkg/operator/ceph/csi/betav1csidriver.go
  pkg/operator/ceph/csi/csidriver.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/spec_test.go
  pkg/operator/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  pkg/operator/ceph/csi/template/cephfs/csi-cephfsplugin-svc.yaml
  pkg/operator/ceph/csi/template/cephfs/csi-cephfsplugin.yaml
  pkg/operator/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  pkg/operator/ceph/csi/template/rbd/csi-rbdplugin-svc.yaml
  pkg/operator/ceph/csi/template/rbd/csi-rbdplugin.yaml
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/csi/util_test.go
Labels: ceph

#8582 ceph: fix panic when recreating the csidriver object
  pkg/operator/ceph/csi/betav1csidriver.go
  pkg/operator/ceph/csi/csidriver.go
  pkg/operator/ceph/csi/spec.go
Labels: ceph, backport-release-1.6, backport-release-1.7

#8514 ceph: add support for update() from lib-bucket-provisioner
  go.mod
  go.sum
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/util.go
  tests/framework/clients/bucket.go
  tests/integration/ceph_base_object_test.go
Labels: feature, ceph, objectstore, object bucket claims (OBC), backport-release-1.7

#8493 ceph: move the admission webhook to the operator
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cmd/rook/ceph/admission.go
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/operator.go
  pkg/operator/ceph/cluster/operator_watchers.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/server.go
  pkg/operator/ceph/webhook.go
  pkg/operator/ceph/webhook_test.go
  tests/framework/installer/ceph_installer.go
Labels: ceph

#8584 core: convert util.NewSet() to sets.NewString()
  pkg/operator/ceph/cluster/osd/create.go
  pkg/operator/ceph/cluster/osd/create_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/util/set.go
  pkg/util/set_test.go
Labels: backport-release-1.7

#8590 ceph: Consolidate the calls to set mon config
  pkg/daemon/ceph/client/config.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/config/monstore.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
Labels: ceph, backport-release-1.7

#8583 ceph: do not check ok-to-stop when OSDs are in CLBO
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
Labels: ceph, backport-release-1.6, backport-release-1.7

#8609 ceph: Set the filesystem status when mirroring not enabled
  pkg/operator/ceph/file/controller.go
Labels: ceph, backport-release-1.7

#8611 docs: Correct field name.
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-osd-mgmt.md
  design/ceph/storage-class-device-set.md
Labels: skip-ci

#8618 ceph: fix vault kv secret engine auto-detection
  go.mod
  go.sum
  pkg/daemon/ceph/osd/kms/kms.go
  pkg/daemon/ceph/osd/kms/kms_test.go
  pkg/daemon/ceph/osd/kms/vault_api.go
  pkg/daemon/ceph/osd/kms/vault_api_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/object/spec.go
Labels: ceph, backport-release-1.7

#8529 ceph: add ClusterID and PoolID mappings between local and peer cluster
  .github/workflows/canary-integration-test.yml
  pkg/daemon/ceph/client/pool.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/csi/peermap/config.go
  pkg/operator/ceph/csi/peermap/config_test.go
  pkg/operator/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  pkg/operator/ceph/csi/template/rbd/csi-rbdplugin.yaml
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/k8sutil/deployment.go
  pkg/util/file.go
Labels: ceph, backport-release-1.7

#8623 Making script backward compatible with python2
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.6, backport-release-1.7
