Repository rook/rook, pull requests merged in 2021-01, with the labels that each got.

#6899 ceph: fix typo in resource name in the snapshot instructions
  Documentation/ceph-csi-snapshot.md
Labels: ceph

#6749 ceph: requeue clusterDisruption controller more proactively
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
Labels: backport-release-1.5, ceph

#6853 ceph: update to latest Kubernetes version 1.20.0
  go.mod
  go.sum
  pkg/operator/k8sutil/node.go
Labels: backport-release-1.5, ceph

#6907 ceph: remove leftover line
  tests/scripts/validate_cluster.sh
Labels: ceph

#6088 docs: fix RGW AWS credential export commands
  Documentation/ceph-object.md
Labels: backport-release-1.5

#6825 ceph: rename webhooks
  tests/scripts/webhook-config.yaml
Labels: ceph

#6913 ceph: add namespace note in storageclass documentation
  Documentation/ceph-object.md
Labels: backport-release-1.5, ceph

#6920 docs describe how to remove healthy Ceph OSDs
  Documentation/ceph-osd-mgmt.md
Labels: backport-release-1.5, ceph, docs

#6860 ceph: Setting rgw dashboard api key is frequently hanging in the integration tests since v15.2.8
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/rgw.go
Labels: backport-release-1.5, ceph

#6925 ceph: Suppress reconcile error after operator restart
  pkg/operator/ceph/controller/controller_utils.go
Labels: backport-release-1.5, ceph

#6888 ceph: change external rgw detection, not relying on cluster
  pkg/apis/ceph.rook.io/v1/object.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: backport-release-1.5, ceph

#6918 ceph: apply OSD resources and placement for device sets
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#6932 ceph: add pacific release name support and do no turn on the balancer since it is only on
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/client/mgr_test.go
  pkg/operator/ceph/version/version.go
Labels: ceph

#6915 ceph: update smoke & upgrade tests to verify obc is bound
  tests/framework/clients/bucket.go
  tests/framework/utils/k8s_helper.go
  tests/framework/utils/retry.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.5, ceph, object bucket claims (OBC), test

#6883 ceph: allow disable liveness check for mds daemonset
  pkg/apis/ceph.rook.io/v1/keys.go
  pkg/apis/ceph.rook.io/v1/livenessprobe.go
  pkg/operator/ceph/config/livenessprobe.go
  pkg/operator/ceph/config/livenessprobe_test.go
  pkg/operator/ceph/file/mds/spec.go
Labels: backport-release-1.5, ceph

#6938 ceph: Add devices to schema at overall storage level
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#6951 ceph: fix malformations in common-external.yaml
  cluster/examples/kubernetes/ceph/common-external.yaml
Labels: backport-release-1.5, bug, ceph

#6950 ceph: Only restart ceph dashboard module if settings changed
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
Labels: backport-release-1.5, ceph

#6691 ceph: enhance delete cephObjectStoreUser logging
  pkg/operator/ceph/object/user.go
Labels: backport-release-1.5, ceph

#6949 core: bump to controller-runtime 0.7.0 version
  go.mod
  go.sum
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/ceph/cluster/predicate.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/cluster/rbd/controller_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/cluster/watcher_test.go
  pkg/operator/ceph/controller/finalizer.go
  pkg/operator/ceph/controller/finalizer_test.go
  pkg/operator/ceph/controller/handler.go
  pkg/operator/ceph/controller/handler_test.go
  pkg/operator/ceph/controller/object_operations.go
  pkg/operator/ceph/controller/status.go
  pkg/operator/ceph/controller/status_test.go
  pkg/operator/ceph/cr_manager.go
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/clusterdisruption/mon_test.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/machinedisruption/add.go
  pkg/operator/ceph/disruption/machinedisruption/reconcile.go
  pkg/operator/ceph/disruption/machinelabel/add.go
  pkg/operator/ceph/disruption/machinelabel/reconcile.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/nfs/controller_test.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/realm/controller.go
  pkg/operator/ceph/object/realm/controller_test.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zone/controller_test.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/object/zonegroup/controller_test.go
  pkg/operator/ceph/operator.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/k8sutil/patcher.go
  pkg/operator/nfs/controller.go
  pkg/operator/nfs/controller_test.go
Labels: do-not-merge, operator

#6959 doc: update path in admission controller quick start doc
  Documentation/admission-controller-usage.md
Labels: backport-release-1.5, ceph, docs

#6961 ceph: Remove unexpected array type in v1beta1 crd schema
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph, test

#6967 ceph: Allow progressing status during integration test cleanup
  tests/framework/installer/ceph_installer.go
Labels: backport-release-1.5, ceph

#6966 ceph: During object store deletion return success if not found
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.5, ceph

#6958 ceph: convert CephClient CRD to controller-runtime
  PendingReleaseNotes.md
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/client/controller_test.go
  pkg/operator/ceph/cluster/monitoring.go
  pkg/operator/ceph/cluster/register_controllers.go
  pkg/operator/ceph/controller/predicate.go
Labels: ceph

#6978 ceph: Add mon design to the official docs
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-mon-health.md
  Documentation/ceph-storage.md
Labels: backport-release-1.5, ceph

#6972 ceph: exposing which node/osd is processing
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
Labels: backport-release-1.5, ceph

#6974 ceph: delete discovery daemon if it is disabled
  pkg/operator/ceph/operator.go
  pkg/operator/discover/discover.go
Labels: backport-release-1.5, ceph

#6985 ceph: bump controller runtime and kube
  .github/workflows/build.yml
  .github/workflows/codegen.yml
  .github/workflows/mod-check.yml
  .github/workflows/unit-test.yml
  go.mod
  go.sum
Labels: ceph

#6947 docs: updating nfs quickstart docs
  Documentation/nfs.md
Labels: backport-release-1.5, nfs

#6793 ceph: avoid potential osd corruption due to wrong file-lock
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/volumes.go
  pkg/operator/ceph/cluster/osd/volumes_test.go
Labels: backport-release-1.5, ceph

#6984 ceph: set process working dir to /var/log/ceph
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/object/spec.go
Labels: ceph

#7019 ceph: add kubectl-check-ownerreferences in ci
  .github/workflows/canary-integration-test.yml
Labels: ceph

#7030 ceph: add quincy version
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: ceph

#7031 ceph: add support to disable snapshotter sidecar
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/template/cephfs/csi-cephfsplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.5, ceph, csi

#6940 ceph: update admission controller to v1 from v1beta1
  design/ceph/admission-controller.md
  tests/framework/installer/ceph_installer.go
  tests/scripts/webhook-config.yaml
  tests/scripts/webhook-create-signed-cert.sh
Labels: backport-release-1.5, ceph

#7041 ceph: update rbd-mirror when cluster is upgraded
  pkg/operator/ceph/cluster/cluster.go
Labels: backport-release-1.5, ceph

#7052 ceph: remove the append flag when overriding
  cluster/olm/ceph/generate-rook-csv.sh
Labels: backport-release-1.5, ceph

#6641 ceph: vault kms configuration for ceph object store
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/daemon/ceph/osd/kms/volumes.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/object/spec.go
  tests/manifests/test-kms-vault-spec.yaml
  tests/scripts/deploy-validate-vault.sh
Labels: ceph

#7050 ceph: disable admission controller for k8s older than v1.16.0
  cluster/examples/kubernetes/ceph/config-admission-controller.sh
  tests/framework/installer/ceph_installer.go
Labels: ceph

#7044 ceph: update rgw and mds deployment for logCollector
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/controller/predicate.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/object/controller.go
Labels: backport-release-1.5, ceph

#6425 ceph: bucket notifications CRD documentation
  design/ceph/object/ceph-bucket-notification-crd.md
Labels: ceph

#7059 ceph: fix ProgressingCompleted CephCluster status condition type
  pkg/operator/ceph/config/conditions.go
Labels: backport-release-1.5, ceph

#6982 ceph: Allow removal of arbitrary osds on pvcs and simplify pvc names
  Documentation/ceph-osd-mgmt.md
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cmd/rook/ceph/osd.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
Labels: backport-release-1.5, ceph

#6875 ceph: add option to set FSGroupPolicy for CSI PVC
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.5, ceph, csi

#7071 ceph: Consistently order the osd args to avoid restarts
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.5, ceph

#7083 ceph: Prevent operator crash with host networking and node not found
  pkg/operator/ceph/cluster/mon/mon.go
Labels: backport-release-1.5, ceph

#7081 docs: Remove obsolete doc for handling rebooting nodes
  Documentation/ceph-tools.md
  Documentation/container-linux.md
  cluster/examples/coreos/after-reboot-daemonset.yaml
  cluster/examples/coreos/before-reboot-daemonset.yaml
  cluster/examples/coreos/ceph-after-reboot-script.yaml
  cluster/examples/coreos/ceph-before-reboot-script.yaml
  cluster/examples/coreos/rbac.yaml
Labels: backport-release-1.5, ceph, docs

#7089 ceph: use errors package instead of fmt
  pkg/operator/ceph/cluster/mon/mon.go
Labels: ceph

#7086 ceph: update lib bucket provisioner
  go.mod
  go.sum
Labels: ceph

#7077 ceph: fix mds liveness probe
  pkg/operator/ceph/file/mds/spec.go
Labels: ceph

#6833 ceph: configure health check timeout for OSDs when upgrading
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/info.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/k8sutil/deployment.go
Labels: ceph

#7094 ceph: fix code generation
  build/codegen/codegen.sh
Labels: ceph

#7082 ceph: Enable pod disruption budgets by default
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#7084 ceph: Only commit the maxmonid after starting a mon daemon
  pkg/operator/ceph/cluster/mon/config.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
Labels: backport-release-1.5, ceph

#6701 ceph: add --public-addr args to ceph mds command
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
Labels: ceph

#7100 ceph: disable admission controller for helm suite
  tests/framework/installer/ceph_installer.go
Labels: ceph

#7092 ceph: create a route for ceph-rgw
  cluster/examples/kubernetes/ceph/object-openshift.yaml
Labels: backport-release-1.5, ceph

#6999 ceph: clean pods stuck in terminating state on a failed node
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
Labels: ceph
