Repository rook/rook, pull requests merged in 2021-02, with the labels that each got.

#7105 ceph: Skip logging error for mon pdbs if single mon
  pkg/operator/ceph/disruption/clusterdisruption/mon.go
Labels: ceph

#7075 ceph: timeout `radosgw-admin` cli commands
  pkg/daemon/ceph/client/command.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/object/zone/controller_test.go
  pkg/operator/ceph/object/zonegroup/controller_test.go
Labels: ceph, ceph-rgw

#7110 ceph: fix codegen (again)
  build/codegen/codegen.sh
  tests/scripts/validate_modified_files.sh
Labels: ceph

#7111 ceph: do not enable ShareProcessNamespace if HostIPC
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7116 ceph: do not enable ShareProcessNamespace if HostPID
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.5, ceph

#7119 ceph: do not force go path in unit tests
  pkg/operator/k8sutil/prometheus_test.go
  pkg/util/file.go
  pkg/util/retry.go
  pkg/util/set.go
  pkg/util/set_test.go
Labels: ceph, test

#6866 ceph: skip csi detection if CSI is disabled
  pkg/operator/ceph/csi/csi.go
Labels: backport-release-1.5, ceph

#7109 ceph: update nfs ganesha pool recommendation
  Documentation/ceph-nfs-crd.md
  cluster/examples/kubernetes/ceph/nfs.yaml
Labels: backport-release-1.5, ceph

#7132 ceph: Add deviceClass to the object store schema
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#7133 ceph: Simplify the log-collector container name
  pkg/operator/ceph/controller/spec.go
Labels: backport-release-1.5, ceph

#7142 ceph: do not force go path in unit tests
  pkg/operator/k8sutil/prometheus_test.go
Labels: backport-release-1.5, ceph

#7147 ceph: Add new cmd argument and RBAC for csi rbd provisioner
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/csi/template/rbd/csi-rbdplugin-provisioner-dep.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph, csi

#7056 ceph: silence harmless errors when the operator is not initialized
  pkg/daemon/ceph/client/upgrade.go
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/controller.go
  pkg/util/exec/error.go
  pkg/util/exec/error_test.go
  pkg/util/exec/exec.go
Labels: backport-release-1.5, ceph

#7128 ceph: skip reconcile on PDBs are created, deleted and when on different namespace
  pkg/operator/ceph/disruption/clusterdisruption/add.go
Labels: backport-release-1.5, ceph

#7123 ceph: Intermittent integration test failures due to admission controller
  tests/framework/installer/ceph_installer.go
Labels: ceph

#7112 ceph: check for orchestration cancellation while waiting for all OSDs to start.
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/status.go
Labels: ceph

#7151 ceph: Bind mgr modules to all interfaces instead of pod ip
  pkg/operator/ceph/cluster/mgr/spec.go
Labels: backport-release-1.5, ceph

#7158 ceph: update dashboard doc url to latest
  Documentation/ceph-dashboard.md
Labels: backport-release-1.5, ceph

#7152 ceph: Remove obsolete init containers from mgr that were used to init the binding addresses
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
Labels: ceph

#7162 ceph: add helm resource-policy keep annotation for CRDs in helm chart
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/resources.yaml
Labels: backport-release-1.5, ceph

#7169 build: Remove YugabyteDB operator
  .commitlintrc.json
  CODE-OWNERS
  Documentation/development-flow.md
  Documentation/quickstart.md
  Documentation/yugabytedb-cluster-crd.md
  Documentation/yugabytedb.md
  Jenkinsfile
  README.md
  build/codegen/codegen.sh
  build/makelib/common.mk
  build/release/README.md
  cluster/examples/kubernetes/yugabytedb/cluster.yaml
  cluster/examples/kubernetes/yugabytedb/operator.yaml
  cmd/rook/main.go
  cmd/rook/yugabytedb/operator.go
  cmd/rook/yugabytedb/yugabytedb.go
  design/yugabyte/yugabytedb-rook-design.md
  images/Makefile
  images/yugabytedb/Dockerfile
  images/yugabytedb/Makefile
  pkg/apis/yugabytedb.rook.io/register.go
  pkg/apis/yugabytedb.rook.io/v1alpha1/doc.go
  pkg/apis/yugabytedb.rook.io/v1alpha1/register.go
  pkg/apis/yugabytedb.rook.io/v1alpha1/types.go
  pkg/apis/yugabytedb.rook.io/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/fake/fake_ybcluster.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/fake/fake_yugabytedb.rook.io_client.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/ybcluster.go
  pkg/client/clientset/versioned/typed/yugabytedb.rook.io/v1alpha1/yugabytedb.rook.io_client.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/yugabytedb.rook.io/interface.go
  pkg/client/informers/externalversions/yugabytedb.rook.io/v1alpha1/interface.go
  pkg/client/informers/externalversions/yugabytedb.rook.io/v1alpha1/ybcluster.go
  pkg/client/listers/yugabytedb.rook.io/v1alpha1/expansion_generated.go
  pkg/client/listers/yugabytedb.rook.io/v1alpha1/ybcluster.go
  pkg/operator/yugabytedb/controller.go
  pkg/operator/yugabytedb/controller_test.go
  pkg/operator/yugabytedb/create_controller.go
  pkg/operator/yugabytedb/operator.go
  pkg/operator/yugabytedb/update_controller.go
  tests/framework/installer/installer.go
  tests/framework/installer/yugabytedb_installer.go
  tests/framework/installer/yugabytedb_manifests.go
  tests/integration/yugabytedb_test.go
  tests/pipeline/Jenkinsfile.k8sSetup
  tests/scripts/makeTestImages.sh
  tests/scripts/minikube.sh
Labels: YugabyteDB, build

#7179 ceph: filesystem is not required for nfs server deployment
  Documentation/ceph-nfs-crd.md
  pkg/operator/ceph/nfs/nfs.go
Labels: backport-release-1.5, ceph

#7160 ceph: remove crash collector if ceph pod moved
  pkg/operator/ceph/cluster/crash/reconcile.go
Labels: backport-release-1.5, ceph

#7172 ceph: always override existing block for blkdevmapper
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7170 ceph: return an error if PVC is not clean
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/envs.go
Labels: backport-release-1.5, ceph

#7180 ceph: use deployment replicas instead of more deployments for rbd-mirror
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
Labels: ceph

#7173 ceph: add cephfilesystemmirrors CRD to 1.15
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#7185 ceph: replace setting controller reference with utility function
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/disruption/machinedisruption/reconcile.go
  pkg/operator/ceph/object/realm/controller.go
Labels: ceph

#7193 ceph: expose vault curl errors
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7196 ceph: fix wrong payload path
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7199 ceph: Correct formatting of ceph version detected
  pkg/operator/ceph/cluster/version.go
Labels: backport-release-1.5, ceph

#7194 ceph: do not print pointer memory address
  pkg/clusterd/disk.go
  pkg/daemon/ceph/osd/daemon.go
Labels: backport-release-1.5, ceph

#7157 docs: help topic for CSI troubleshooting
  Documentation/ceph-common-issues.md
  Documentation/ceph-csi-troubleshooting.md
Labels: backport-release-1.5, docs

#7182 ceph: Order CephCluster false condition before true Ready condition
  pkg/operator/ceph/config/conditions.go
Labels: backport-release-1.5, ceph

#7153 ceph: set default values of liveness probe
  Documentation/ceph-cluster-crd.md
  pkg/operator/ceph/config/livenessprobe.go
  pkg/operator/ceph/config/livenessprobe_test.go
  pkg/operator/ceph/object/spec.go
Labels: ceph

#7191 ceph: fill up endpoint for cephobjectstore user
  pkg/operator/ceph/object/user/controller.go
Labels: backport-release-1.5, ceph

#7218 docs: use -o jsonpath in ceph-object.md
  Documentation/ceph-object.md
Labels: ceph, docs

#7224 ceph: minor bugfix with multiple filesystems
  cluster/charts/rook-ceph/templates/deployment.yaml
Labels: backport-release-1.5, ceph

#5741 ceph: add osd on lv backed pvc test
  .github/workflows/canary-integration-test.yml
Labels: ceph

#7230 ceph: embed error in return
  pkg/operator/ceph/cluster/osd/osd.go
Labels: backport-release-1.5, ceph

#7221 docs: fix crd finalizer instructions
  Documentation/ceph-teardown.md
Labels: backport-release-1.5, ceph, docs

#7192 ceph: do not merge nodeAffinity
  pkg/apis/rook.io/v1/placement.go
  pkg/apis/rook.io/v1/placement_test.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/version.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mirror/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/k8sutil/pod.go
Labels: backport-release-1.5, ceph, ceph-osd

#6926 ceph: create new OSDs on PVC before updating existing ones
  pkg/daemon/ceph/osd/daemon.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_pvc_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/test/client.go
Labels: ceph, ceph-osd, feature

#7240 ceph: do not override existing keys
  pkg/daemon/ceph/osd/kms/vault.go
Labels: ceph

#7234 ceph: Add tolerations for all daemons to the cleanup job
  pkg/apis/ceph.rook.io/v1/placement.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/cleanup_test.go
Labels: backport-release-1.5, ceph

#7249 ceph: helm update variable enableCephFSSnapshotter
  cluster/charts/rook-ceph/values.yaml
Labels: backport-release-1.5, ceph

#7247 ceph: update placement in osd with osdProps.placement
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#7239 ceph: revert fail if mgr prometheus is not default
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.5, ceph

#7248 ceph: fix typos in ob doc
  Documentation/ceph-object-bucket-claim.md
Labels: backport-release-1.5, ceph

#7238 ceph: rados pool namespace is optional for nfs deployments
  pkg/operator/ceph/nfs/nfs.go
Labels: backport-release-1.5, ceph

#7001 ceph: Add ceph archive cmd in osd removal
  pkg/daemon/ceph/client/crash.go
  pkg/daemon/ceph/client/crash_test.go
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.5, ceph

#6975 design: add design to update ceph osds in parallel
  Documentation/ceph-cluster-crd.md
  design/ceph/update-osds-in-parallel.md
Labels: ceph, ceph-osd, design

#7256 ceph: Enforce portable OSDs in same topology as osd prepare job
  Documentation/ceph-cluster-crd.md
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/topology.go
  pkg/operator/ceph/cluster/osd/topology_test.go
  pkg/operator/k8sutil/node.go
  pkg/operator/k8sutil/node_test.go
Labels: backport-release-1.5, ceph

#7270 ceph: correct fs yaml fields
  cluster/examples/kubernetes/ceph/filesystem.yaml
Labels: ceph

#7271 docs: Delete 'rootPath' in cephfs storageclass yaml
  Documentation/ceph-filesystem.md
  cluster/examples/kubernetes/ceph/csi/cephfs/storageclass.yaml
Labels: backport-release-1.5, ceph, csi

#7264 ceph: add ability to set pool quotas
  Documentation/ceph-pool-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/pool.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#7280 ceph: fix SIGSEGV when failing to get object store user
  pkg/operator/ceph/object/health.go
Labels: backport-release-1.5, ceph

#7284 ceph: fail if subfailure domains are identical
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/pool/validate.go
  pkg/operator/ceph/pool/validate_test.go
Labels: backport-release-1.5, ceph

#7027 nfs: the number of containers displayed is wrong due to sidecar
  Documentation/nfs.md
Labels: backport-release-1.5, nfs

#7283 ceph: misc improvement for the ceph-fs-mirror implementation
  pkg/daemon/ceph/client/upgrade.go
  pkg/operator/ceph/file/mirror/config.go
  pkg/operator/ceph/file/mirror/controller.go
  pkg/operator/ceph/file/mirror/mirror.go
  pkg/operator/ceph/file/mirror/spec.go
  pkg/operator/ceph/file/mirror/spec_test.go
  pkg/operator/ceph/test/podspec.go
Labels: ceph

#7292 ceph: show error even in silent curl
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7286 ceph: Codegen update for pool quotas
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
Labels: backport-release-1.5, ceph

#7298 ceph: do not use curl ca-cert for signed certificates
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7295 docs: Additional network troubleshooting details for mons
  Documentation/ceph-common-issues.md
Labels: backport-release-1.5, ceph, docs

#7217 ceph: Enable external resource script to collect active and standby mgrs
  .github/workflows/canary-integration-test.yml
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
  cluster/examples/kubernetes/ceph/test-data/ceph-status-out
  images/ceph/Makefile
Labels: backport-release-1.5, ceph

#7299 ceph: remove unnecessary generate key for osd
  pkg/operator/ceph/cluster/osd/config.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph, ceph-osd

#7266 ceph: removed individual force delete pod code for mons and osds
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
Labels: backport-release-1.5, ceph

#7304 ceph: fix flaky OSD on PVC unit test
  pkg/operator/ceph/cluster/osd/osd_pvc_test.go
Labels: backport-release-1.5, bug, ceph, test

#7302 ceph: update build and examples to use v15.2.9
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.5, ceph

#7311 ceph: change osd on pvc unit test to use t.Log()
  pkg/operator/ceph/cluster/osd/osd_pvc_test.go
  pkg/operator/test/client.go
Labels: backport-release-1.5, ceph, code cleanup, test

#7290 ceph: remove driveGroup support
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-examples.md
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-with-drive-groups.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  cmd/rook/ceph/osd.go
  design/ceph/orchestrator-osd-add-remove.md
  pkg/apis/ceph.rook.io/v1/cluster.go
  pkg/apis/ceph.rook.io/v1/drivegroups.go
  pkg/apis/ceph.rook.io/v1/drivegroups_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/osd/agent.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/drivegroups.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/drivegroups.go
  pkg/operator/ceph/cluster/osd/drivegroups_test.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/provision_spec_test.go
  pkg/operator/k8sutil/node.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph, ceph-osd, deprecation
