Repository rook/rook, pull requests merged in 2021-03, with the labels that each got.

#7323 ceph: unmanage labels of monitoring resources
  pkg/operator/k8sutil/prometheus.go
Labels: backport-release-1.5, ceph

#7265 ceph: ability to set cluster wide log level
  Documentation/ceph-common-issues.md
  images/ceph/Dockerfile
  images/ceph/Makefile
  images/ceph/set-ceph-debug-level
  images/ceph/toolbox.sh
Labels: backport-release-1.5, ceph

#7328 ceph: stick with ubuntu-18.04 on the CI
  .github/workflows/build.yml
  .github/workflows/canary-integration-test.yml
  .github/workflows/codegen.yml
  .github/workflows/codespell.yaml
  .github/workflows/commitlint.yml
  .github/workflows/golangci-lint.yaml
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
  .github/workflows/mod-check.yml
  .github/workflows/stale.yaml
  .github/workflows/unit-test.yml
Labels: backport-release-1.5, ceph

#7336 ceph: revert kms VAULT_KV_VERS to VAULT_BACKEND
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  pkg/daemon/ceph/osd/kms/vault.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/object/spec.go
  tests/manifests/test-kms-vault-spec.yaml
Labels: ceph

#7337 ceph: expose vault warnings better
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7334 ceph: handle ssl cases for RGW's livenessprobe
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: backport-release-1.5, ceph

#7315 ceph: Only raise CephCluster conditions that represent current state
  Documentation/ceph-cluster-crd.md
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/config/conditions.go
  pkg/operator/ceph/controller/conditions.go
Labels: backport-release-1.5, ceph

#7344 docs: Fix link to the sample osd purge job
  Documentation/ceph-osd-mgmt.md
Labels: backport-release-1.5, docs

#7307 ceph: rework multiple filesystem support
  Documentation/ceph-filesystem.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
Labels: ceph

#7273 ceph: fixed prometheus query to avoid many-to-many match error
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.5, ceph

#7330 ceph: update CRDs for healthcheck in crds.yaml
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#4879 ceph: add raw mode for non-pvc osd
  .github/workflows/canary-integration-test.yml
  Jenkinsfile
  PendingReleaseNotes.md
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph

#7358 ceph: add osd flapping alert
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph

#7333 ceph: webhook check if one of port or securePort are non-zero
  pkg/apis/ceph.rook.io/v1/object.go
  pkg/apis/ceph.rook.io/v1/object_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/server.go
  tests/scripts/webhook-config.yaml
Labels: ceph

#7370 ceph: do not duplicate osd info
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: ceph

#7377 ceph: use latest stable nautilus
  tests/manifests/test-cluster-on-pvc-encrypted.yaml
Labels: ceph

#7374 ceph: fix vault when used with kv version 2
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#7379 ceph: disable CSI GRPC metrics by default
  Documentation/helm-operator.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/csi.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#7381 ceph: use raw mode for pacific on non-pvc
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: ceph

#7354 ceph: fix improper json parsing
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/admin_test.go
  pkg/operator/ceph/object/bucket.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/realm/controller.go
  pkg/operator/ceph/object/realm/controller_test.go
  pkg/operator/ceph/object/user.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zone/controller_test.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/object/zonegroup/zonegroup.go
Labels: backport-release-1.5, ceph, objectstore

#7235 ceph: Allow two mgr daemons and actively reconcile the mgr services with a sidecar
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  cmd/rook/ceph/ceph.go
  cmd/rook/ceph/mgr.go
  cmd/rook/ceph/osd.go
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/config.go
  pkg/daemon/ceph/client/info.go
  pkg/daemon/ceph/client/mgr.go
  pkg/daemon/ceph/client/status.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/remove.go
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd_pvc_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/test/spec.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/pod_test.go
  pkg/operator/k8sutil/service.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_multi_cluster_test.go
Labels: ceph

#7394 ci: describe the location of test logs
  tests/README.md
Labels: docs, test

#7392 ceph: suppress golanglint-ci complaints
  .github/workflows/golangci-lint.yaml
  pkg/daemon/ceph/client/pool.go
  pkg/operator/k8sutil/pod_test.go
  pkg/operator/test/client.go
  tests/framework/installer/ceph_manifests_v1.5.go
Labels: ceph

#7391 ceph: enable pg auto repair
  pkg/operator/ceph/config/defaults.go
Labels: backport-release-1.5, ceph

#7409 ci: update minikube github action to fix apt-get
  .github/workflows/canary-integration-test.yml
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-mgr-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
Labels: bug, test

#7397 ceph: set pool quota with k8s quantity format
  Documentation/ceph-pool-crd.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/pool.go
  tests/framework/installer/ceph_manifests.go
Labels: ceph

#7103 ceph: auto generate crds files
  .github/workflows/codespell.yaml
  .github/workflows/crds-gen.yml
  Makefile
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  cluster/olm/ceph/assemble/objectbucket.io_objectbucketclaims.yaml
  cluster/olm/ceph/assemble/objectbucket.io_objectbuckets.yaml
  cluster/olm/ceph/generate-rook-csv.sh
  design/common/multiple-storage-types-support.md
  go.mod
  go.sum
  pkg/apis/ceph.rook.io/v1/summary.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1/types.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
  pkg/apis/rook.io/v1alpha2/types.go
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/health.go
  pkg/operator/ceph/pool/status.go
  pkg/operator/ceph/pool/status_test.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_upgrade_test.go
  tests/scripts/validate_modified_files.sh
Labels: ceph

#7402 ceph: ignore monitoring folder from yamllint
  .github/workflows/yaml-lint.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules-external.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus-service.yaml
  cluster/examples/kubernetes/ceph/monitoring/prometheus.yaml
  cluster/examples/kubernetes/ceph/monitoring/rbac.yaml
  cluster/examples/kubernetes/ceph/monitoring/service-monitor.yaml
Labels: ceph

#7414 ceph: skip cleanup if cluster is not configured correctly.
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.5, ceph

#7340 ceph: updated rbac for multus in helm charts
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.5, ceph

#7417 ceph: add osd slow ops alert
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: backport-release-1.5, ceph

#7419 ceph: mark maxSize as optional
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/daemon/ceph/client/pool.go
Labels: ceph

#7390 ceph: Refactor integration tests for simplification
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-test-multi-cluster-suite.yaml
  .github/workflows/integration-test-smoke-suite.yaml
  .github/workflows/integration-test-upgrade-suite.yaml
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-object-store-crd.md
  Jenkinsfile
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cmd/rook/ceph/operator.go
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/operator.go
  tests/framework/clients/block.go
  tests/framework/clients/bucket.go
  tests/framework/clients/client.go
  tests/framework/clients/filesystem.go
  tests/framework/clients/nfs.go
  tests/framework/clients/object.go
  tests/framework/clients/object_user.go
  tests/framework/clients/pool.go
  tests/framework/clients/rbd-mirror.go
  tests/framework/installer/cassandra_installer.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.5.go
  tests/framework/installer/ceph_settings.go
  tests/framework/installer/general_manifests.go
  tests/framework/installer/installer.go
  tests/framework/installer/nfs_installer.go
  tests/framework/utils/helm_helper.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_block_test.go
  tests/integration/ceph_base_deploy_test.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_base_object_test.go
  tests/integration/ceph_flex_test.go
  tests/integration/ceph_helm_test.go
  tests/integration/ceph_mgr_test.go
  tests/integration/ceph_multi_cluster_test.go
  tests/integration/ceph_smoke_test.go
  tests/integration/ceph_upgrade_test.go
  tests/integration/nfs_test.go
  tests/scripts/deploy_admission_controller.sh
Labels: ceph

#7432 ceph: fix csi blocker owner deletion
  pkg/operator/k8sutil/resources.go
Labels: ceph

#7355 ceph: add more osds to the ci
  .github/workflows/canary-integration-test.yml
  tests/scripts/create-bluestore-partitions.sh
  tests/scripts/localPathPV.sh
  tests/scripts/validate_cluster.sh
Labels: ceph

#7435 ceph: fix for the random script failures because of open file issue
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: ceph

#7415 ceph: placement in case of both PVC and non-PVC's
  pkg/apis/rook.io/v1/placement.go
  pkg/apis/rook.io/v1/placement_test.go
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/osd/provision_spec.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/version.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mirror/spec.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/k8sutil/pod_test.go
Labels: backport-release-1.5, ceph

#7440 ceph: Set active mgr label on mgr services
  cluster/examples/kubernetes/ceph/monitoring/service-monitor.yaml
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
Labels: ceph

#7454 ceph: set default backend for vault and remove temp key
  pkg/daemon/ceph/osd/kms/envs.go
  pkg/daemon/ceph/osd/kms/envs_test.go
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7466 ceph: fix init container "expand-encrypted-bluefs" multipath
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.5, ceph

#7469 docs: remove left overs in /dev/mapper/ceph--*
  Documentation/ceph-disaster-recovery.md
  Documentation/ceph-teardown.md
Labels: ceph, docs

#7459 ceph: remove unsed type field
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/health.go
Labels: ceph

#7473 ceph: set secret type on external cluster script
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh
  cluster/examples/kubernetes/ceph/import-external-cluster.sh
Labels: backport-release-1.5, ceph

#7474 ceph: add static IPAM support for CNI
  pkg/operator/ceph/config/network.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/k8sutil/network.go
Labels: ceph

#7478 ceph: simply "make crds"
  .github/workflows/crds-gen.yml
  Makefile
  build/crds/build-crds.sh
Labels: ceph

#7480 ci: try to mitigate object user error
  tests/integration/ceph_base_object_test.go
Labels: debug-smoke-suite

#7453 ceph: validate all owner references
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/controller/owner.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/nfs/config.go
  pkg/operator/ceph/test/ownerinfo/resources.go
  pkg/operator/k8sutil/resources.go
  pkg/operator/k8sutil/resources_test.go
Labels: ceph

#7488 ceph: remove extra slash in curl
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, ceph

#7489 ceph: avoid restarting all encrypted osd on cluster growth
  pkg/daemon/ceph/osd/kms/envs.go
  pkg/daemon/ceph/osd/kms/envs_test.go
Labels: backport-release-1.5, ceph

#7455 docs: updated the documentation of ceph-nfs-crd
  Documentation/ceph-nfs-crd.md
Labels: ceph-nfs, docs

#7386 ceph: Update osds in parallel
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/csi/rbd/storageclass-test.yaml
  design/ceph/update-osds-in-parallel.md
  pkg/apis/rook.io/v1/storage.go
  pkg/apis/rook.io/v1/storage_test.go
  pkg/daemon/ceph/client/fake/osd.go
  pkg/daemon/ceph/client/osd.go
  pkg/daemon/ceph/client/osd_test.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/create.go
  pkg/operator/ceph/cluster/osd/create_test.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/integration_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/osd_pvc_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/status.go
  pkg/operator/ceph/cluster/osd/status_test.go
  pkg/operator/ceph/cluster/osd/update.go
  pkg/operator/ceph/cluster/osd/update_test.go
  pkg/operator/ceph/cluster/predicate.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/webhook.go
  pkg/operator/k8sutil/daemonset.go
  pkg/operator/k8sutil/deployment.go
  pkg/operator/k8sutil/deployment_test.go
  pkg/operator/k8sutil/job.go
  pkg/operator/k8sutil/k8sutil.go
  pkg/operator/k8sutil/prometheus.go
  pkg/operator/test/client.go
  pkg/util/retry.go
  pkg/util/set.go
Labels: ceph, ceph-osd, feature

#7465 ceph: use metav1.Duration for time CRD field
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/pool/health.go
Labels: ceph

#7476 ceph: update cephCluster CR with ceph versions output
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/version.go
  pkg/operator/ceph/cluster/version_test.go
  pkg/operator/ceph/controller/controller_utils.go
Labels: ceph

#7502 ceph: add a few missing crd fields
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph

#7406 ceph: added rook-ceph-default service account
  Documentation/k8s-pre-reqs.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/olm/ceph/generate-rook-csv.sh
  pkg/operator/ceph/cluster/cleanup.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/mon/spec.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/rbd/spec.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/file/mds/spec.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/file/mirror/spec.go
  pkg/operator/ceph/file/mirror/spec_test.go
  pkg/operator/ceph/nfs/spec.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: ceph, feature, service-account

#7442 ceph: prevent voluntary mon drain while another mon is failing over
  pkg/operator/ceph/cluster/mon/drain.go
  pkg/operator/ceph/cluster/mon/drain_test.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/disruption/clusterdisruption/mon.go
  pkg/operator/ceph/disruption/clusterdisruption/mon_test.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/clusterdisruption/static_pdb.go
Labels: backport-release-1.5, ceph

#7506 ceph: Upgrade ceph-csi to v3.2.1
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.5, ceph

#7512 ceph: fix image generation by generating crds to be included
  images/ceph/Makefile
Labels: ceph

#7513 ceph: enforce pg_auto_scaler on rgw pools
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/mime.go
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.5, ceph

#7511 ceph: Compatibility for generating crds without sed
  build/crds/build-crds.sh
Labels: ceph

#7515 ceph: add dualstack support on pacific
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
Labels: ceph
