Repository rook/rook, pull requests merged in 2021-07, with the labels that each got.

#8172 ceph: add support for hybrid Storage Pools
  Documentation/ceph-pool-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pool-test.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/apis/ceph.rook.io/v1/pool.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/crush_rule.go
  pkg/daemon/ceph/client/crush_test.go
  pkg/daemon/ceph/client/deviceclass.go
  pkg/daemon/ceph/client/deviceclass_test.go
  pkg/daemon/ceph/client/mon.go
  pkg/daemon/ceph/client/pool.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/pool/validate.go
  pkg/operator/ceph/pool/validate_test.go
Labels: ceph

#8226 docs: add news feature in the features section
  PendingReleaseNotes.md
Labels: skip-ci

#8222 ceph: update blockPoolChannel before starting the mirror monitoring
  pkg/operator/ceph/pool/controller.go
Labels: ceph

#8180 ceph: give resource request preference for mds_cache_memory_limit
  pkg/operator/ceph/file/mds/config.go
  pkg/operator/ceph/file/mds/spec.go
Labels: backport-release-1.6, ceph

#8227 ceph: silence harmless errors
  pkg/operator/ceph/pool/controller.go
  pkg/util/exec/exec.go
Labels: ceph

#8029 ceph: update CSIDriver object from betav1 to v1
  pkg/operator/ceph/csi/betav1csidriver.go
  pkg/operator/ceph/csi/csidriver.go
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph

#8236 ceph: Debug log the k8s version instead of info
  pkg/operator/k8sutil/k8sutil.go
Labels: backport-release-1.6, ceph

#8238 ceph: operator pod killed due to resource limit
  cmd/rook/ceph/operator.go
  cmd/rook/rook/rook.go
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.6, ceph

#8237 ceph: Retry reconcile immediately after cancellation
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/controller/controller_utils.go
Labels: backport-release-1.6, ceph

#8215 ceph: ability to disable pool mirroring
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
  pkg/daemon/ceph/client/pool.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/validate.go
  pkg/operator/ceph/pool/validate_test.go
Labels: backport-release-1.6, ceph

#8208 ceph: enable debug for adminops client if the rook loglevel <= debug
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: backport-release-1.6, ceph

#8253 ceph: Run helm tests without admission controller
  tests/integration/ceph_helm_test.go
Labels: ceph

#7604 ceph: add filesystem mirror peers configuration
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-filesystem-crd.md
  Documentation/ceph-filesystem.md
  Documentation/ceph-fs-mirror-crd.md
  Documentation/ceph-pool-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  pkg/apis/ceph.rook.io/v1/mirror.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/filesystem_mirror.go
  pkg/daemon/ceph/client/filesystem_mirror_test.go
  pkg/daemon/ceph/client/mirror.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/predicate.go
  pkg/operator/ceph/cluster/mon/predicate_test.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/cluster/rbd/config_test.go
  pkg/operator/ceph/controller/mirror_peer.go
  pkg/operator/ceph/controller/mirror_peer_test.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/file/health.go
  pkg/operator/ceph/file/mirror/config.go
  pkg/operator/ceph/file/mirror/controller.go
  pkg/operator/ceph/file/status.go
  pkg/operator/ceph/pool/config.go
  pkg/operator/ceph/pool/config_test.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/validate.go
  tests/integration/ceph_smoke_test.go
  tests/manifests/test-fs-mirror-spec.yaml
  tests/scripts/github-action-helper.sh
  tests/scripts/validate_cluster.sh
Labels: ceph

#8250 ceph: Scaling down nfs deployment was failing
  pkg/operator/ceph/nfs/nfs.go
Labels: backport-release-1.6, ceph

#8244 ceph: fetch rgw port from cephobjectstore crd for obc
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/util.go
Labels: backport-release-1.6, ceph

#8254 ceph: network configuration should be optional in Helm chart
  cluster/charts/rook-ceph-cluster/templates/deployment.yaml
Labels: backport-release-1.6, ceph

#8243 ceph: add support for tls certs via k8s tls secrets for rgw
  Documentation/ceph-object-store-crd.md
  PendingReleaseNotes.md
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/config_test.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
Labels: ceph

#8269 ceph: remove creation of adminops client in checkObjectStoreHealth()
  pkg/operator/ceph/object/health.go
Labels: ceph

#8272 ceph: proxy ceph command when multus is configured
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/charts/rook-ceph/templates/rolebinding.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cmd/rook/rook/rook.go
  go.mod
  go.sum
  pkg/clusterd/context.go
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/objectstore.go
  pkg/util/exec/exec.go
  pkg/util/exec/exec_pod.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_file_test.go
Labels: backport-release-1.6, ceph

#8274 ceph: fix pdb of RGW instances
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
Labels: backport-release-1.6, ceph, ceph-rgw

#8286 ceph: always rehydrate the access and secret keys
  pkg/operator/ceph/controller/object_operations.go
  pkg/operator/ceph/object/bucket/rgw-handlers.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/user/controller.go
Labels: backport-release-1.6, ceph

#8288 ceph: destroy all vault keys on kv version 2
  go.mod
  go.sum
  pkg/daemon/ceph/osd/kms/kms.go
Labels: ceph

#8297 ceph: add missing spec to the object context
  pkg/operator/ceph/object/admin_test.go
  pkg/operator/ceph/object/user/controller.go
Labels: backport-release-1.6, ceph

#8296 rook: Add image pull secrets option on new helm cluster
  cluster/charts/rook-ceph-cluster/templates/serviceaccount.yaml
  cluster/charts/rook-ceph-cluster/values.yaml
Labels: helm

#8301 ceph: create pdb for all rgw and cephfs
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
Labels: backport-release-1.6, ceph

#8304 ceph: mount dev directory in lvm mode osd on osd on lv-backed pvc
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.6, ceph, ceph-osd

#7969 docs: add the example of pvc-based ceph cluster on top of bare metal
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
Labels: backport-release-1.6, ceph, ceph-osd, docs

#8325 ceph: Update default ceph image to latest v16.2.5
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph

#8155 ceph: create new keyring for osd
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
Labels: backport-release-1.6, ceph, ceph-osd

#8339 ceph: proxy rbd commands when multus is enabled
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
  pkg/daemon/ceph/client/info.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/object/admin.go
Labels: backport-release-1.6, ceph

#7535 ceph: Set the location on the mon daemon for stretch clusters
  Documentation/ceph-cluster-crd.md
  PendingReleaseNotes.md
  cluster/examples/kubernetes/ceph/cluster-stretched-aws.yaml
  pkg/daemon/ceph/client/mon.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/spec.go
Labels: ceph

#8330 ceph: Reconcile mgr services with every reconcile
  cmd/rook/ceph/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/version/version_test.go
Labels: backport-release-1.6, ceph

#8326 Convert NFS and Cassandra CRDs to v1 and auto-generate the CRDs
  .github/workflows/integration-test-cassandra-suite.yaml
  .github/workflows/integration-test-nfs-suite.yaml
  Documentation/cassandra.md
  Documentation/k8s-pre-reqs.md
  Documentation/nfs.md
  PendingReleaseNotes.md
  build/crds/build-crds.sh
  cluster/examples/kubernetes/cassandra/crds.yaml
  cluster/examples/kubernetes/cassandra/operator.yaml
  cluster/examples/kubernetes/nfs/common.yaml
  cluster/examples/kubernetes/nfs/crds.yaml
  cluster/examples/kubernetes/nfs/operator.yaml
  pkg/apis/cassandra.rook.io/v1alpha1/types.go
  tests/framework/installer/cassandra_manifests.go
  tests/framework/installer/ceph_settings.go
  tests/framework/installer/nfs_manifests.go
  tests/framework/installer/settings.go
Labels: cassandra, ceph, nfs

#8344 ceph: create rook-ceph-system ClusterRoleBinding in operator namespace
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/charts/rook-ceph/templates/clusterrolebinding.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/charts/rook-ceph/templates/rolebinding.yaml
Labels: backport-release-1.6, ceph

#8252 ceph: Test upgrades from v1.6 to master
  pkg/operator/ceph/object/health.go
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.6.go
  tests/integration/ceph_base_file_test.go
  tests/integration/ceph_upgrade_test.go
Labels: ceph, test

#8340 ceph: define specific ServceAccount/RBAC for ceph osd purge job
  cluster/charts/rook-ceph-cluster/templates/role.yaml
  cluster/charts/rook-ceph-cluster/templates/rolebinding.yaml
  cluster/charts/rook-ceph-cluster/templates/serviceaccount.yaml
  cluster/charts/rook-ceph/templates/role.yaml
  cluster/charts/rook-ceph/templates/rolebinding.yaml
  cluster/charts/rook-ceph/templates/serviceaccount.yaml
  cluster/examples/kubernetes/ceph/common-second-cluster.yaml
  cluster/examples/kubernetes/ceph/common.yaml
  cluster/examples/kubernetes/ceph/osd-purge.yaml
Labels: backport-release-1.6, ceph

#7977 ceph: update PodDisruptionBudget from v1beta1 to v1
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/mon/drain.go
  pkg/operator/ceph/cluster/mon/drain_test.go
  pkg/operator/ceph/disruption/clusterdisruption/add.go
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
  pkg/operator/ceph/disruption/clusterdisruption/pools.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
  pkg/operator/ceph/disruption/clusterdisruption/static_pdb.go
  pkg/operator/k8sutil/k8sutil.go
Labels: backport-release-1.6, ceph

#8319 ceph: disable raw mode for disks
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-quickstart.md
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/daemon/ceph/osd/device.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/util/sys/device.go
  pkg/util/sys/device_test.go
Labels: backport-release-1.6, bug, ceph, ceph-osd

#8350 ceph: remove operator config `ROOK_ALLOW_MULTIPLE_FILESYSTEMS`
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
  pkg/operator/ceph/file/filesystem_test.go
Labels: ceph

#8359 ceph: remove `removeExtraMirrors()`
  pkg/operator/ceph/cluster/rbd/mirror.go
  pkg/operator/ceph/cluster/rbd/mirror_test.go
Labels: ceph

#8356 ceph: Update test to watch for v1 cronjob instead of v1beta1
  pkg/operator/ceph/cluster/crash/reconcile.go
  tests/framework/utils/k8s_helper.go
Labels: backport-release-1.6, ceph

#8353 ceph: mock object store user create
  go.mod
  go.sum
  pkg/operator/ceph/object/admin_mock.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/dependents.go
  pkg/operator/ceph/object/dependents_test.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
Labels: ceph

#8358 ceph: move all of our docker.io reference to quay.io
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-local-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched-aws.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster-test.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster_external_test.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/spec_test.go
  pkg/operator/ceph/cluster/mon/spec_test.go
  pkg/operator/ceph/cluster/osd/integration_test.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/osd/update_test.go
  pkg/operator/ceph/cluster/rbd/spec_test.go
  pkg/operator/ceph/file/mds/spec_test.go
  pkg/operator/ceph/file/mirror/spec_test.go
  pkg/operator/ceph/nfs/spec_test.go
  pkg/operator/ceph/object/spec_test.go
  tests/framework/installer/ceph_installer.go
  tests/manifests/test-cluster-on-pvc-encrypted.yaml
Labels: ceph

#8351 ceph: remove unnecessary exec helpers
  pkg/daemon/ceph/client/auth.go
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/config.go
  pkg/daemon/ceph/client/crash_test.go
  pkg/daemon/ceph/client/crush.go
  pkg/daemon/ceph/client/crush_test.go
  pkg/daemon/ceph/client/deviceclass_test.go
  pkg/daemon/ceph/client/erasure-code-profile_test.go
  pkg/daemon/ceph/client/filesystem_mirror.go
  pkg/daemon/ceph/client/filesystem_mirror_test.go
  pkg/daemon/ceph/client/filesystem_test.go
  pkg/daemon/ceph/client/mgr_test.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/daemon/ceph/client/osd_test.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/daemon/ceph/osd/device_test.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/client/controller_test.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/mgr/dashboard_test.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  pkg/operator/ceph/cluster/mon/health_test.go
  pkg/operator/ceph/cluster/mon/mon_test.go
  pkg/operator/ceph/cluster/osd/health_test.go
  pkg/operator/ceph/cluster/osd/integration_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/update_test.go
  pkg/operator/ceph/cluster/rbd/controller_test.go
  pkg/operator/ceph/cluster/watcher_test.go
  pkg/operator/ceph/config/keyring/store_test.go
  pkg/operator/ceph/config/monstore_test.go
  pkg/operator/ceph/controller/spec_test.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
  pkg/operator/ceph/file/controller_test.go
  pkg/operator/ceph/file/filesystem_test.go
  pkg/operator/ceph/file/mirror/controller_test.go
  pkg/operator/ceph/nfs/controller_test.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/objectstore_test.go
  pkg/operator/ceph/object/realm/controller_test.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/spec_test.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/object/zone/controller_test.go
  pkg/operator/ceph/object/zonegroup/controller_test.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/validate_test.go
  pkg/util/exec/exec.go
  pkg/util/exec/test/mockexec.go
  pkg/util/exec/translate_exec.go
Labels: ceph

#8371 ceph: remove non-existing mock
  pkg/operator/ceph/object/dependents_test.go
Labels: ceph

#8377 cassandra: Tests should just use master tag instead of version tag
  .github/workflows/integration-test-cassandra-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
Labels: cassandra

#8037 ceph: add ceph dashboard link
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.7, ceph

#8370 ceph: updated mon health check goroutine for reconfiguring patch values
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: backport-release-1.6, backport-release-1.7, ceph

#7995 ceph: make the timeout of ceph commands configurable
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  pkg/daemon/ceph/client/command.go
  pkg/daemon/ceph/client/command_test.go
  pkg/daemon/ceph/client/info.go
  pkg/daemon/ceph/client/mon_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/mgr/orchestrator.go
  pkg/operator/ceph/cluster/mgr/orchestrator_test.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/controller/controller_utils_test.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/operator.go
  pkg/util/exec/exec.go
  pkg/util/exec/exec_pod.go
Labels: backport-release-1.7, ceph

#8347 ceph: update rook-ceph-mgr-cluster role rules to include PV and SC
  cluster/charts/rook-ceph/templates/clusterrole.yaml
  cluster/examples/kubernetes/ceph/common.yaml
Labels: backport-release-1.7, ceph

#8291 ceph: enable again the Rook orchestrator mgr test
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_mgr_test.go
Labels: ceph, test

#8380 ceph: add mirroring peer specification to CephBlockPool CRD
  .github/workflows/canary-integration-test.yml
  Documentation/ceph-pool-crd.md
  Documentation/ceph-rbd-mirror-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/pre-k8s-1.16/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/mirror.go
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  pkg/operator/ceph/pool/peers.go
Labels: backport-release-1.7, ceph

#8406 docs: update ancillary resources (monitoring)
  Documentation/ceph-monitoring.md
  Documentation/ceph-upgrade.md
Labels: backport-release-1.6, backport-release-1.7, ceph, docs, monitoring, upgrade

#8422 ceph: Run flex suite on K8s 1.11
  .github/workflows/integration-tests-on-release.yaml
Labels: skip-ci

#8401 ceph: Add additional helm chart functionality for ingresses and defining the ceph storage crds
  Documentation/ceph-block.md
  Documentation/helm-ceph-cluster.md
  cluster/charts/rook-ceph-cluster/templates/_helpers.tpl
  cluster/charts/rook-ceph-cluster/templates/cephblockpool.yaml
  cluster/charts/rook-ceph-cluster/templates/cephfilesystem.yaml
  cluster/charts/rook-ceph-cluster/templates/cephobjectstore.yaml
  cluster/charts/rook-ceph-cluster/templates/configmap.yaml
  cluster/charts/rook-ceph-cluster/templates/deployment.yaml
  cluster/charts/rook-ceph-cluster/templates/ingress.yaml
  cluster/charts/rook-ceph-cluster/values.yaml
  tests/framework/installer/ceph_helm_installer.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_settings.go
Labels: backport-release-1.7, ceph

#8265 ceph: auto detect vault k/v version
  .github/workflows/canary-integration-test.yml
  pkg/daemon/ceph/osd/kms/kms.go
  pkg/daemon/ceph/osd/kms/kms_test.go
  pkg/daemon/ceph/osd/kms/vault_api.go
  pkg/operator/ceph/object/spec.go
  pkg/operator/ceph/object/spec_test.go
  tests/manifests/test-kms-vault-spec.yaml
  tests/scripts/deploy-validate-vault.sh
Labels: backport-release-1.7, ceph

#8420 ceph: Remove old references to luminous and mimic versions
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-common-issues.md
  Documentation/ceph-configuration.md
  cluster/charts/rook-ceph-cluster/values.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/filesystem.yaml
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  cluster/examples/kubernetes/ceph/pool.yaml
  pkg/daemon/ceph/client/filesystem.go
  pkg/daemon/ceph/client/upgrade.go
  pkg/daemon/ceph/client/upgrade_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/cluster/version_test.go
  pkg/operator/ceph/version/version_test.go
Labels: backport-release-1.7, ceph

#8419 docs: ceph: update upgrade docs for Rook v1.7
  Documentation/ceph-upgrade.md
Labels: backport-release-1.7, ceph, docs, upgrade

#8403 ceph: add an option to preserve pvc in osd purge job
  Documentation/ceph-osd-mgmt.md
  cluster/examples/kubernetes/ceph/osd-purge.yaml
  cmd/rook/ceph/osd.go
  pkg/daemon/ceph/osd/remove.go
Labels: backport-release-1.7, ceph, ceph-osd

#8429 ceph: change the debug implementation of the admin ops API
  go.mod
  go.sum
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket/provisioner.go
Labels: backport-release-1.7, ceph

#8355 ceph: added monitoring managedBy label to metrics
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/mgr_test.go
Labels: ceph

#8410 ceph: small bootstrap sequence refactor
  pkg/operator/ceph/cluster/cluster.go
  pkg/operator/ceph/cluster/cluster_test.go
  pkg/operator/ceph/cluster/controller.go
Labels: backport-release-1.7, ceph

#8437 docs: Upgrade guide cleanup of previous release upgrade issues
  Documentation/ceph-upgrade.md
Labels: backport-release-1.7, ceph, docs, upgrade

#8439 docs: fix command to remove cluster CRD finalizer
  Documentation/ceph-teardown.md
Labels: backport-release-1.7, docs
