Repository rook/rook, pull requests merged in 2021-06, with the labels that each got.

#8022 ceph: force upper case for Operator log level
  pkg/operator/ceph/operator.go
Labels: ceph

#7996 ceph: fix cert manager errors
  tests/scripts/deploy_admission_controller.sh
Labels: ceph

#8005 ceph: add ceph cluster fsid to LUKS header
  pkg/apis/ceph.rook.io/v1/security.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/encryption.go
  pkg/daemon/ceph/osd/encryption_test.go
  pkg/daemon/ceph/osd/kms/envs.go
  pkg/daemon/ceph/osd/kms/vault.go
  pkg/daemon/ceph/osd/kms/volumes.go
  pkg/daemon/ceph/osd/volume.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  tests/manifests/test-cluster-on-pvc-encrypted.yaml
  tests/scripts/github-action-helper.sh
  tests/scripts/validate_cluster.sh
Labels: ceph

#8006 ceph: add support for adding rbd and cephfs tolerations and affinities separately
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/csi/util.go
Labels: backport-release-1.6, ceph

#8031 ceph: stop the monitoring before cleanup
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/pool/controller.go
Labels: backport-release-1.6, ceph

#8020 ceph: retry starting CSI drivers on failure
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph

#7885 docs: add design for blocking CephCluster deletion
  design/ceph/resource-dependencies.md
  design/ceph/resource-dependencies.png
Labels: ceph, design, feature

#8042 ceph: fix external cluster upgrade
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.6, ceph

#8047 ceph: always skip disks with filesystem
  pkg/daemon/ceph/osd/daemon.go
Labels: ceph

#8043 ceph: remove obsolete statefulset functions
  pkg/operator/ceph/csi/util.go
  pkg/operator/ceph/csi/util_test.go
  pkg/operator/k8sutil/statefulset.go
Labels: ceph

#8017 docs: update ceph-teardown doc
  Documentation/ceph-teardown.md
Labels: backport-release-1.6, ceph, docs

#8040 Add a disaster recovery guide for deleted cephcluster
  Documentation/ceph-advanced-configuration.md
  Documentation/ceph-disaster-recovery.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
Labels: backport-release-1.6, docs

#8063 ceph: removes experimental for multus in cluster.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
Labels: backport-release-1.6, ceph

#8074 ceph: correct enableCSIHostNetwork in helm charts
  cluster/charts/rook-ceph/values.yaml
Labels: backport-release-1.6, ceph

#8028 ceph: add ability to set resource limit for OSDs based on device classes
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster.yaml
  pkg/apis/ceph.rook.io/v1/resources.go
  pkg/daemon/ceph/cleanup/disk.go
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
  pkg/operator/ceph/cluster/osd/create.go
  pkg/operator/ceph/cluster/osd/envs.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec.go
  pkg/util/sys/device.go
Labels: backport-release-1.6, ceph

#8087 ceph: bump controller runtime and k8s version
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  go.mod
  go.sum
  pkg/operator/k8sutil/patcher.go
  pkg/operator/nfs/provisioner.go
Labels: ceph

#8086 ceph: fix detection of delete event reconciliation
  pkg/operator/ceph/cluster/predicate.go
  pkg/operator/ceph/controller/predicate.go
Labels: backport-release-1.6, ceph

#7998 ceph: stop using radosgw-admin CLI for s3 user management
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh
  cluster/examples/kubernetes/ceph/import-external-cluster.sh
  go.mod
  go.sum
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/controller/controller_utils.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mirror/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/bucket.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/bucket/provisioner_test.go
  pkg/operator/ceph/object/bucket/rgw-handlers.go
  pkg/operator/ceph/object/bucket/util.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/rgw_test.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/status.go
  pkg/operator/ceph/object/user.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/user/controller_test.go
  pkg/operator/ceph/pool/controller.go
Labels: backport-release-1.6, ceph

#8082 ceph: operate over object store pools concurrently
  go.mod
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/objectstore.go
Labels: backport-release-1.6, ceph

#8083 ceph: mons should enable v1 address type when enabling v2
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.6, ceph

#8060 ceph: compare ceph commit ID for upgrade check
  pkg/operator/ceph/cluster/version_test.go
  pkg/operator/ceph/version/version.go
  pkg/operator/ceph/version/version_test.go
Labels: backport-release-1.6, ceph

#8102 ceph: set `CSI_ENABLE_HOST_NETWORK` default value to true
  pkg/operator/ceph/csi/csi.go
Labels: backport-release-1.6, ceph

#8089 ceph: Disable insecure global id if no insecure clients
  pkg/daemon/ceph/client/config.go
  pkg/daemon/ceph/client/mgr.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/cephstatus_test.go
  pkg/operator/ceph/cluster/mgr/dashboard.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/controller_test.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
  tests/integration/ceph_upgrade_test.go
Labels: backport-release-1.6, ceph

#8098 ceph: do not fail prepareOSD job if devices are not passed
  cmd/rook/ceph/osd.go
  cmd/rook/ceph/osd_test.go
Labels: backport-release-1.6, ceph

#8109 ceph: handle CephCluster stopCleanupCh better
  pkg/operator/ceph/cluster/controller.go
Labels: ceph

#8115 ceph: correct mirroring typo
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: ceph

#8118 ceph: Add RBAC for mgr to create service monitor
  cluster/examples/kubernetes/ceph/monitoring/rbac.yaml
Labels: backport-release-1.6, ceph

#8127 ceph: remove file unnecessary file
  go.mod
  go.sum
  tests/framework/utils/mysql_helper.go
Labels: ceph

#8125 ceph: update csi sidecar images to latest release
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph

#8130 ceph: remove --force when creating filesystem
  pkg/daemon/ceph/client/filesystem.go
  pkg/operator/ceph/file/filesystem.go
Labels: backport-release-1.6, ceph

#8117 ceph: set device class for already present osd deployments
  pkg/daemon/ceph/client/fake/osd.go
  pkg/daemon/ceph/client/osd.go
  pkg/daemon/ceph/client/osd_test.go
  pkg/operator/ceph/cluster/osd/integration_test.go
  pkg/operator/ceph/cluster/osd/osd_test.go
  pkg/operator/ceph/cluster/osd/update.go
  pkg/operator/ceph/cluster/osd/update_test.go
Labels: backport-release-1.6, ceph

#8136 ceph: Instructions for taking over management of the cluster CR with the cluster helm chart
  Documentation/helm-ceph-cluster.md
  Documentation/helm-operator.md
  Documentation/helm.md
  cluster/charts/rook-ceph-cluster/templates/cephcluster.yaml
  cluster/charts/rook-ceph-cluster/values.yaml
Labels: ceph

#8145 docs: clarify resource documentation
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-filesystem-crd.md
Labels: backport-release-1.6

#8137 ceph: Activate osd container should use correct dataDirHostPath
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.6, ceph

#8139 ceph: initialise httpclient for bucketchecker and objectstoreuser
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/config.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/s3-handlers.go
  pkg/operator/ceph/object/user/controller.go
Labels: backport-release-1.6, ceph

#8114 ceph: update cronjob from v1beta1 to v1
  pkg/operator/ceph/cluster/crash/add.go
  pkg/operator/ceph/cluster/crash/crash.go
  pkg/operator/ceph/cluster/crash/crash_test.go
  pkg/operator/ceph/cluster/crash/reconcile.go
Labels: backport-release-1.6, ceph

#8157 ceph: use cacert if no client cert/key are present
  pkg/operator/ceph/cluster/osd/spec.go
Labels: ceph

#8147 ceph: Mons in stretch cluster should be assigned to a node when using dataDirHostPath
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
Labels: backport-release-1.6, ceph

#8142 core: sort multus annotation strings when applying
  pkg/operator/k8sutil/network.go
  pkg/operator/k8sutil/network_test.go
Labels: backport-release-1.6, do-not-merge, multus

#8164 ceph: only require rgw-admin-ops user when an endpoint is provided
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.6, ceph

#8140 ceph: read and validate CSI params in Go routine
  pkg/operator/ceph/csi/csi.go
  pkg/operator/ceph/csi/spec.go
  pkg/operator/ceph/operator.go
Labels: backport-release-1.6, ceph

#8173 ceph: do not leak key encryption key
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, backport-release-1.6, ceph

#8175 ceph: run CLI output with Info logging
  pkg/util/exec/exec.go
Labels: ceph

#8151 ceph: set example memory requests and limits on the operator
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: ceph

#8181 ceph: Evict a mon if colocated with another mon
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/cluster/mon/health_test.go
Labels: backport-release-1.6, ceph

#7926 ceph: append additional info in the rbd-mirror bootstrap peer token
  pkg/operator/ceph/cluster/rbd/config.go
  pkg/operator/ceph/controller/mirror_peer.go
  pkg/operator/ceph/file/mirror/config.go
  pkg/operator/ceph/pool/config.go
  pkg/operator/ceph/pool/config_test.go
Labels: ceph

#8190 ceph: update csi node-driver-registrar to latest release
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph

#8191 ceph: fix ineffective break statement
  pkg/operator/ceph/cluster/cleanup.go
Labels: backport-release-1.6, ceph

#8199 ceph: Update cluster-on-pvc example for proper OSD scheduling
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
Labels: backport-release-1.6, ceph

#8206 ceph: fix overwriting shared livenessProbe
  pkg/operator/ceph/config/livenessprobe.go
Labels: backport-release-1.6, ceph

#8092 ceph: add tls support to external rgw endpoint
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.py
Labels: backport-release-1.6, ceph

#8219 ceph: do not require rgw 'instances' spec
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.6, ceph

#8195 ceph: ignore atari partitions when provisioning OSDs
  Documentation/ceph-common-issues.md
  pkg/daemon/ceph/osd/daemon.go
  pkg/daemon/ceph/osd/daemon_test.go
  pkg/util/sys/device.go
  pkg/util/sys/device_test.go
Labels: backport-release-1.6, bug, ceph, ceph-osd

#8112 ceph: block delete object store when buckets and/or users exist
  Documentation/ceph-object-store-crd.md
  PendingReleaseNotes.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  design/ceph/resource-dependencies.md
  pkg/apis/ceph.rook.io/v1/cluster.go
  pkg/apis/ceph.rook.io/v1/object.go
  pkg/apis/ceph.rook.io/v1/status.go
  pkg/apis/ceph.rook.io/v1/status_test.go
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/apis/ceph.rook.io/v1/zz_generated.deepcopy.go
  pkg/daemon/ceph/client/pool_test.go
  pkg/operator/ceph/client/controller.go
  pkg/operator/ceph/cluster/cephstatus.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/controller_test.go
  pkg/operator/ceph/cluster/osd/health.go
  pkg/operator/ceph/cluster/rbd/controller.go
  pkg/operator/ceph/controller/conditions.go
  pkg/operator/ceph/controller/status.go
  pkg/operator/ceph/controller/status_test.go
  pkg/operator/ceph/file/controller.go
  pkg/operator/ceph/file/mirror/controller.go
  pkg/operator/ceph/nfs/controller.go
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/admin_test.go
  pkg/operator/ceph/object/bucket/provisioner.go
  pkg/operator/ceph/object/controller.go
  pkg/operator/ceph/object/controller_test.go
  pkg/operator/ceph/object/dependents.go
  pkg/operator/ceph/object/health.go
  pkg/operator/ceph/object/objectstore.go
  pkg/operator/ceph/object/realm/controller.go
  pkg/operator/ceph/object/rgw.go
  pkg/operator/ceph/object/status.go
  pkg/operator/ceph/object/user/controller.go
  pkg/operator/ceph/object/zone/controller.go
  pkg/operator/ceph/object/zonegroup/controller.go
  pkg/operator/ceph/pool/status.go
  pkg/operator/ceph/reporting/reporting.go
  pkg/operator/ceph/reporting/status.go
  pkg/operator/ceph/reporting/status_test.go
  pkg/operator/k8sutil/status.go
  pkg/util/dependents/dependents.go
  tests/framework/utils/k8s_helper.go
  tests/integration/ceph_base_object_test.go
Labels: ceph, object bucket claims (OBC), objectstore

#8225 ci: wait for the ceph-mgr IP to be available
  .github/workflows/canary-integration-test.yml
Labels: backport
