Repository rook/rook, pull requests merged in 2021-05, with the labels that each got.

#7789 ceph: fix external cluster mode
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
  pkg/operator/ceph/cluster/cluster_external.go
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/ceph_manifests.go
Labels: backport-release-1.6, ceph, debug-multi-cluster-suite

#7810 ceph: update cephcsi to v3.2.2
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
Labels: ceph

#7813 ceph: Remove unused volumesource schema from cephcluster
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/rook.io/v1/types.go
  pkg/apis/rook.io/v1/zz_generated.deepcopy.go
  pkg/operator/ceph/cluster/osd/create.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/osd.go
  pkg/operator/ceph/cluster/osd/spec_test.go
  pkg/operator/ceph/cluster/watcher.go
  pkg/operator/ceph/cluster/watcher_test.go
Labels: backport-release-1.6, ceph

#7815 ceph: Set the device class on raw mode osds
  pkg/daemon/ceph/osd/volume.go
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.6, ceph

#7823 ceph: Remove obsolete references to filestore
  cmd/rook/ceph/osd.go
  images/ceph/set-ceph-debug-level
  pkg/daemon/ceph/osd/volume.go
Labels: ceph

#7711 ceph: update snapshot APIs from v1beta1 to v1
  Documentation/ceph-csi-snapshot.md
  Documentation/ceph-upgrade.md
  Documentation/helm-operator.md
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/snapshot.yaml
  cluster/examples/kubernetes/ceph/csi/cephfs/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshot.yaml
  cluster/examples/kubernetes/ceph/csi/rbd/snapshotclass.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/csi/spec.go
  tests/framework/utils/snapshot.go
Labels: ceph

#7801 ceph: retry once before mon failover if mon pod is unscheduled
  Documentation/ceph-mon-health.md
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/k8sutil/pod.go
  pkg/operator/k8sutil/pod_test.go
Labels: backport-release-1.6, ceph

#7829 ceph: update images to v16.2.2
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  images/ceph/Makefile
Labels: backport-release-1.6, ceph

#7820 ceph: update erasure coded profile command
  pkg/daemon/ceph/client/erasure-code-profile.go
  pkg/daemon/ceph/client/erasure-code-profile_test.go
Labels: backport-release-1.6, ceph

#7835 ceph: Preserve volume claim template annotations during upgrade
  build/crds/build-crds.sh
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
Labels: backport-release-1.6, ceph

#7838 ceph: Fix intermittent volume unit test
  pkg/daemon/ceph/osd/volume_test.go
Labels: backport-release-1.6, ceph

#7807 ceph: allow setting primary-affinity to osd
  Documentation/ceph-cluster-crd.md
  pkg/daemon/ceph/client/osd.go
  pkg/operator/ceph/cluster/osd/config/config.go
  pkg/operator/ceph/cluster/osd/deviceSet.go
  pkg/operator/ceph/cluster/osd/deviceset_test.go
  pkg/operator/ceph/cluster/osd/osd.go
Labels: ceph

#7526 core: enhancement in debug logs
  pkg/operator/ceph/cluster/crash/reconcile.go
  pkg/operator/ceph/cluster/predicate.go
  pkg/operator/ceph/config/store.go
  pkg/operator/ceph/controller/predicate.go
Labels: backport-release-1.6, logs, operator

#7850 ceph: Multicluster test cleanup of external cluster first
  Jenkinsfile
  tests/framework/installer/ceph_installer.go
  tests/integration/ceph_multi_cluster_test.go
Labels: backport-release-1.6, ceph, test

#7857 ceph: Add nullable to object gateway settings
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport-release-1.6, ceph

#7726 ceph: update podDisruptionBudget controller for OSD
  design/ceph/ceph-managed-disruptionbudgets.md
  pkg/operator/ceph/disruption/clusterdisruption/osd.go
  pkg/operator/ceph/disruption/clusterdisruption/osd_test.go
  pkg/operator/ceph/disruption/clusterdisruption/reconcile.go
Labels: backport-release-1.6, ceph

#7877 ceph: remove redundant csi statefulset template path vars
  pkg/operator/ceph/csi/spec.go
Labels: backport-release-1.6, ceph

#7875 ceph: actively update the service endpoint for external mgr
  Documentation/ceph-cluster-crd.md
  cluster/examples/kubernetes/ceph/create-external-cluster-resources.sh
  pkg/operator/ceph/cluster/cluster_external.go
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/ceph/cluster/mgr/mgr.go
  pkg/operator/ceph/cluster/mgr/spec.go
  pkg/operator/ceph/cluster/mon/health.go
  pkg/operator/ceph/controller/spec.go
  pkg/operator/ceph/controller/spec_test.go
Labels: backport-release-1.6, ceph

#7889 ceph: do not overwrite the probe handler
  pkg/operator/ceph/config/livenessprobe.go
  pkg/operator/ceph/config/livenessprobe_test.go
Labels: backport-release-1.6, ceph, debug-canary

#7891 ceph: wait for the prometheus module to be ready
  .github/workflows/canary-integration-test.yml
Labels: backport-release-1.6, ceph

#7884 ceph: Persist expected mon endpoints immediately during mon failover
  pkg/operator/ceph/cluster/mon/mon.go
  pkg/operator/ceph/cluster/mon/mon_test.go
Labels: backport-release-1.5, backport-release-1.6, ceph

#7886 ceph: fix hostpath of osd to avoid data corruption
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.5, backport-release-1.6, ceph

#7898 build: rook-ceph Operator deployment for OKD should be the same as OCP for it to work
  cluster/olm/ceph/generate-rook-csv.sh
Labels: backport-release-1.6

#7911 ceph: Remove obsolete operator setting for enabling rbac
  cluster/charts/rook-ceph/templates/deployment.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
Labels: ceph

#7546 ceph: support specifying only public network or only cluster network or both
  pkg/operator/ceph/config/network.go
  pkg/operator/ceph/config/network_test.go
  pkg/operator/k8sutil/network.go
  pkg/operator/k8sutil/network_test.go
Labels: backport-release-1.6, do-not-merge

#7919 ceph: remove an missing field in crd
  Documentation/ceph-object-store-crd.md
  Documentation/ceph-object.md
  cluster/examples/kubernetes/ceph/object-ec.yaml
  cluster/examples/kubernetes/ceph/object-multisite-pull-realm.yaml
  cluster/examples/kubernetes/ceph/object-multisite.yaml
  cluster/examples/kubernetes/ceph/object-openshift.yaml
  cluster/examples/kubernetes/ceph/object-test.yaml
  cluster/examples/kubernetes/ceph/object.yaml
  design/ceph/object/store.md
  design/common/object-bucket.md
  tests/framework/installer/ceph_manifests.go
  tests/framework/installer/ceph_manifests_v1.5.go
  tests/manifests/test-object.yaml
Labels: ceph

#7922 doc: fix patch command
  Documentation/ceph-disaster-recovery.md
Labels: backport-release-1.6, docs, skip-ci

#7928 ci: retry when fetching online manifests
  tests/framework/installer/ceph_settings.go
Labels: backport-release-1.6

#7933 ceph: Updated dashboard ingress example for v1
  Documentation/ceph-dashboard.md
  cluster/examples/kubernetes/ceph/dashboard-ingress-https.yaml
Labels: backport-release-1.6, ceph

#7222 ceph: generate cephCluster reconcile result as events
  pkg/operator/ceph/cluster/controller.go
  pkg/operator/k8sutil/events.go
  pkg/operator/k8sutil/events_test.go
Labels: backport-release-1.6, ceph

#7949 ceph: correct component in mirroring yaml
  cluster/examples/kubernetes/ceph/rbdmirror.yaml
Labels: ceph

#7948 nfs: add github action for NFS integration test
  .github/workflows/integration-test-nfs-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
Labels: nfs

#7952 docs: call partprobe after zapping device
  Documentation/ceph-teardown.md
Labels: backport-release-1.6, docs

#7951 ceph: scan raw OSDs on nodes in OSD init container
  pkg/operator/ceph/cluster/osd/spec.go
Labels: backport-release-1.6, bug, ceph, ceph-osd

#7935 ceph: rehydrate the bootstrap peer token secret on monitor changes
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
  pkg/operator/ceph/pool/config.go
  pkg/operator/ceph/pool/controller.go
  pkg/operator/ceph/pool/predicate.go
  pkg/operator/ceph/pool/predicate_test.go
  pkg/operator/k8sutil/secret.go
Labels: ceph

#7930 Fix helm chart to allow multiple filesystems
  cluster/charts/rook-ceph/templates/deployment.yaml
Labels: backport-release-1.6, ceph, helm

#7974 ceph: do not configure external metric endpoint is not present
  pkg/operator/ceph/controller/spec.go
Labels: backport-release-1.6, ceph

#7979 ceph: Rook v1.6 - update Ceph version to v15.2.12 (latest)
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  pkg/apis/ceph.rook.io/v1/types.go
Labels: backport, backport-release-1.6, bug, ceph

#7945 build: bump to golang version 1.16
  .github/workflows/integration-test-cassandra-suite.yaml
  .github/workflows/integration-test-flex-suite.yaml
  .github/workflows/integration-test-helm-suite.yaml
  .github/workflows/integration-tests-on-release.yaml
  .github/workflows/unit-test.yml
  build/makelib/golang.mk
  go.mod
  go.sum
Labels: backport-release-1.6, build

#7986 ceph: remove '--site-name' arg when creating bootstrap peer token
  pkg/daemon/ceph/client/mirror.go
  pkg/daemon/ceph/client/mirror_test.go
Labels: backport-release-1.6, ceph

#7985 ceph: pin volume replication to release-v0.1 branch
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  go.mod
  go.sum
Labels: backport-release-1.6, ceph

#6868 ceph: add github action for helm lint
  .github/workflows/helm-lint.yaml
Labels: ceph

#7993 ceph: update references to v15.2.11 to v16.2.4
  Documentation/ceph-cluster-crd.md
  Documentation/ceph-upgrade.md
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/examples/kubernetes/ceph/cluster-external-management.yaml
  cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
  cluster/examples/kubernetes/ceph/cluster-stretched.yaml
  cluster/examples/kubernetes/ceph/cluster.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/olm/ceph/assemble/metadata-common.yaml
  design/ceph/ceph-cluster-cleanup.md
  images/ceph/Makefile
  pkg/apis/ceph.rook.io/v1/types.go
  tests/scripts/k8s-vagrant-multi-node.sh
  tests/scripts/minikube.sh
Labels: ceph

#7976 ceph: change operator log level dynamically
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  pkg/operator/ceph/operator.go
Labels: backport-release-1.6, ceph, logs, operator

#8008 ceph: update the backend path for transit engine
  pkg/operator/ceph/object/spec.go
Labels: backport-release-1.6, ceph

#7778 ceph: implement CephCluster CRD Helm Chart
  Documentation/helm-ceph-cluster.md
  build/makelib/helm.mk
  cluster/charts/rook-ceph-cluster/.helmignore
  cluster/charts/rook-ceph-cluster/Chart.yaml
  cluster/charts/rook-ceph-cluster/README.md
  cluster/charts/rook-ceph-cluster/templates/NOTES.txt
  cluster/charts/rook-ceph-cluster/templates/_helpers.tpl
  cluster/charts/rook-ceph-cluster/templates/cephcluster.yaml
  cluster/charts/rook-ceph-cluster/templates/clusterrolebinding.yaml
  cluster/charts/rook-ceph-cluster/templates/configmap.yaml
  cluster/charts/rook-ceph-cluster/templates/deployment.yaml
  cluster/charts/rook-ceph-cluster/templates/role.yaml
  cluster/charts/rook-ceph-cluster/templates/rolebinding.yaml
  cluster/charts/rook-ceph-cluster/templates/serviceaccount.yaml
  cluster/charts/rook-ceph-cluster/values.yaml
  go.mod
  tests/framework/installer/ceph_helm_installer.go
  tests/framework/installer/ceph_installer.go
  tests/framework/utils/helm_helper.go
Labels: ceph, helm

#8001 ceph: expand PVC only if storageclass allow expansion
  pkg/operator/k8sutil/pvc.go
  pkg/operator/k8sutil/pvc_test.go
Labels: backport-release-1.6, ceph

#8000 ceph: parse json correctly
  pkg/operator/ceph/object/admin.go
  pkg/operator/ceph/object/admin_test.go
Labels: backport-release-1.6, ceph

#8011 ceph: remove one extra mon per health check
  pkg/operator/ceph/cluster/mon/health.go
Labels: backport-release-1.6, ceph
