Repository rook/rook, pull requests merged in 2021-10, with the labels that each got.

#8901 ceph: adding 'namespace' field to the needed ceph queries
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph, backport-release-1.7

#8896 ceph: increasing the auto-resolvable alerts' delay to 15m
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph, backport-release-1.7

#8804 ceph: retry <ceph orch> commands when they fail
  tests/integration/ceph_mgr_test.go
Labels: bug, ceph, test, ceph-mgr

#8909 ceph: reverting the time delay of 'CephMonHighNumberOfLeaderChanges'
  cluster/examples/kubernetes/ceph/monitoring/prometheus-ceph-v14-rules.yaml
Labels: ceph, backport-release-1.7

#8742 docs: add doc to recover from pod from lost node
  Documentation/ceph-csi-troubleshooting.md
Labels: skip-ci, backport-release-1.7

#8917 core: close stdoutPipe for the discovery daemon
  pkg/daemon/discover/discover.go
Labels: backport-release-1.7

#8915 docs: Add node restart requirement for csi upgrade issue
  Documentation/ceph-upgrade.md
Labels: skip-ci

#8845 csi: No longer install the VolumeReplication CRDs from Rook
  Documentation/ceph-csi-drivers.md
  build/crds/build-crds.sh
  build/crds/crds.go
  cluster/charts/rook-ceph/templates/resources.yaml
  cluster/charts/rook-ceph/values.yaml
  cluster/examples/kubernetes/ceph/crds.yaml
  cluster/examples/kubernetes/ceph/operator-openshift.yaml
  cluster/examples/kubernetes/ceph/operator.yaml
  go.mod
  go.sum
  images/ceph/Makefile
  tests/framework/installer/ceph_installer.go
  tests/framework/installer/settings.go
  tests/integration/ceph_object_test.go
  tests/integration/ceph_smoke_test.go
Labels: csi, backport-release-1.7
